<div class=" error-page clearfix">
    <div class="skycom-7">
        <h1>The page you're looking for could not be found</h1>
        <p>The link you used may be out of date or the address (url) may have been typed incorrectly. Please check and try again.</p>
        <a href="http://www.sky.com">
            <i class="skycon-chevron" aria-hidden=true></i>
            Go to Sky.com
        </a>
        <p class="instructions hidden-mobile"><i class="sprite-desktop-hint-arrow-up"></i>try one of these links
        </p>
    </div>
</div>