<div id="demo-responsive-images">
    <div data-picture data-alt="David Beckham with Sky Sports Living for Sport participants Adam Brown, Eden Anderson, Michele Meola, Maariyah Atta, Conor Greensmith and Nahida Begum">
        <div data-src="wiki_images/carousel/beckham.jpg"></div>

        <div data-src="wiki_images/carousel/davinci-mobile.jpg"
             data-media="(max-width: 600px)"></div>
        <noscript>
            <img src="wiki_images/carousel/beckham.jpg"
                 alt="David Beckham with Sky Sports Living for Sport participants Adam Brown, Eden Anderson, Michele Meola, Maariyah Atta, Conor Greensmith and Nahida Begum">
        </noscript>
    </div>
</div>