code.block{
  white-space: pre;
}

.section {
  margin: 40px 0;
  border-top: 2px solid black;
}

h1.massive{
  font-size: 7em;
  line-height: 1em;
  margin: 40px 0;
}

article.example{
  margin: 10px 0;
}

.example{
  h1, h2, h3, h4{
  }
}
