---
layout: default
title: Sky Web Toolkit
---
<h1 class="wiki-header">Sky Web Toolkit <small>v{{ site.version }}</small></h1>

<a name="using-me"></a>
<section class="wiki-section">
    <h2>Using the Toolkit</h2>
    <div class="sub-section">
        <p class="developer-notes">
&lt;script src='//web-toolkit.global.sky.com/{{ site.version }}/scripts/toolkit.js'&gt;&lt;/script&gt;
&lt;link rel="stylesheet" href="//web-toolkit.global.sky.com/{{ site.version }}/stylesheets/toolkit.css"/&gt;
&lt;link rel="stylesheet" href="//web-toolkit.global.sky.com/{{ site.version }}/fonts/skycons.css"/&gt;
        </p>
    </div>
    <a name="getting-started"></a>
    <div class="sub-section">
        {% include using-the-toolkit/getting-started.html %}
    </div>
    <a name="contributing"></a>
    <div class="sub-section">
        {% include using-the-toolkit/contributing.html %}
    </div>
    <a name="accessibility"></a>
    <div class="sub-section">
        {% include using-the-toolkit/accessibility.html %}
    </div>
    <a name="coding-practises"></a>
    <div class="sub-section">
        {% include using-the-toolkit/coding-practise.html %}
    </div>
</section>

<a name="my-base"></a>
<section class="wiki-section">
    <h2>Base Styles</h2>
    <div class="sub-section">
        {% include base-styles/grid.html %}
    </div>
    <div class="sub-section">
        {% include base-styles/colours.html %}
    </div>
    <div class="sub-section">
        {% include base-styles/typography.html %}
    </div>
    <div class="sub-section">
        {% include base-styles/icons.html %}
        {% include base-styles/skycons.html %}
    </div>
    <div class="sub-section">
        {% include base-styles/buttons.html %}
    </div>
    <div class="sub-section">
        {% include base-styles/spinner.html %}
    </div>
</section>

<section class="wiki-section">
    <a name="you-make-me-complete"></a>
    <h2>Components</h2>
    <div class="sub-section">
        {% include components/breadcrumbs.html %}
    </div>
    <div class="sub-section">
        {% include components/form.html %}
    </div>
    <div class="sub-section">
        {% include components/tabs.html %}
    </div>
    <div class="sub-section">
        {% include components/carousel.html %}
    </div>
    <div class="sub-section">
        {% include components/share.html %}
    </div>
</section>

<section class="wiki-section">
	<a name="ta-dah"></a>
    <h2>Examples</h2>
    <div class="sub-section">
	    {% include examples/error-page.html %}
    </div>
</section>
