---
layout: default
title: Sky Web Toolkit
---
<h1 class="wiki-header">Sky Web Toolkit <small>v{{ site.version }}</small></h1>
<div class="section">
    <p class="developer-notes">
http://web-toolkit.global.sky.com/{{ site.version }}/scripts/toolkit.js
http://web-toolkit.global.sky.com/{{ site.version }}/stylesheets/toolkit.css
http://web-toolkit.global.sky.com/{{ site.version }}/fonts/skycons.css
    </p>
</div>

<section class="wiki-section">
    <a name="using-me"></a>
    <h2>Using the Toolkit</h2>
    <div class="sub-section">
        {% include using-the-toolkit/getting-started.html %}
    </div>
    <div class="sub-section">
        {% include using-the-toolkit/contributing.html %}
    </div>
    <div class="sub-section">
        {% include using-the-toolkit/accessibility.html %}
    </div>
    <div class="sub-section">
        {% include using-the-toolkit/coding-practise.html %}
    </div>
</section>

<section class="wiki-section">
    <a name="my-base"></a>
    <h2>Base Styles</h2>
    <div class="sub-section">
        {% include base-styles/grid.html %}
    </div>
    <div class="sub-section">
        {% include base-styles/colours.html %}
    </div>
    <div class="sub-section">
        {% include base-styles/typography.html %}
    </div>
    <div class="sub-section">
        {% include base-styles/skycons.html %}
    </div>
    <div class="sub-section">
        {% include base-styles/icons.html %}
    </div>
    <div class="sub-section">
        {% include base-styles/buttons.html %}
    </div>
    <div class="sub-section">
        {% include base-styles/spinner.html %}
    </div>
</section>

<section class="wiki-section">
    <a name="you-make-me-complete"></a>
    <h2>Components</h2>
    <div class="sub-section">
        {% include components/breadcrumbs.html %}
    </div>
    <div class="sub-section">
        {% include components/form.html %}
    </div>
    <div class="sub-section">
        {% include components/tabs.html %}
    </div>
    <div class="sub-section">
        {% include components/carousel.html %}
    </div>
</section>

<section class="wiki-section">
	<a name="ta-dah"></a>
    <h2>Examples</h2>
    <div class="sub-section">
	    {% include examples/error-page.html %}
    </div>
</section>