a.btn,
.btn {
  @include border-radius(5px);
  font: 16px/1em $font-family;
  padding: 0 15px;
  height: 32px;
  position: relative;
  z-index: 2;
  border: none;
  background-color: #0073c5;
  color: #fff;
  display: inline-block;
  line-height: 2em;
  box-sizing: border-box;
  cursor: pointer;

  &:before {
    @include transition(opacity .25s);
    @include border-radius(0 0 20px 20px);
    @include background(linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)));
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));

    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 1.5%;
    width: 97%;
    height: 10px;
  }

  &:hover, &:focus {
    text-decoration: none;
    &:before {
      opacity: 0;
    }
  }

  &.secondary {
    // not done!;
    border: solid 1px #cfcfcf;
    background: #f4f4f4;
    color: #333;
    line-height: 31px; //Text wasn't vertically aligned with old em line-height

    &:before {
      @include background(linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)));
    }
  }

  &.btn-small {
    height: 24px;
    line-height: 23px;
    padding: 0 10px;
  }

  &.btn-large {
    height: 46px;
    line-height: 45px;
  }
}