<ul>
    <li><code>.off</code> Remove event listeners that were previously applied.</li>
    <li><code>.on</code> Add listeners for standard and custom events</li>
    <li><code>.ready</code> Detect when the document has finished loading (everything except images)</li>
    <li><code>.trigger</code>  Trigger standard and custom events</li>
    <li><code>'resizeend'</code> Know the moment a user has finished resizing the browser.</li>
</ul>

<p>
    <a href="http://skyglobal.github.io/event/"><i class="skycon-chevron"></i>
        Detailed usage and examples of the <code>event</code> component
    </a>.</p>