$mobile-width: 767px;
$font-family: SkyTextRegular, Helvetica, Arial, sans-serif;

//grid
$container-width-thin: 974px;
$container-width: 1140px;
$gutter: 36px;
$column: 62px;
$textIndent: 20px;
$width-thin-plus-gutters: $container-width-thin + $gutter + $gutter;
$width-plus-gutters: $container-width + $gutter + $gutter;
$column-plus-gutter: $column + $gutter;

// colours
$link: #0070a5;

$primary: #333333;
$white: #fff;
$secondary: #666666;
$inactive: #999999;
$error: #D21717;

$primary-button: #0073c5;
$secondary-button: #eaeaea;
$success-icon: #167255;

$background-dark: #eaeaea;
$background-light: #f4f4f4;

$key-line: #dcdcdc;

$colour-sky-1: #0076be;
$colour-sky-atlantic: #003663;
$colour-sky-arts: #734993;
$colour-sky-living: #87a0af;
$colour-sky-movies: #a51d4d;

$colour-v3-red: #ed1c24;
$colour-v3-pink: #ed0677;
$colour-v3-yellow: #fdb913;
$colour-v3-green: #a6ce39;
$colour-v3-blue: #00aeef;

$colour-original: #ff6000;
$colour-family: #1998f2;
$colour-movies: #a51d4d;
$colour-sports: #d92231;
$colour-complete: #29c1ad;

$colour-google-plus: #dd4c38;
$colour-twitter: #25a8e0;
$colour-facebook: #3b5998;
$colour-sky-go: #44ad3a;
$colour-remote-record: #ed1c24;
$colour-never-miss: #0077ae;

@function em($target, $context: 16) {
    @return ($target / $context) * 1em;
}