$mobile-width: 767px;
$font-family: SkyTextRegular, Helvetica, Arial, sans-serif;

//grid
$contentWidth: 1140px;
$restrictedWidth: 974px;
$gutter: 36px;
$column: 62px;
$textIndent: 20px;
$fullWidth: $contentWidth + 60px;
$column_plus_gutter: $column + $gutter;

// colours
$link: #0070a5;

$primary: #333333;
$secondary: #666666;
$inactive: #999999;
$error: #D21717;

$primary-button: #0073c5;
$success-button: #167255;
$secondary-button: #eaeaea;

$background-dark: #eaeaea;
$background-light: #f4f4f4;

$key-line: #dcdcdc;

$colour-sky-1: #0076be;
$colour-sky-atlantic: #003663;
$colour-sky-arts: #734993;
$colour-sky-living: #cf128c;
$colour-sky-movies: #78184c;

$colour-v3-red: #ed1c24;
$colour-v3-pink: #ed0677;
$colour-v3-yellow: #fdb913;
$colour-v3-green: #a6ce39;
$colour-v3-blue: #00aeef;

$colour-sports-fanatic: #d92231;
$colour-bb-talk: #ff0078;
$colour-family-friendly: #ff6000;
$colour-complete: #29c1ad;
$colour-starter: #0094ff;
$colour-movie-lover: #78184c;
$colour-tv-only: #00549a;