<ul>
    <li>- off (You can turn off events that were previously applied)</li>
    <li>- on (You can listen for standard and custom (non-jQuery) JS events)</li>
    <li>- ready (You can detect when the document has finished loading everything except images)</li>
    <li>- trigger (You can trigger standard and custom (non-jQuery) JS events)</li>
    <li>- resizeend (You can know the moment (200ms) a user has finished resizing the browser)</li>
</ul>

<p>Detailed usage and examples of what the detect component offers can be found on the component <code><a href="http://skyglobal.github.io/event/">page</a></code>.</p>