.colour-block{
  box-sizing: border-box;
  height: 100px;
  color:white;
  border-radius:5px;
  margin-bottom:10px;
  font-size:1.25em;

  &.colour-sky-1{
    background-color: $colour-sky-1;
  }
  &.colour-sky-atlantic{
    background-color: $colour-sky-atlantic;
  }
  &.colour-sky-arts{
    background-color: $colour-sky-arts;
  }
  &.colour-sky-living{
    background-color: $colour-sky-living;
  }
  &.colour-sky-movies{
    background-color: $colour-sky-movies;
  }

  &.colour-v3-red{
    background-color: $colour-v3-red;
  }
  &.colour-v3-pink{
    background-color: $colour-v3-pink;
  }
  &.colour-v3-yellow{
    background-color: $colour-v3-yellow;
    color: $primary;
  }
  &.colour-v3-green{
    background-color: $colour-v3-green;
    color: $primary;
  }
  &.colour-v3-blue{
    background-color: $colour-v3-blue;
  }

  &.colour-sports{
    background-color: $colour-sports;
  }
  &.colour-original{
    background-color: $colour-original;
  }
  &.colour-family{
    background-color: $colour-family;
  }
  &.colour-complete{
    background-color: $colour-complete;
    color: $primary;
  }
  &.colour-movies{
    background-color: $colour-movies;
  }

  &.colour-primary{
    color: $primary;
  }
  &.colour-secondary{
    color: $secondary;
  }
  &.colour-inactive{
    color: $inactive;
  }
  &.colour-error{
    color: $error;
  }
  &.colour-link{
    color: $link;
  }

  &.colour-primary-button{
    background-color: $primary-button;
  }
  &.colour-secondary-button{
    background-color: $secondary-button;
    color: $primary;
  }
  &.colour-success-icon{
    background-color: $success-icon;
  }
  &.colour-sky-go{
    background-color: $colour-sky-go;
  }
  &.colour-remote-record{
    background-color: $colour-remote-record;
  }
  &.colour-never-miss{
    background-color: $colour-never-miss;
  }

  &.colour-background-dark{
    background-color: $background-dark;
    color: $primary;
  }
  &.colour-background-light{
    background-color: $background-light;
    color: $primary;
  }
  &.colour-key-line{
    background-color: $key-line;
    color: $primary;
  }

  small{
    display:block;
  }
}

.hex{
  text-align: center;
  margin-bottom:10px;
}
.pink{
  color: $colour-v3-pink;
}
.leading{
  color:$inactive;
}