.grid-example{
  width: 106%;
  margin-left: -3%;
}

#grid12,
#grid12-1140,
#grid12-contents,
#grid12-lightbox{
  height: 200px;
}
#grid12,
#grid12-1140,
#grid12-lightbox{
  background: #EDF6FF;
  padding: 0 3%;
  max-width: $container-width-thin;
  .skycom-1{
    height: 100%;
  }
  .cushioned,
  .cushioned div{
    background: #FFE1E1;
    height: 100%;
    box-sizing: border-box;
  }
  .cushioned div{
    background: #FFD5D6;
  }
}
#grid12-1140{
  max-width: $width-plus-gutters;
  width:94.35%;
}

@media (max-width:$mobile-width){
  .grid-example{
    width: 102%;
  }
  #grid12,
  #grid12-1140,
  #grid12-contents,
  #grid12-lightbox{
    height: auto;
  }
}

.lt-ie8{
  #grid12,
  #grid12-lightbox{
    .cushioned{
      height: 80%;
    }
  }
}