.wiki-header{
  margin-bottom: 0;
}
.wiki-section {
	border-top: 2px solid #333;
    margin-bottom:25px;
}
.wiki-h3{
  border-bottom: 1px solid $key-line;
}

.block {
	display: block;
}

a[name]:not([href]){
  padding-top: 1em;
  display: block;
}

.wiki-header {
  small {
    color: #999;
  }
}

.wiki-dl dt{
  font-family:SkyTextMedium;
}

.init-notes,
.dependencies,
.developer-notes{
  display: none;
}
