img {
  border: 0;
}
table {
  border-spacing:0px;
}
.gray {
  background: #CCCCCC;
  border-left: 1px solid #888888;
  border-right: 1px solid #888888;
}
.red {
  background: #FCD8D9;
  border-left: 1px solid #9A2328;
  border-right: 1px solid #9A2328;
}
.green {
  background: #E0FCD0;
  border-left: 1px solid #1A981F;
  border-right: 1px solid #1A981F;
}
.gray_top {
  background: #CCCCCC;
  border-left: 1px solid #888888;
  border-right: 1px solid #888888;
  border-top: 1px solid #888888;
}
.red_top {
  background: #FCD8D9;
  border-left: 1px solid #9A2328;
  border-right: 1px solid #9A2328;
  border-top: 1px solid #9A2328;
}
.green_top {
  background: #E0FCD0;
  border-left: 1px solid #1A981F;
  border-right: 1px solid #1A981F;
  border-top: 1px solid #1A981F;
}
.gray_bottom {
  background: #CCCCCC;
  border-left: 1px solid #888888;
  border-right: 1px solid #888888;
  border-bottom: 1px solid #888888;
}
.red_bottom {
  background: #FCD8D9;
  border-left: 1px solid #9A2328;
  border-right: 1px solid #9A2328;
  border-bottom: 1px solid #9A2328;
}
.green_bottom {
  background: #E0FCD0;
  border-left: 1px solid #1A981F;
  border-right: 1px solid #1A981F;
  border-bottom: 1px solid #1A981F;
}
.gray_top_bottom {
  background: #CCCCCC;
  border: 1px solid #888888;
}
.red_top_bottom {
  background: #FCD8D9;
  border: 1px solid #9A2328;
}
.green_top_bottom {
  background: #DDF8CC;
  border: 1px solid #1A981F;
}
.words_added {
  background: #99FF99;
}
.words_removed {
  background: #FF8888;
}
table {
  width: 100%;
}
table tr td:nth-child(even) {
  width: 50%;
}
td {
  vertical-align: top;
  padding-left:5px;
}
.line-count {
  text-align: right;
  width: auto;
  padding: 0 4px;
  min-width: 0px;
  color:#666;
}
#form-layout {
  width: 100%;
}
#top {
  background: #CCCCCC;
  width: 100%;
  border-bottom: 1px solid #333333;
}
pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  word-wrap: break-word;
}
p.error {
  margin: 10px;
  font-size: 21px;
}
.find_difference {
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 13px;
  height: auto;
  width: auto;
}
.original, .changed {
  position: relative;
  height: 400px;
  width: 48%;
}
.original {
  float: left;
  margin-left: 10px;
}
.changed {
  float: right;
  margin-right: 10px;
}
.original textarea, .changed textarea {
  width: 100%;
  height: 380px;
}
.changed textarea {
  float: right;
}



.has-toggle{
  position: relative;
  .toggler{
    position: absolute;
    left: -25px;
    cursor: pointer;
    &:before{
      content: '[+]';
    }
    &.open:before{
      content: '[-]';
    }
    &:hover,
    &:hover:before{
      color: red;
    }
  }
}
.togglee{
  height: 0;
  overflow: hidden;
  &.open{
    height: auto;
  }
}