<section id="share-this-page" class="share__bar">
    <h3 class="share__title">Share this page</h3>
    <ul class="share__list">
        <li class="share__link">
            <a class='share__social-link skycon--hover'  target='_blank' href='https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F10.65.94.145%3A8080%2Fhp%2F%3Fshared%3Dtrue'><i aria-hidden=true class='skycon-facebook'></i><span class='speak share__name'>Facebook</span></a>
        </li>
        <li class="share__link">
            <a class='share__social-link skycon--hover'   target='_blank' href='https://twitter.com/intent/tweet?url=http%3A%2F%2F10.65.94.145%3A8080%2Fhp%2F%3Fshared%3Dtrue&text=Sky.com Homepage' target='_blank'><i aria-hidden=true class='skycon-twitter'></i><span class='speak share__name'>Twitter</span></a>
        </li>
        <li class="share__link">
            <a class='share__social-link skycon--hover'  target='_blank' href='https://plus.google.com/share?url=http%3A%2F%2F10.65.94.145%3A8080%2Fhp%2F%3Fshared%3Dtrue'><i aria-hidden=true class='skycon-google-plus'></i><span class='speak share__name'>Google+</span></a>
        </li>
        <li class="share__link">
            <a class='share__social-link skycon--hover' target='_blank' href='mailto:?subject=Sharing - Sky.com Homepage&body=http%3A%2F%2Fwww.sky.com0%2Fhp%2F%3Fshared%3Dtrue'><i aria-hidden=true class='skycon-mail'></i><span class='speak share__name'>Mail</span></a>
        </li>
    </ul>
</section>


<p class="skycom-12 alpha">
    <a href="http://skyglobal.github.io/share/"><i class="skycon skycon--chevron"></i>A full list of available share options</a>.
</p>