#toggle-tmp-height{
  height:0;
  overflow:hidden;
  & > *{
    visibility: hidden;
  }
}
.toggle-hidden{
  height:0;
  overflow:hidden;
}

.transition{
  @include transition('height 0.5s ease-in-out');
}