<div>
    Note how classes now never have underscores '<code>_</code>' but only hyphens '<code>-</code>' instead.
</div>
<div>
    To get any of the following classses to work on <code>mobile</code> only, add <code>-mobile</code> to the end of the class name.
</div>
<div>
    The grid is wrapped with '<code>skycom-container</code>' which should be used to contain all your contents, or to contain modules individually .
</div>
<div>
    The container is made up of up 12 columns '<code>skycom-1</code>' through to '<code>skycom-12</code>'.  By default these float on the left.
</div>
<div>
    To float a column on the right, add the class '<code>right</code>'.
</div>
<div>
    If too many floats have caused you container to have zero height, add the class '<code>clearfix</code>'.
</div>
<div>
    For older browsers, the first column in a row should also have the class '<code>alpha</code>'.
</div>
<div>
    To 'stick' headers to the top of the page when scrolling, use the class '<code>sticky</code>'.
</div>
<div>
    When links don't go to a new page, i.e. changing tabs please, use the class '<code>internal-link</code>'.
</div>
<div>
    To make some text for screen readers only, use the class '<code>speak</code>'.
</div>
<div>
    To hide an element, use the class '<code>hidden</code>'.
</div>
<div>
    To show an element, use the class '<code>visible</code>'.
</div>
<div>
    If orientation is important for you there are the classes '<code>landscape</code>' and '<code>portrait</code>'.
</div>
<div>
    If view type is important for you there are the classes '<code>desktop-view</code>' and '<code>mobile-view</code>'.
</div>
<div>
    If 'touch ability' is important for you there are the classes '<code>touch-device</code>' and '<code>no-touch</code>'.
</div>
<div>
    When the text shouldn't touch the edges of the columns (i.e. when they have a distinct background colour) use '<code>cushioned</code>' class for padding.
</div>