<ul class=notes>
    <li>
        Note how classes now never have underscores '<code>_</code>' but only hyphens '<code>-</code>' instead.
    </li>
    <li>
        By default the grid is <code>974px</code> wide.
    </li>
    <li>
        To get any of the following classses to work on <code>mobile</code> only, add <code>-mobile</code> to the end of the class name.
    </li>
    <li>
        The grid is wrapped with '<code>skycom-container</code>' which should be used to contain all your contents, or to contain modules individually .
    </li>
    <li>
        The container is made up of up 12 columns '<code>skycom-1</code>' through to '<code>skycom-12</code>'.  By default these float on the left.
    </li>
    <li>
        To float a column on the right, add the class '<code>right</code>'.
    </li>
    <li>
        If too many floats have caused you container to have zero height, add the class '<code>clearfix</code>'.
    </li>
    <li>
        For older browsers, the first column in a row should also have the class '<code>alpha</code>'.
    </li>
    <li>
        To 'stick' headers to the top of the page when scrolling, use the class '<code>sticky</code>'.
    </li>
    <li>
        When links don't go to a new page, i.e. changing tabs please, use the class '<code>internal-link</code>'.
    </li>
    <li>
        To make some text for screen readers only, use the class '<code>speak</code>'.
    </li>
    <li>
        To hide an element, use the class '<code>hidden</code>'.
    </li>
    <li>
        To show an element, use the class '<code>visible</code>'.
    </li>
    <li>
        If orientation is important for you there are the classes '<code>landscape</code>' and '<code>portrait</code>'.
    </li>
    <li>
        If view type is important for you there are the classes '<code>desktop-view</code>' and '<code>mobile-view</code>'.
    </li>
    <li>
        If 'touch ability' is important for you there are the classes '<code>touch-device</code>' and '<code>no-touch</code>'.
    </li>
    <li>
        When the text shouldn't touch the edges of the columns (i.e. when they have a distinct background colour) use '<code>cushioned</code>' class for padding.
    </li>
</ul>