<section class="demo-section" id="base-styles">
    <h2>Base Styles</h2>
    <div class="sub-section" id="grid">
        {% include baseStyles/grid.html %}
    </div>
    <div class="sub-section" id="colours">
        {% include baseStyles/colours.html %}
    </div>
    <div class="sub-section" id="fonts">
        {% include baseStyles/fonts.html %}
    </div>
    <div class="sub-section" id="typography">
        {% include baseStyles/typography.html %}
    </div>
    <div class="sub-section" id="icons">
        {% include baseStyles/icons.html %}
    </div>
    <div class="sub-section" id="buttons">
        {% include baseStyles/buttons.html %}
    </div>
    <div class="sub-section" id="spinners">
        {% include baseStyles/spinners.html %}
    </div>
</section>

<section class="demo-section" id="components">
    <h2>Components</h2>
    <div class="sub-section" id="breadcrumbs">
        {% include components/breadcrumbs.html %}
    </div>
    <div class="sub-section" id="form">
        {% include components/form.html %}
    </div>
    <div class="sub-section" id="inPageNav">
        {% include components/inPageNav.html %}
    </div>
    <div class="sub-section" id="lightbox">
        {% include components/lightbox.html %}
    </div>
    <div class="sub-section" id="accordion">
        {% include components/accordion.html %}
    </div>
    <div class="sub-section" id="carousel">
        {% include components/carousel.html %}
    </div>
    <div class="sub-section" id="video">
        {% include components/video.html %}
    </div>
    <div class="sub-section" id="share">
        {% include components/share.html %}
    </div>
    <div class="sub-section" id="tooltip">
        {% include components/tooltip.html %}
    </div>

</section>

<section class="demo-section" id="utils">
    <h2>Utils</h2>
    <div class="sub-section" id="toggle">
        {% include utils/toggle.html %}
    </div>
    <div class="sub-section" id="hashManager">
        {% include utils/hashManager.html %}
    </div>
    <div class="sub-section" id="responsiveImages">
        {% include utils/responsiveImages.html %}
    </div>
    <div class="sub-section" id="detect">
        {% include utils/detect.html %}
    </div>
    <div class="sub-section" id="event">
        {% include utils/event.html %}
    </div>
    <div class="sub-section" id="libraries">
        {% include utils/libraries.html %}
    </div>
</section>

<section class="demo-section" id="examples">
    <h2>Examples</h2>
    <div class="sub-section" id="errorPage">
        {% include examples/errorPage.html %}
    </div>
</section>
