<h2>Buttons</h2>
<p  class="developer-notes">
    All buttons need the class <code>btn</code>.
Submit buttons should be coded as <code>button type=submit</code> (not <code>input type=submit</code>)
</p>

<div class="example">
    <h3>Primary</h3>
    <div class="design-notes">

    </div>
    <p class="developer-notes">
        Add the class <code>primary</code>.
    </p>
    <div class="demo" data-selector="button,a">
        <button href="#" class="btn primary">Primary Button</button>
        <a href="#" class="btn primary">Primary Link</a>
        <button type="submit" class="btn primary">Primary Submit</button>
    </div>
</div>

<div class="example">
    <h3>Secondary</h3>
    <p class="developer-notes">
        Add the class <code>secondary</code>
    </p>
    <div class="demo" data-selector="button,a">
        <button href="#" class="btn secondary">Secondary Button</button>
        <a href="#" class="btn secondary">Secondary Link</a>
        <button type="submit" class="btn secondary">Secondary Submit</button>
    </div>
</div>

<div class="example">
    <h3>Small</h3>
    <div class="design-notes">

    </div>
    <p class="developer-notes">
        Add the class <code>btn-small</code>
    </p>
    <div class="demo" data-selector="button,a">
        <button href="#" class="btn btn-small">Small Primary Button</button>
        <a href="#" class="btn btn-small">Small Primary Link</a>
        <button type="submit" class="btn btn-small">Small Primary Submit</button>
        <button href="#" class="btn btn-small">+</button>
        <br><br>
        <button href="#" class="btn btn-small secondary">Small Secondary Button</button>
        <a href="#" class="btn btn-small secondary">Small Secondary Link</a>
        <button type="submit" class="btn btn-small secondary">Small Secondary Submit</button>
        <button href="#" class="btn btn-small secondary">+</button>
    </div>
</div>

<div class="example">
    <h3>Large</h3>
    <div class="design-notes">

    </div>
    <p class="developer-notes">
        Add the class <code>btn-large</code>
    </p>
    <div class="demo" data-selector="button,a">
        <button href="#" class="btn btn-large">Large Primary Button</button>
        <a href="#" class="btn btn-large">Large Primary Link</a>
        <button type="submit" class="btn btn-large">Large Primary Submit</button>
        <br><br>
        <button href="#" class="btn btn-large secondary">Large Secondary Button</button>
        <a href="#" class="btn btn-large secondary">Large Secondary Link</a>
        <button type="submit" class="btn btn-large secondary">Large Secondary Submit</button>
    </div>
</div>