<h3>Primary Buttons</h3>
<p>These are primary call to actions. To use, add class="btn primary"</p>
<button href="#" class="btn primary">Primary Button</button>
<a href="#" class="btn primary">Primary Link</a>
<button type="submit" class="btn primary">Primary Submit</button>
Use button type="submit", not input type="submit"

<h3>Secondary Buttons</h3>
<p>These are secondary call to actions. To use, add class="btn secondary"</p>
<button href="#" class="btn secondary">Secondary Button</button>
<a href="#" class="btn secondary">Secondary Link</a>
<button type="submit" class="btn secondary">Secondary Submit</button>

<h3>Small Buttons</h3>
<p>These are small call to actions. To use, add class="btn btn-small"</p>
<button href="#" class="btn btn-small">Small Primary Button</button>
<a href="#" class="btn btn-small">Small Primary Link</a>
<button type="submit" class="btn btn-small">Small Primary Submit</button>
<button href="#" class="btn btn-small">+</button>
<br><br>
<button href="#" class="btn btn-small secondary">Small Secondary Button</button>
<a href="#" class="btn btn-small secondary">Small Secondary Link</a>
<button type="submit" class="btn btn-small secondary">Small Secondary Submit</button>
<button href="#" class="btn btn-small secondary">+</button>

<h3>Large Buttons</h3>
<p>These are large call to actions. To use, add class="btn btn-large"</p>
<button href="#" class="btn btn-large">Large Primary Button</button>
<a href="#" class="btn btn-large">Large Primary Link</a>
<button type="submit" class="btn btn-large">Large Primary Submit</button>
<br><br>
<button href="#" class="btn btn-large secondary">Large Secondary Button</button>
<a href="#" class="btn btn-large secondary">Large Secondary Link</a>
<button type="submit" class="btn btn-large secondary">Large Secondary Submit</button>