<h2>Contributing</h2>
<p class="developer-notes">
    The source code is available in a private repository on Github, along with instructions for building/running the project locally.
https://github.com/skyglobal/web-toolkit/
</p>

<h3>Feature Request</h3>
<p> To request a feature, please check <a href="https://github.com/skyglobal/web-toolkit/issues">here</a> to see if there is already a similar request. If not, create a New
   Issue and flag it as an 'enhancement'</p>

<h3>Bugs</h3>
<p> To report a bug, please visit <a href="https://github.com/skyglobal/web-toolkit/issues">here</a> to see if there is already a similar request. If not, create a New
    Issue and flag it as a 'bug'</p>
