<h2>Forms</h2>
<p class="developer-notes">
    Add class <code>sky-form</code> to the container.
</p>

<div class="example">
    <h3>With Grey background</h3>
    <p class="design-notes">
        To be used for xxx types of forms</p>
    <p class="developer-notes">
        Add class <code>well</code> to the container.
    </p>
    <div class="demo" data-selector="*">

        <form class="sky-form sky-well">
            <div class="row">
                <label for="first_name_g">First name</label>
                <input id="first_name_g" type="text" placeholder="eg. Joe Bloggs"></input>
            </div>
            <div class="row">
                <label for="email">Email</label>
                <input id="email" type="email" placeholder="eg. joe.bloggs@me.com"></input>
            </div>
            <div class="row">
                <label for="telephone">Telephone</label>
                <input id="telephone" type="tel" placeholder="eg. +447567567567"></input>
            </div>
            <div class="row">
                <label for="url">Homepage</label>
                <input id="url" type="url" placeholder="eg. http://joebloggs.com"></input>
            </div>
        </form>
    </div>
</div>

<div class="example">
    <h3>Without Grey background</h3>
    <p class="design-notes">
        To be used for xxx types of forms</p>
    <p class="developer-notes">

    </p>
    <div class="demo" data-selector="*">

        <form class="sky-form ">
            <div class="row">
                <label for="title" class="required">Title</label>
                <div class="select">
                    <select id="title" name="title"><option value="">Please select</option>
                        <option value="Mr">Mr</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Ms">Ms</option>
                        <option value="Sir">Sir</option>
                        <option value="Dr">Dr</option>
                        <option value="Prof.">Prof.</option>
                    </select>
                </div>
                <div class="error"></div>
            </div>

            <div class="row">
                <label for="first_name">First name</label>
                <input id="first_name" type="text" placeholder="eg. Joe Bloggs"></input>
            </div>

            <div class="row">
                <fieldset>
                    <legend>Select a payment type</legend>
                    <div class="radiocheck">
                        <input type="radio" name="payment_type" value="direct_debit" id="direct-debit" checked></input>
                        <label for="direct-debit">Direct debit</label>
                        <br>
                        <input type="radio" name="payment_type" value="credit_card" id="credit-card"></input>
                        <label for="credit-card">Credit card</label>
                    </div>

                </fieldset>

            </div>

            <div class="row">
                <label class="required">Postcode</label>
                <input type="text" placeholder="eg. TW8 1QW"/>
                <button class="btn">Find address</button>
            </div>

            <div class="row no-label">
                <input type="checkbox" name="confirm_terms" value="true" id="confirm-terms"></input>
                <label for="confirm-terms">I agree to the <a href="#">Terms &amp; Conditions</a></label>
            </div>

        </form>

    </div>
</div>