<meta charset="UTF-8"/>

<!--jquery-->
<!--We recommend that you use these files from the toolkit static lib folder: '//web-toolkit.global.sky.com/static/lib/' -->
<!--[if lt IE 9]> <script src="static/lib/jquery-1.10.2.js" ></script> <![endif]-->
<!--[if gte IE 9]><!--> <script src="static/lib/jquery-2.0.3.js" ></script> <!--<![endif]-->
<!--end-jquery-->

<!--to help prevent 'font flash'-->
<!--We recommend that you prefetch these files from the toolkit static fonts folder: '//web-toolkit.global.sky.com/static/fonts/' -->
<link href='static/fonts/sky_regular.ttf' rel='prefetch'>
<link href='static/fonts/sky_regular.svg' rel='prefetch'>
<link href='static/fonts/sky_medium.ttf' rel='prefetch'>
<link href='static/fonts/sky_medium.svg' rel='prefetch'>
<!--end prevent 'font flash'-->

<!--for video player pre-requisits-->
<link rel="stylesheet" href="//player.sky.com/css/styles.min.css" />
<script src="//player.sky.com/plugin/jquery.sky.htmlplayer.js"></script>
<!--end video player pre-requisits-->

<link rel="stylesheet" href="dist/stylesheets/demo.css">
<link rel="stylesheet" href="dist/stylesheets/toolkit.css">
<link rel="stylesheet" href="dist/fonts/skycons.css">

<!--for html 5 cross browser-->
<!--[if lt IE 10]><script type="text/javascript">
    document.createElement('header');
    document.createElement('section');
    document.createElement('footer');
    document.createElement('article');
    document.createElement('aside');
    document.createElement('hgroup');
    document.createElement('nav');
    document.createElement('figure');
    document.createElement('figcaption');
</script><![endif]-->
<script>
    {% include utils/responsiveImages/function.js %}
</script>

<!--this is just for the menu - i wouldn't bother if i were you ;)-->
<script src="static/lib/jquery.scrollspy.js" ></script>


