<!--[if LT IE 9]>
<link rel='stylesheet' href='//assets.sky.com/css/desktop-12grid.css' media='screen' />
<![endif]-->
<meta content='width=device-width, initial-scale=1.0' name='viewport'>
<link rel='stylesheet' href='//assets.sky.com/css/responsive-12grid.css' class='skycom-responsive-css' media='screen and (min-width: 768px)' />
<!--[mobilestart]-->
<link rel='stylesheet' href='//assets.sky.com/css/mobile-12grid.css' class='skycom-mobile-css' media='screen and (max-width: 767px)' />
<!--[mobileend]-->

<link href='//assets.sky.com/images/favicon.png' rel='icon' type='image/png'>
<link href='//assets.sky.com/fonts/sky_regular.ttf' rel='prefetch'>
<link href='//assets.sky.com/fonts/sky_regular.svg' rel='prefetch'>
<link href='//assets.sky.com/fonts/sky_medium.ttf' rel='prefetch'>
<link href='//assets.sky.com/fonts/sky_medium.svg' rel='prefetch'>
<link rel='stylesheet' href='//assets.sky.com/css/css-print.css' media='print' />
<link rel='stylesheet' href='//assets.sky.com/css/app-fonts.css' />
<!--[if IE 6]>
<link rel='stylesheet' href='//assets.sky.com/css/app-ie6.css' />
<![endif]-->
<!--[if IE 7]>
<link rel='stylesheet' href='//assets.sky.com/css/app-ie7.css' />
<![endif]-->
<!--[if LT IE 9]>
<link rel='stylesheet' href='//assets.sky.com/css/app-ielt9.css' />
<![endif]-->
<!--[if IE 9]>
<link rel='stylesheet' href='//assets.sky.com/css/app-ie9.css' />
<![endif]-->
<!--[if LT IE 10]>
<link rel='stylesheet' href='//assets.sky.com/css/app-ielt10.css' />
<![endif]-->
<script id='skycom-view-type'></script>
<script id='skycom-orientation'></script>
<script>
  var globalskycom = globalskycom || {};
  globalskycom.serverHost = 'assets.sky.com';
</script>
<script src='//assets.sky.com/js/app.js'></script>
<script>
  $(function() {
    var i, len,
      messages = globalskycom.emergencyMessages;
    if(messages) {
      for(i = 0, len = messages.length; i < len; i++) {
        new globalskycom.message(messages[i]);
      }
    }
  });
</script>