
<!--[if LT IE 9]>
<link rel='stylesheet' href='//assets.sky.com/css/desktop-12grid.d1f3fedb922931ed772d7001cf0259e1.css' media='screen' />
<![endif]-->
<meta content='width=device-width, initial-scale=1.0' name='viewport'>
<link rel='stylesheet' href='//assets.sky.com/css/responsive-12grid.4928fcd4a23d834572410dbf4fc9d07a.css' class='skycom-responsive-css' media='screen and (min-width: 768px)' />
<!--[mobilestart]-->
<link rel='stylesheet' href='//assets.sky.com/css/mobile-12grid.4652fb7bbe1088e3c6163ae0b385251f.css' class='skycom-mobile-css' media='screen and (max-width: 767px)' />
<!--[mobileend]-->
<script id='skycom-view-type'></script>
<script id='skycom-orientation'></script>
<link href='//assets.sky.com/images/favicon.png' rel='icon' type='image/png'>
<link href='//assets.sky.com/fonts/sky_regular.ttf' rel='prefetch'>
<link href='//assets.sky.com/fonts/sky_regular.svg' rel='prefetch'>
<link href='//assets.sky.com/fonts/sky_medium.ttf' rel='prefetch'>
<link href='//assets.sky.com/fonts/sky_medium.svg' rel='prefetch'>
<link rel='stylesheet' href='//assets.sky.com/css/css-print.9e4d71a7f83d6a801c45e39cb6cdf039.css' media='print' />
<link rel='stylesheet' href='//assets.sky.com/css/app-fonts.d02794ed619967ed553f7a10ff2ae8cf.css' />
<!--[if IE 6]>
<link rel='stylesheet' href='//assets.sky.com/css/app-ie6.2b747a6bd63ee3760a239c8f4b46778e.css' />
<![endif]-->
<!--[if IE 7]>
<link rel='stylesheet' href='//assets.sky.com/css/app-ie7.ea3adb1cd7fbd2fddef8701678137f8d.css' />
<![endif]-->
<!--[if LT IE 9]>
<link rel='stylesheet' href='//assets.sky.com/css/app-ielt9.ae7973444437ad6b218c81f349c51707.css' />
<![endif]-->
<!--[if IE 9]>
<link rel='stylesheet' href='//assets.sky.com/css/app-ie9.e9a63aa3b78461eda397363b0df4347a.css' />
<![endif]-->
<!--[if LT IE 10]>
<link rel='stylesheet' href='//assets.sky.com/css/app-ielt10.69a4956014dfc38571efb72e373f375a.css' />
<![endif]-->
<script id='skycom-view-type'></script>
<script id='skycom-orientation'></script>
<script>
  var globalskycom = globalskycom || {};
  globalskycom.serverHost = 'assets.sky.com';
</script>
<script src='//assets.sky.com/js/app.b57e43d077758dc36bac96fd18926866.js'></script>
<script>
  $(function() {
    var i, len,
      messages = globalskycom.emergencyMessages;
    if(messages) {
      for(i = 0, len = messages.length; i < len; i++) {
        new globalskycom.message(messages[i]);
      }
    }
  });
</script>
