<h2>Tabs</h2>


<div class="example">
    <h3>Remembering State</h3>
    <div class="design-notes">
        The state (open or closed) of the tabs can optionally be remembered. i.e. Pressing the back button will open the page with the tab open that was clicked last.
    </div>
    <div class="developer-notes">
        Add attribute <code>data-remember-state="true"</code>
    </div>
    <div class="demo" data-selector="*">
        <section class="module clearfix" data-function="tabs" data-remember-state="true">

            <h2 class="at">This is a screenreader header for tabs</h2>

            <ul class="tabs clearfix" role="tablist">
                <li id="first-tab" aria-controls="first" aria-label="first" role="tab" class="tab selected">
                    <a href="#first" class="skycom_ellipsis">First</a>
                </li>
                <li id="second-tab" aria-controls="second" aria-label="second" role="tab" class="tab" >
                    <a href="#second" class="skycom_ellipsis">Second</a>
                </li>
            </ul>

            <div id="first" class="tabpanel selected" aria-labeledby="first-tab" role="tabpanel">
                <section class="tabcontents clearfix">
                    <h2 class="at">Screen reader header for First tab contents</h2>
                    <div class="skycom_12 beckham-img alpha">
                        <p class="black">Hello from the first tab contents</p>
                    </div>
                </section>
            </div>

            <div id="second" class="tabpanel" aria-labeledby="second-tab" role="tabpanel">
                <section class="tabcontents clearfix">
                    <h2 class="at">Screen reader header for Second tab contents</h2>
                    <div class="skycom_12 smash-img alpha">
                        <p class="white">Hello from the second tab contents</p>
                    </div>
                </section>
            </div>

        </section>
    </div>
</div>