<h2>Typography</h2>

<p class="design-notes">
    Once fonts fall below 16px, <code>Verdana</code> should be used.
</p>
<p class="developer-notes">

</p>

<div class="example">
    <p class="developer-notes">

    </p>
    <div class="demo" data-selector="h1,h2,h3,p,small,blockquote,.smash-img .white,.beckham-img .black">

        <h1 class="large">Page Title (above carousel)</h1>
        <h1>Page Title</h1>
        <h2>Section Title</h2>
        <h3>Module Title</h3>
        <p class="handwriting">Instructional copy</p>
        <p class="intro">Intro Copy</p>
        <p>Body text</p>
        <small class="block">Supportive text</small>
        <small class="block legal">Legal copy</small>
        <p class="error">Error</p>
        <blockquote>Quotes</blockquote>
        <p class="medium">Add .medium to change font family to medium</p>

        <div class="smash-img">
            <p class="white">Text on dark background is white</p>
            <a class="white">Link on dark background is white</a>
        </div>

        <div class="beckham-img">
            <p class="black">Text on light background is black</p>
            <a class="black">Link on light background is black</a>
        </div>
    </div>
</div>

