<h1 class="large">h1.large - Page Title (above carousel)</h1>
<h1>h1 - Page Title</h1>
<h2>h2 - Section Title</h2>
<h3>h3 - Module Title</h3>
<p class="handwriting">p.handwriting - Instructional copy</p>
<p class"intro">p.intro - Intro Copy</p>
<p>p - Body text</p>
<small>small - Supportive text</small>
<small class="legal">small.legal - Legal copy</small>
<p class="error">.error - Error</p>
<a>a - Link</a>
<blockquote>blockquote - Quotes</blockquote>



<!-- <article class="example">
	<h1>Page title above carousel</h1>
</article>

<article class="example">
	<h1 class="page-title-smaller">Page title below carousel</h2>
</article>

<article class="example">
	<h2>Section title</h2>
</article>

<article class="example">
	<h3>Module title</h3>
</article>

<article class="example">
	<p class="intro-copy">Intro copy</p>
</article>

<article class="example">
	<p>Body copy</p>
</article>

<article class="example">
	<p class="supportive-copy">Supportive copy</p>
</article>

<article class="example">
	<p class="legal-copy">Legal copy</p>
</article>

<article class="example">
	<p class="instructional-copy">Instructional copy</p>
</article>


<h2>Colours</h2>

<article class="colours">

<div>
	<div class="example">
		<a href="#">Links</a>
	</div>

	<div class="example">
		<p>
			Primary text
		</p>
	</div>

	<div class="example">
		<p class="secondary">
			Secondary text
		</p>
	</div>

	<div class="example">
		<p class="error">
			Error text
		</p>
	</div>
</div>
</article> -->