<h1 class="large">h1.large - Page Title (above carousel)</h1>
<h1>h1 - Page Title</h1>
<h2>h2 - Section Title</h2>
<h3>h3 - Module Title</h3>
<p class="handwriting">p.handwriting - Instructional copy</p>
<p class"intro">p.intro - Intro Copy</p>
<p>p - Body text</p>
<small>small - Supportive text</small>
<small class="legal">small.legal - Legal copy</small>
<p class="error">.error - Error</p>
<blockquote>blockquote - Quotes</blockquote>
<p class="medium">Add .medium to change font family to medium</p>

<div class="smash-img">
	<p class="white">Text on dark background is white</p>
	<a class="white">Link on dark background is white</a>
</div>

<div class="beckham-img">
	<p class="black">Text on light background is black</p>
	<a class="black">Link on light background is black</a>
</div>

<section class="m">
{% include links.html %}
</section>