<h1 class="page-title">
    Page Title (Sky Text Regular <span class="demo-pink">52px</span> <small class="mobile-size">32px*</small> )
    <br/><span class="inactive">Line-height 56px  <small class="mobile-size">36px*</small></span>
</h1>
<h2 class="section-title">Section Title (Sky Text Regular <span class="demo-pink">44px</span> <small class="mobile-size">28px*</small>)
    <br/><span class="inactive">Line-height 48px  <small class="mobile-size">32px*</small></span>
</h2>
<h2 class="section-title smaller">Smaller Section Title (<span class="medium">Sky Text Medium</span> / Regular <span class="demo-pink">36px</span> <small class="mobile-size">28px*</small>)
    <br/><span class="inactive">Line-height 40px <small class="mobile-size">32px*</small></span>
</h2>
<h3 class="pod-title">Pod Title (<span class="medium">Sky Text Medium</span> / Regular <span class="demo-pink">32px</span> <small class="mobile-size">28px*</small>)
    <br/><span class="inactive">Line-height 36px <small class="mobile-size">32px*</small></span>
</h3>
<h3 class="pod-title smaller">Smaller Pod Title (<span class="medium">Sky Text Medium</span> / Regular <span class="demo-pink">28px</span> <small class="mobile-size">24px*</small>)
    <br/><span class="inactive">Line-height 32px <small class="mobile-size">28px*</small></span>
</h3>
<p class="intro">Intro Copy (<span class="medium">Sky Text Medium</span> / Regular <span class="demo-pink">24px</span> <small class="mobile-size">20px*</small>)
    <br/><span class="inactive">Line-height 28px <small class="mobile-size">24px*</small></span>
</p>
<p class="intro smaller">Smaller Intro Copy (<span class="medium">Sky Text Medium</span> / Regular <span class="demo-pink">20px</span>)
    <br/><span class="inactive">Line-height 24px</span>
</p>
<p>Body text (<span class="medium">Sky Text Medium</span> / Regular <span class="demo-pink">16px</span>)
    <br/><span class="inactive">Line-height 20px</span>
</p>

<p class="skycom-12 alpha">
    <a href="http://skyglobal.github.io/typography/"><i class="skycon-chevron"></i>A full list of typography examples</a>.
</p>