.btn {
  @include border-radius(5px);
  font: 16px/1em $font-family;
  padding: 0 15px;
  height: 32px;
  position: relative;
  z-index: 2;
  border: none;


  &:hover, &:focus {
    text-decoration: none;

    &:before {
      opacity: 0;
    }
  }

  &.blue {
    background-color: #0073c5;
    color: #ffffff;
    &:before {
      @include background(linear-gradient(top, rgba(255,255,255,0.4), rgba(255,255,255, 0)));
    }
  }

  &.white {
    // not done!;
    border: solid 1px #cfcfcf;
    background: #f4f4f4;
    &:before {
      @include background(linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255, 0)));
    }
  }

  &.white:before, &.blue:before {
    content:"";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 1.5%;
    width: 97%;
    height: 10px;
    // background-color: rgba(255, 255, 255, 0.25);
    @include border-radius(0 0 20px 20px);
    @include transition(opacity .25s);
  }
}

// .btn {
//   position: relative;
//   z-index: 1;
//   font: 16px/28px $font-family;
//   height: 32px;
//   padding: 0 20px;
//   cursor: pointer;
//   @include border-radius(5px);
//   @include box-sizing(border-box);
//   @include inline-block();
//   vertical-align: text-bottom;

//   &:before {
//     content:"";
//     position: absolute;
//     z-index: -1;
//     top: 0;
//     left: 1.5%;
//     width: 97%;
//     height: 10px;
//     background-color: rgba(255, 255, 255, 0.25);
//     @include background(linear-gradient(top, rgba(255,255,255,0.4), rgba(255,255,255,0.05)));
//     @include border-radius(0 0 20px 20px);
//     @include transition(opacity .25s);
//   }

//   &:hover,
//   &:focus {
//     text-decoration: none;

//     &:before {
//       opacity: 0;
//     }
//   }

//   /* button themes */
//   &.primary-cta {
//     color: #fff;
//     border: solid 1px #0073c5;
//     background: #0073c5;
//   }

//   &.sign-post {
//     color: #327295;
//     border: 1px solid #dfdfdf;
//     background: #eaeaea;

//     &:before {
//       background-color: rgba(255, 255, 255, 0.7);
//       @include background(linear-gradient(top, rgba(255,255,255,0.9), rgba(255,255,255,0.5)));
//     }
//   }

//   &.in-page-cta {
//     color: #f9f9f9;
//     border: solid 1px #cfcfcf;
//     background: #666;
//   }
// }

