@import "compass/css3";
@import "compass/typography";

@function em($target, $context: 16) {
    @return ($target / $context) * 1em;
}

.skycom-carousel {
  @include transform(translate3d(0, 0, 0));
  @include transform-style(preserve-3d);
  @include backface-visibility(hidden);

  overflow: hidden;
  position:relative;

  &.showing-tandcs{
    .terms-action,
    .content,
    .actions,
    .indicators{
      display: none;
    }
    .terms-and-conditions{
      @include opacity(1);
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  &:hover .actions {
    .over {
      @include opacity(0.3);
    }
    .next .over {
      left: 5px;
    }
    .previous .over {
      right: 5px;
    }
    a:hover .over{
      @include opacity(1);
    }
  }

  &.paused .actions .play,
  &.playing .actions .pause {
    display: block;
    @media all and (max-width: 768px) {
        display: none;
    }
  }

  a:hover {
    text-decoration: underline;
  }

  .skycom-carousel-container {
    @include transform(translate3d(0, 0, 0));
    @include transform-style(preserve-3d);
    @include backface-visibility(hidden);
    position: relative;
    height:100%;
    width: 200%;
    z-index: 1;
    > * {
      display:none;
      height:100%;
      width:50%;
      &:first-child{
        display:block;
      }
    }

    &.animate {
      @include single-transition(all, .3s, linear);
    }
    > * {
      @include transform(translate3d(0%, 0, 0));
      @include transform-style(preserve-3d);
      position: relative;
      float: left;
    }
  }
  .dark-scheme {
    color: #fff;
    a {
      color: #fff;
    }
    &.bg-shading .shade {
      display: block;
      background-image: -ms-linear-gradient(right, rgba(0,0,0,0) 60%, rgba(0,0,0,0.6) 80%, rgba(0,0,0,0.7) 100%);
      @include background-image(linear-gradient(right, rgba(0,0,0,0) 60%, rgba(0,0,0,0.6) 80%, rgba(0,0,0,0.7) 100%));
      filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#b3000000', endColorstr='#00000000',GradientType=1);
    }
  }
  .light-scheme {
    color: #333;
    a {
      color: #333;
    }
    &.bg-shading .shade {
      display: block;
      background-image: -ms-linear-gradient(right, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 80%, rgba(255,255,255,0) 100%);
      @include background-image(linear-gradient(right, rgba(255,255,255,0) 60%, rgba(255,255,255,0.6) 80%, rgba(255,255,255,0.7) 100%));
      filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#b3ffffff', endColorstr='#00ffffff',GradientType=1);
    }
  }
  .shade{
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  .poster,
  .poster img{
    width:100%;
  }
  .actions {
    a{
      position: absolute;
      color: #333;
    }
    .play,
    .pause {
      bottom: 10px;
      display: none;
      font-size: 0.9em;
      right: 50px;
      z-index: 2;
      span {
        margin-top: -2px;
        margin-right: 5px;
      }
    }
    .previous,
    .next {
      @include hide-text(left);
      height: 100%;
      top: 0;
      width: 50px;
      span {
        position: absolute;
        top: 50%;
        margin: -30px 5px 0;
      }
    }
    .next {
      right: 0;
      span {
        left: 5px;
      }
    }
    .previous {
      left: 0;
      span {
        left: auto;
        right: 5px;
      }
    }
    .over{
      @include opacity(0);
      @include single-transition(opacity, .2s, linear);
      left: -9999px;
    }
  }
  .indicators {
    position: relative;
    line-height: 2.5em;
    height: 2.5em; /* for IE7 where the above line-height: 2.5em doesn't work */
    //top: -2.5em; // also... if i removed this line, the indicators get shown in the right place with IE7... i think there are some CSS lines elsewhere that overrides this for other browsers *=
    margin-bottom: -2.5em;
    float:left;
    left: 50%;

    .container{
      cursor: default;
      position: relative;
      margin-left:-50%;
    }
    .container > * {
      @include border-radius(5px);
      @include inline-block;
      background:#999;
      cursor:pointer;
      height:10px;
      width:10px;
      margin:5px;
      &:hover {
        background: #fff;
      }
    }
    .active {
      background:#0073c5;
    }
  }

  .content {
    position: absolute;
    top:0;
    left: 0;
    bottom:auto;
  }

  h3 {
    font-size: em(36);
    line-height: em(40,36);
    //font-family: $default-font;
  }

  p {
    font-size: em(16);
    margin-bottom: 10px;
    font-family: skytextmedium;
  }

  .terms-and-conditions {
    @include single-transition(opacity, .2s, linear);
    @include opacity(0);
    height: 0;
    padding: 0;
    overflow: hidden;
    cursor: default;
    background: #000;
    background: rgba(0,0,0,0.5);
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;

    .content{
      display: block;
      position: relative;
      height: 100%;
      padding-bottom: 68px;
      box-sizing: border-box;
    }
    .t-and-c-overflow{
      max-height: 100%;
      overflow: auto;
    }
  }
  .terms-action {
    @include background-image(linear-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 31%,rgba(0,0,0,0.6) 54%));
    display:block;
    width:100%;
    text-align: right;
    box-sizing: border-box;
    cursor: default;
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
    padding-bottom: 11px;
    a{
      color:#fff;
    }
  }
  .video-overlay {
    background:#000;
    display:none;
    height:100%;
    width:100%;
    left:0;
    top:0;
    position:absolute;
    z-index: 2;
  }

  .actions,
  .actions .previous,
  .actions .next,
  .indicators {
    z-index: 3;
  }
}

.video-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  display: inline-block;

  video {
    background:#000;
  }
  .videocontrolcontainer {
    display: none;
  }
  &:hover .close.active {
    @include opacity(1);
  }

  &.playing-video{
    width:100%;
    height:100%;
  }

  .close {
    @include transition(opacity 0.5s);
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 4;
    @include opacity(0);
    display: none;
    &.active {
      display: block;
    }
  }
  .play {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 50px;
    white-space: nowrap;
    padding: 5px 10px 0 5px;
    border-radius: 25px;
    z-index: 1;
    @include transition(background .3s, box-shadow .3s);

    &:hover,
    &:focus {
      background-color: rgba(255, 255, 255, 0.2);
      @include box-shadow(0 0 5px rgba(0, 0, 0, 0.25));
    }

    i {
     margin: 0 5px 5px 0;
    }
  }
  .posterFrame {
    background:#000;
  }
}

.cta-group > a,
.cta-group > div {
  @include inline-block;
  margin:0 20px 20px 0;

  .cta-icon{
    margin-right: 10px;
  }
}

.cta-group > div {
  margin-right: 10px; //remote record widget is a little wider than the content so need less margin
}

.skycom-carousel{

  @media all and (max-width: 900px) {
    h3{
      font-size: em(24);
    }
  }
  //@media all and (max-width: 768px) and (min-width: 600px)  {
    .indicators{
      margin-bottom: 0;
      top:auto;
    //}
  }

  @media all and (min-width: 768px) {
    .terms-action{
      padding-right: 130px;
    }
    .poster{
      min-height: 240px;
    }
  }
  @media all and (max-width: 768px) {
    .channel-logo{
      max-height: 26px;
      max-width: 140px;
    }
    .indicators{
      background: none;
      .active {
        border-width: 0px;
        width: 10px;
        height: 10px;
      }
    }
    .actions{
      a{
        color: #333;
      }
    }
    .poster{
      min-height: 110px;
    }
  }

  @media all and (max-width: 600px) {
    .figure{
      position: relative;
    }
    h3 {
      font-family: SkyTextMedium;
    }
    .shade{
      display: none!important;
    }
    .content{
      position: relative;
    }
    .skycom-carousel-container > *,
    .skycom-carousel-container a,
    .actions a{
      color: #333!important;
    }
    .skycom_5{
      width: 100%;
    }
    .skycom-ellipsis{
      white-space: normal;
    }
    .terms-action{
      background: none;
    }
    .actions{
      width:100%;
      a{
        position: relative;
        display: block;
      }
      .next,
      .previous{
        position: absolute;
        height: 75px;
        top:-37px;
        margin-top:16%;
        margin-top:16vw;
      }
      .previous{
        float: left;
      }
      .next{
        float: right;
      }
    }
    .hero-tile{
      margin-bottom:1.5em;
    }
    figcaption.content{
      padding-bottom:0;
    }
    .indicators{
      background: none;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      height:1.5em;
      line-height:1.5em;
      .container{
        width:100%;
      }
      z-index: 1;
    }
  }
}

@media all and (max-width: 768px) {
  .video-wrapper {
    .play {
      bottom: 5px;
      position: relative;
    }
  }
}
@media all and (max-width: 600px) {
  .video-wrapper {
    width: inherit;
    margin-top: 32%;
    margin-top: 32vw;
    top: -58px;
    &.playing-video{
      margin-top: 0%;
      top: 0;
      .play {
        display:none;
      }
    }

    .play {
      left: 0;
      padding-right: 0;
      span {
        display: none;
      }
    }
  }
}
@media all and (max-width: 319px) {
  .video-wrapper {
    margin-top: 100px;
  }

  .skycom-carousel .actions {
    .next,
    .previous {
      margin-top: 50px;
    }
  }
}

.skycom-notouch {
  .video-wrapper .play{
    left:50px;
  }
  @media all and (min-width: 600px) {
    .skycom-carousel .terms-action{
      padding-right: 50px;
    }
    .skycom-carousel .content{
      padding-left:50px;
    }
  }
  @media all and (min-width: 768px) {
    .skycom-carousel .terms-action{
      padding-right: 130px;
    }
  }
}
.skycom-touch {
  .video-wrapper .play{
    left:5px;
  }
}
.lt-ie10{
  .skycom-carousel .shade {
    width: 66%; //filter goes across whole tile, so stop it a little bit before
  }
}
.lt-ie9{
  .skycom-carousel .terms-action{
    padding-right: 50px;
  }
  .skycom-carousel .content{
    padding-left:50px;
  }
  .skycom-carousel .video-wrapper .play{
    display: block; float:right; padding-left:5px; line-height:3em;
  }
}
.lt-ie8{
  .skycom-carousel {
    .video-wrapper .play span{
      position:relative; top:-20px; padding: 15px; left:-5px;
    }
    .actions .play,
    .actions .pause{
      bottom:12px;
    }
    .indicators{
      width:100%;
      text-align: center;
      left:0;
      .container{
        margin-left: 0;
        span{
          margin-top:12px;
        }
      }
    }
  }
}

.tile{
  position:relative;
  img {
    display: block;
    z-index: -1;
  }
  .poster ,
  .poster img{
    width: 100%;
  }
  .poster{
    min-height: 190px;
  }
  figure{
    margin: 0;
    * {
      cursor: pointer;
    }
  }
  figcaption {
    display: block;
    max-width: 100%;
    box-sizing: border-box;
    z-index: 2;
    @include transform(translateZ(0)); //to stop the text flashing on hover on safari

    a.hover {
      text-decoration: underline;
    }
  }
  h3 {
    margin: 0;
    font-size: em(18);
    line-height: em(18,18);
    margin-bottom: 1px;
  }
  p {
    margin: 0;
    font-size: em(16);
    line-height: em(20,16);
  }
  .channel-logo {
    @include inline-block;
    margin-bottom: 6px;
    z-index: 0;
    position: relative;
    max-height: 34px;
    max-width: 180px;
  }
  .metadata {
    margin-top: 36px;
    overflow:hidden;
    li{
      display:inline-block;
      line-height: 0.7em;
      border-left: 1px solid  #333;
      padding: 0 8px;
      &:first-child{
        margin-left: -9px;
      }
    }
  }
  .overlay{
    position: absolute;
    bottom: 0; left: 0;
  }
}