.skycom-mobile .sky-form textarea{
  width: 96%;
}
.sky-form{
  .required-indicator span, .row label span {
    color: #c00; 
  }


  .row {
    margin-top: 10px;
    font-size: 20px;
    height: 80px;

    label {
      clear: both;
      display: block;
      margin-bottom: 4px;
    }
    input {
      clear: both;
      font-family: SkyTextRegular;
      font-size: 16px;
      max-width: 280px;
      margin: 0;
      border-radius: 5px;
      padding: 10px 5px;

    }
    select, textarea{
      border-radius: 5px;
      padding: 5px;
      font-family: SkyTextRegular,helvetica,arial;
      font-size: 1em;
    }
    input, textarea{
      box-shadow: inset 0px 1px 1px 0px rgb(199, 199, 199);
      border: 1px solid #c7c7c7;
    }

    select{
      border-color: #c7c7c7;
      max-width: 100%;
      color: #3c3c3c;
      font-size: 18px;
    }



    @media screen and (min-width: 768px){
      height: 60px;
      .radiocheck{
        display: inline-block;
        padding-top: 1%;
        width: 50%;
        label{
          text-align: left;
          line-height: 24px;
        }
      }


      label{
        width: 42%;
        float: left;
        text-align: right;
        line-height: 40px;
        margin-right: 12px;
      }
      textarea{
        width: 45%;
        min-width: 252px;
      }
      select {
        width: 50%;
        max-width: 264px;
        height: 40px;
      }
      input{max-width: 255px;}
      .error {margin-left: 44%;}
      &.buttons{
          margin-left: 44%;
      }
      .error {margin-top: 4px;}
    }


    @media screen and (max-width: 400px){
      select, textarea, input {
        max-width: 100%;
        box-sizing: border-box;
      }
    }

    &.no-height{
      height:auto;
      padding-bottom: 13px;
    }

  .field_with_errors {
    input, textarea, select {
      border: 1px solid #c00;
      margin-bottom: 4px;
    }
    label {color: #c00;}
  }
  .error { color: #c00; font-size: 14px; line-height: 13px; }

      
  }
}
