.icon-sprite,
.icon-carousel-next-over,
.icon-carousel-next,
.icon-carousel-pause,
.icon-carousel-play,
.icon-carousel-previous-over,
.icon-carousel-previous,
.icon-chevron-blue,
.icon-chevron-rounded-blue,
.icon-close,
.icon-curved-arrow-bottom-left,
.icon-curved-arrow-down,
.icon-curved-arrow-right,
.icon-curved-arrow-top-right,
.icon-flag-roi,
.icon-flag-uk,
.icon-never-miss,
.icon-remote-record,
.icon-search-white,
.icon-share,
.icon-twitter-blue-tiny,
.icon-twitter-favorite,
.icon-twitter-follow,
.icon-twitter-reply,
.icon-twitter-retweet,
.icon-video-play,
.icon-watch-now {
  background: url('/images/icons.png') no-repeat;
}
i, [class^="icon-"], [class*=" icon-"] {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  overflow: hidden;
}

.icon-carousel-next {
  background-position: 0 -448px;
  height: 60px;
  width: 41px;
}
.icon-carousel-next-over {
  background-position: 0 -328px;
  height: 60px;
  width: 41px;
}
.icon-carousel-previous {
  background-position: 0 -508px;
  height: 60px;
  width: 41px;
}
.icon-carousel-previous-over {
  background-position: 0 -388px;
  height: 60px;
  width: 41px;
}
.icon-video-play {
  background-position: 0 -156px;
  height: 48px;
  width: 48px;
}
.icon-carousel-play {
  background-position: 0 -603px;
  height: 18px;
  width: 18px;
}
.icon-carousel-pause {
  background-position: 0 -621px;
  height: 18px;
  width: 18px;
}
.icon-close {
  background-position: 0 -568px;
  height: 35px;
  width: 35px;
}