
body {
	font: 16px/1em $font-family;
  color: #333333;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-weight: normal;
  line-height: 1em;
}

h1, .page-title-bigger {
	font-size: 3.25em;
}

.page-title-smaller {
  font-size: 2.375em; 
}

h2, .section-title {
	font-size: 1.875em;
}

h3, .module-title {
  font-size: 1.375em;
}

a {
  color: #0070a5 !important;
}

p {
  color: #333;
}

.secondary {
  color: #666;
}

.error {
  color: #D21717;
}

.intro-copy{
  font-size: 1.25em;
}

.supportive-copy{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.75em;
}

.legal-copy{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.688em;
}

.instructional-copy {
  font-family: Luna,SkyTextRegular;
  font-size: 1.875em;
  line-height: 3em;
}

