<div>
    <p>You can detect many css style capabilities, including:</p>
    <ul class="grey-bullets">
        <li>transition: <span id="css-demo-transition"></span></li>
        <li>transform:  <span id="css-demo-transform"></span> i.e. <code>transform: translate(...)</code></li>
        <li>support3D: <span id="css-demo-support3D"></span> i.e. <code>transform: translate3d</code></li>
    </ul>
    <p>You can return the value associated with a css property:</p>
    <ul class="grey-bullets">
        <li>transform: <span id="css-demo-return-transform"></span></li>
    </ul>
    <span class="pull-me dev-button"><span class="instructions">Pull me!</span> detecting height and width using <code>.css</code> doesn't work, use jQuery.</span>
</div>