<a name="buttons"></a>
<h3 class="wiki-h3">Buttons</h3>
<p  class="developer-notes">
    All buttons need the class <code>btn</code>.
Submit buttons should be coded as <code>button type=submit</code> (not <code>input type=submit</code>)
</p>

<div class="example">
    <h4>Primary</h4>
    <p class="developer-notes">
        Add the class <code>primary</code>.
    </p>
    <div class="demo" data-selector="button,a">
        <button href="#" class="btn primary">Primary Button</button>
        <a href="#" class="btn primary">Primary Link</a>
        <button type="submit" class="btn primary">Primary Submit</button>
        <button class="btn primary" disabled>Disabled Button</button>
    </div>
</div>

<div class="example">
    <h4>Secondary</h4>
    <p class="developer-notes">
        Add the class <code>secondary</code>
    </p>
    <div class="demo" data-selector="button,a">
        <button href="#" class="btn secondary">Secondary Button</button>
        <a href="#" class="btn secondary">Secondary Link</a>
        <button type="submit" class="btn secondary">Secondary Submit</button>
        <button class="btn secondary" disabled>Disabled Button</button>
    </div>
</div>