<a name="colours"></a>
<h3 class="wiki-h3">Colours</h3>
<p class=design-notes>
    These colours are for designer reference only. For accessibility reasons, please also note the colour of the text being used.
</p>
<p class=developer-notes>
    Nothing to see here.. move along!  The classes used here are NOT part of the toolkit.
</p>
<h4>Typography</h4>
<div class="m clearfix">
    <div class="skycom-2 alpha ">
        <div class="colour-block colour-primary cushioned">
            Primary
            <small>Main page text</small>
        </div>
        <div class="hex">#333333</div>
    </div>
    <div class="skycom-2 ">
        <div class="colour-block colour-secondary cushioned">
            Secondary
            <small>Supporting text i.e. legal</small>
        </div>
        <div class="hex">#666666</div>
    </div>
    <div class="skycom-2 ">
        <div class="colour-block colour-inactive cushioned">
            Inactive
        </div>
        <div class="hex">#999999</div>
    </div>
    <div class="skycom-2 ">
        <div class="colour-block colour-error cushioned">
            Error
            <small>i.e. Warnings or form errors</small>
        </div>
        <div class="hex">#D21717</div>
    </div>
    <div class="skycom-2 ">
        <div class="colour-block colour-link cushioned">Links</div>
        <div class="hex">#0070a5</div>
    </div>
</div>

<h4>Buttons + Icons</h4>
<div class="m clearfix">
    <div class="skycom-2  alpha">
        <div class="colour-block colour-primary-button cushioned">Primary
            <small>Buttons or icons</small>
        </div>
        <div class="hex">#0073c5</div>
    </div>
    <div class="skycom-2  ">
        <div class="colour-block colour-secondary-button cushioned">Secondary
            <small>Buttons only</small></div>
        <div class="hex">#eaeaea</div>
    </div>
    <div class="skycom-2  ">
        <div class="colour-block colour-success-icon cushioned">Success
            <small>Icons only</small></div>
        <div class="hex">#167255</div>
    </div>
    <div class="skycom-2  ">
        <div class="colour-block colour-sky-go cushioned">Sky Go
            <small>Icons only</small></div>
        <div class="hex">#44ad3a</div>
    </div>
    <div class="skycom-2  ">
        <div class="colour-block colour-remote-record cushioned">Remote Record
            <small>Icons only</small></div>
        <div class="hex">#ed1c24</div>
    </div>
    <div class="skycom-2  ">
        <div class="colour-block colour-never-miss cushioned">Never Miss
            <small>Icons only</small></div>
        <div class="hex">#0077ae</div>
    </div>
</div>

<h4>Backgrounds + Key Line</h4>
<div class="m clearfix">
    <div class="skycom-2  alpha">
        <div class="colour-block colour-background-dark cushioned">Dark Background</div>
        <div class="hex">#eaeaea</div>
    </div>
    <div class="skycom-2  ">
        <div class="colour-block colour-background-light cushioned">Light Background</div>
        <div class="hex">#f4f4f4</div>
    </div>
    <div class="skycom-2 ">
        <div class="colour-block colour-key-line cushioned">Key Line</div>
        <div class="hex">#dcdcdc</div>
    </div>
</div>

<h4>Channel Colours</h4>
<div class="m clearfix">
	<div class="skycom-2 alpha ">
        <div class="colour-block colour-sky-1 cushioned">Sky 1</div>
        <div class="hex">#0076be</div>
    </div>
	<div class="skycom-2  ">
        <div class="colour-block colour-sky-atlantic cushioned">Sky Atlantic</div>
        <div class="hex">#003663</div>
    </div>
	<div class="skycom-2  ">
        <div class="colour-block colour-sky-arts cushioned">Sky Arts</div>
        <div class="hex">#734993</div>
    </div>
	<div class="skycom-2  ">
        <div class="colour-block colour-sky-living cushioned">Sky Living</div>
        <div class="hex">#87a0af</div>
    </div>
	<div class="skycom-2  ">
        <div class="colour-block colour-sky-movies cushioned">Sky Movies</div>
        <div class="hex">#a51d4d</div>
    </div>
</div>

<h4>V3 Brand Colours</h4>
<div class="m clearfix">
	<div class="skycom-2 alpha ">
        <div class="colour-block colour-v3-red cushioned">Red</div>
        <div class="hex">#ed1c24</div>
    </div>
	<div class="skycom-2  ">
        <div class="colour-block colour-v3-pink cushioned">Pink</div>
        <div class="hex">#ed0677</div>
    </div>
	<div class="skycom-2  ">
        <div class="colour-block colour-v3-yellow cushioned">Yellow
            <small>Use primary text colour</small>
        </div>
        <div class="hex">#fdb913</div>
    </div>
	<div class="skycom-2  ">
        <div class="colour-block colour-v3-green cushioned">Green
            <small>Use primary text colour</small></div>
        <div class="hex">#a6ce39</div>
    </div>
	<div class="skycom-2  ">
        <div class="colour-block colour-v3-blue cushioned">Blue
            <small>Do not put text on top (it's not Accessible)</small></div>
        <div class="hex">#00aeef</div>
    </div>
</div>

<h4>Shop Colours</h4>
<p>All text to be above 18px</p>
<div class="m clearfix">
	<div class="skycom-2 alpha ">
        <div class="colour-block colour-original cushioned">Original</div>
        <div class="hex">#d92231</div>
    </div>
	<div class="skycom-2  ">
        <div class="colour-block colour-family cushioned">Family</div>
        <div class="hex">#ff6000</div>
    </div>
	<div class="skycom-2  ">
        <div class="colour-block colour-movies cushioned">Movies</div>
        <div class="hex">#78184c</div>
    </div>
	<div class="skycom-2 ">
        <div class="colour-block colour-sports cushioned">Sports</div>
        <div class="hex">#00549a</div>
    </div>
	<div class="skycom-2 ">
        <div class="colour-block colour-complete cushioned">Complete</div>
        <div class="hex">#00549a</div>
    </div>
</div>