<a name="grid"></a>
<h3 class="wiki-h3">12 Column Grid</h3>
<div class="example">
    <h4>Basic Grid</h4>
    <p class="developer-notes">
        Note how classes now never have underscores '<code>_</code>' but only hyphens '<code>-</code>' instead.
    </p>
    <p class="developer-notes">
        The grid is made of a container '<code>skycom-container</code>' which can be used to contain all your contents, or to contain individual modules.
    </p>
    <p class="developer-notes">
        The container is made up of up 12 columns '<code>skycom-1</code>' through to '<code>skycom-12</code>'.
    </p>
    <p class="developer-notes">
        For older browsers, the first column in a row should also have the '<code>alpha</code>' class.
    </p>
    <p class="developer-notes">
        When the text shouldn't touch the edges of the columns (i.e. when they have a distinct background colour) use '<code>cushioned</code>' class for padding.
    </p>
    <div class="grid-example">
        <div class="example skycom-container clearfix" id="grid12">
                <div class="alpha skycom-1">
                    <div class="cushioned">
                        <div>&nbsp;</div>
                    </div>
                </div>
                <div class="skycom-1">
                    <div class="cushioned">
                        <div>&nbsp;</div>
                    </div>
                </div>
                <div class="skycom-1">
                    <div class="cushioned">
                        <div>&nbsp;</div>
                    </div>
                </div>
                <div class="skycom-1">
                    <div class="cushioned">
                        <div>&nbsp;</div>
                    </div>
                </div>
                <div class="skycom-1">
                    <div class="cushioned">
                        <div>&nbsp;</div>
                    </div>
                </div>
                <div class="skycom-1">
                    <div class="cushioned">
                        <div>&nbsp;</div>
                    </div>
                </div>
                <div class="skycom-1">
                    <div class="cushioned">
                        <div>&nbsp;</div>
                    </div>
                </div>
                <div class="skycom-1">
                    <div class="cushioned">
                        <div>&nbsp;</div>
                    </div>
                </div>
                <div class="skycom-1">
                    <div class="cushioned">
                        <div>&nbsp;</div>
                    </div>
                </div>
                <div class="skycom-1">
                    <div class="cushioned">
                        <div>&nbsp;</div>
                    </div>
                </div>
                <div class="skycom-1">
                    <div class="cushioned">
                        <div>&nbsp;</div>
                    </div>
                </div>
                <div class="skycom-1">
                    <div class="cushioned">
                        <div>&nbsp;</div>
                    </div>
                </div>
        </div>
    </div>
</div>

<div class="example">
    <h4>lightbox Grid</h4>
    <p class="developer-notes">
        the '<code>skycom-offset1</code>' class is used to centre the lightbox.
    </p>
    <p class="developer-notes">
        We also use another '<code>skycom-container</code>' with a new 12 column grid.
    </p>
    <div class="grid-example">
        <div class="example skycom-container clearfix" id="grid12-lightbox">
            <div class="skycom-10 skycom-offset1 ">
                <div class="example skycom-container clearfix" id="grid12-contents">
                    <div class="alpha skycom-1">
                        <div class="cushioned">
                            <div>&nbsp;</div>
                        </div>
                    </div>
                    <div class="skycom-1">
                        <div class="cushioned">
                            <div>&nbsp;</div>
                        </div>
                    </div>
                    <div class="skycom-1">
                        <div class="cushioned">
                            <div>&nbsp;</div>
                        </div>
                    </div>
                    <div class="skycom-1">
                        <div class="cushioned">
                            <div>&nbsp;</div>
                        </div>
                    </div>
                    <div class="skycom-1">
                        <div class="cushioned">
                            <div>&nbsp;</div>
                        </div>
                    </div>
                    <div class="skycom-1">
                        <div class="cushioned">
                            <div>&nbsp;</div>
                        </div>
                    </div>
                    <div class="skycom-1">
                        <div class="cushioned">
                            <div>&nbsp;</div>
                        </div>
                    </div>
                    <div class="skycom-1">
                        <div class="cushioned">
                            <div>&nbsp;</div>
                        </div>
                    </div>
                    <div class="skycom-1">
                        <div class="cushioned">
                            <div>&nbsp;</div>
                        </div>
                    </div>
                    <div class="skycom-1">
                        <div class="cushioned">
                            <div>&nbsp;</div>
                        </div>
                    </div>
                    <div class="skycom-1">
                        <div class="cushioned">
                            <div>&nbsp;</div>
                        </div>
                    </div>
                    <div class="skycom-1">
                        <div class="cushioned">
                            <div>&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="example">
    <h4>1140 Grid</h4>
    <p class="developer-notes">
Add class <code>grid-1140</code> to the parent of your containers.
    </p>
    <div class="grid-example">
        <div class="example skycom-container clearfix" id="grid12-1140">
            <div class="alpha skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div>