<a name="grid"></a>
<h3 class="wiki-h3">12 Column Grid</h3>
<h4>Basic Grid</h4>
<p class="developer-notes">
    Note how classes now never have underscores '<code>_</code>' but only hyphens '<code>-</code>' instead.
</p>
<div class="grid-example">
    <div class="example skycom_container clearfix" id="grid12">
            <div class="alpha skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
    </div>
</div>
<div class="grid-example-buffer"></div>