<a name="grid"></a>
<h3 class="wiki-h3">12 Column Grid</h3>
<h4>Basic Grid</h4>
<p class="developer-notes">
&bull; Note how classes now never have underscores '<code>_</code>' but only hyphens '<code>-</code>' instead.
&bull; The grid is made of a container '<code>skycom-container</code>' which can be used to contain all your contents, or to contain individual modules.
&bull; The container is made up of up 12 columns '<code>skycom-1</code>' through to '<code>skycom-12</code>'.
&bull; For older browsers, the first column in a row should also have the '<code>alpha</code>' class.
&bull; When the text shouldn't touch the edges of the columns (i.e. when they have a distinct background colour) use '<code>cushioned</code>' class for padding.
</p>
<div class="grid-example">
    <div class="example skycom_container clearfix" id="grid12">
            <div class="alpha skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="skycom-1">
                <div class="cushioned">
                    <div>&nbsp;</div>
                </div>
            </div>
    </div>
</div>
<div class="grid-example-buffer"></div>