<a name="icons"></a>
<h3 class="wiki-h3">Icons (non-retina ready)</h3>
<p class="developer-notes">
    Dont forget <code>http://web-toolkit.global.sky.com/{{ site.version }}/fonts/skycons.css</code>
</p>
<table id=wiki-skycons>
    <thead>
        <tr>
            <th>Icon</th>
            <th>CSS Class</th>
            <th>How it looks</th>
        </tr>
    </thead>
    <tbody>
    <tr ><td>sprite</td><td> icon-sprite</td><td class="icon"><i class=" icon-sprite"></i></td></tr>
    
    <tr ><td>carousel-next-over</td><td> icon-carousel-next-over</td><td class="icon"><i class=" icon-carousel-next-over"></i></td></tr>
    <tr ><td>carousel-previous-over</td><td> icon-carousel-previous-over</td><td class="icon"><i class=" icon-carousel-previous-over"></i></td></tr>

    <tr ><td>carousel-next</td><td> icon-carousel-next</td><td class="icon"><i class=" icon-carousel-next"></i></td></tr>
    <tr ><td>carousel-previous</td><td> icon-carousel-previous</td><td class="icon"><i class=" icon-carousel-previous"></i></td></tr>

    <tr ><td>carousel-play</td><td> icon-carousel-play</td><td class="icon"><i class=" icon-carousel-play"></i></td></tr>
    <tr ><td>carousel-pause</td><td> icon-carousel-pause</td><td class="icon"><i class=" icon-carousel-pause"></i></td></tr>

    <tr ><td>never-miss</td><td> icon-never-miss</td><td class="icon"><i class=" icon-never-miss"></i></td></tr>
    <tr ><td>remote-record</td><td> icon-remote-record</td><td class="icon"><i class=" icon-remote-record"></i></td></tr>
    <tr ><td>watch-now</td><td> icon-watch-now</td><td class="icon"><i class=" icon-watch-now"></i></td></tr>

    <tr ><td>video-play</td><td> icon-video-play</td><td class="icon"><i class=" icon-video-play"></i></td></tr>
    <tr ><td>close</td><td> icon-close</td><td class="icon"><i class=" icon-close"></i></td></tr>

    <tr ><td>curved-arrow-bottom-left</td><td> icon-curved-arrow-bottom-left</td><td class="icon"><i class=" icon-curved-arrow-bottom-left"></i></td></tr>
    <tr ><td>curved-arrow-down</td><td> icon-curved-arrow-down</td><td class="icon"><i class=" icon-curved-arrow-down"></i></td></tr>
    <tr ><td>curved-arrow-right</td><td> icon-curved-arrow-right</td><td class="icon"><i class=" icon-curved-arrow-right"></i></td></tr>
    <tr ><td>curved-arrow-top-right</td><td> icon-curved-arrow-top-right</td><td class="icon"><i class=" icon-curved-arrow-top-right"></i></td></tr>

    </tbody>
</table>