


<style>
    #wiki-skycons tr i {
        line-height:32px;
        cursor:pointer;
    }
    #wiki-skycons tr:hover {
        color:#800;
    }
    #wiki-skycons tr:hover i {
        color:#800;
        font-size:32px;
        overflow: visible;
    }
    #wiki-skycons td,
    #wiki-skycons th{
        text-align: left;
    }
    #wiki-skycons th.icon,
    #wiki-skycons td.icon{
        text-align: center;
    }

</style>

<div class="example">
    <h4>Skycons</h4>
    <p class="designer-notes">
        These icons will look good on Retina devices and can be any size or (single) colour.
    </p>
    <p class="developer-notes">
        for ie7 support execute <code>toolkit.skycons.init();</code> after the page has loaded.
    </p>
    <p class="developer-notes">
    Dont forget to include <code>http://web-toolkit.global.sky.com/{{ site.version }}/fonts/skycons.css</code>
    </p>
    <p class="developer-notes">
    Ensure <code>aria-hidden</code> is used on your <code>skycon</code> tags.
    </p>
    <p class="developer-notes">
    To Create Fonts:
    &bull; Open svg in inkscape, press ctrl+a to select all.
    &bull; press ctrl+g to group the objects
    &bull; choose Path - simplify
    &bull; choose Path - union
    &bull; save font into /grunt/fonts/ folder
    &bull; Run `<code>grunt fonts</code>`
    &bull; copy the icons JS from the skycons.css over the icons var in skycons.js
    &bull; Run `<code>grunt</code>`
    </p>
    <table id=wiki-skycons>
        <thead>
            <tr>
                <th>Icon</th>
                <th>CSS Class</th>
                <th>How it looks</th>
            </tr>
        </thead>
        <tbody>
        
        <tr ><td>sky</td><td> skycon-sky</td><td class="icon"><i class=" skycon-sky" aria-hidden=true></i></td></tr>
        
        <tr ><td>twitter-reply</td><td> skycon-twitter-reply</td><td class="icon"><i class=" skycon-twitter-reply" aria-hidden=true></i></td></tr>
        
        <tr ><td>chevron</td><td> skycon-chevron</td><td class="icon"><i class=" skycon-chevron" aria-hidden=true></i></td></tr>
        
        <tr ><td>warning</td><td> skycon-warning</td><td class="icon"><i class=" skycon-warning" aria-hidden=true></i></td></tr>
        
        <tr ><td>twitter-bird</td><td> skycon-twitter-bird</td><td class="icon"><i class=" skycon-twitter-bird" aria-hidden=true></i></td></tr>
        
        <tr ><td>carousel-play</td><td> skycon-carousel-play</td><td class="icon"><i class=" skycon-carousel-play" aria-hidden=true></i></td></tr>
        
        <tr ><td>user-profile</td><td> skycon-user-profile</td><td class="icon"><i class=" skycon-user-profile" aria-hidden=true></i></td></tr>
        
        <tr ><td>search</td><td> skycon-search</td><td class="icon"><i class=" skycon-search" aria-hidden=true></i></td></tr>
        
        <tr ><td>twitter-retweet</td><td> skycon-twitter-retweet</td><td class="icon"><i class=" skycon-twitter-retweet" aria-hidden=true></i></td></tr>
        
        <tr ><td>twitter-favourite</td><td> skycon-twitter-favourite</td><td class="icon"><i class=" skycon-twitter-favourite" aria-hidden=true></i></td></tr>
        
        <tr ><td>carousel-pause</td><td> skycon-carousel-pause</td><td class="icon"><i class=" skycon-carousel-pause" aria-hidden=true></i></td></tr>
        
        <tr ><td>never-miss</td><td> skycon-never-miss</td><td class="icon"><i class=" skycon-never-miss" aria-hidden=true></i></td></tr>
        
        <tr ><td>mail</td><td> skycon-mail</td><td class="icon"><i class=" skycon-mail" aria-hidden=true></i></td></tr>
        
        <tr ><td>twitter-follow</td><td> skycon-twitter-follow</td><td class="icon"><i class=" skycon-twitter-follow" aria-hidden=true></i></td></tr>
        
        <tr ><td>close</td><td> skycon-close</td><td class="icon"><i class=" skycon-close" aria-hidden=true></i></td></tr>
        
        <tr ><td>menu</td><td> skycon-menu</td><td class="icon"><i class=" skycon-menu" aria-hidden=true></i></td></tr>
        
        </tbody>
    </table>
</div>