


<style>
    #skycons tr i {
        line-height:32px;
        cursor:pointer;
    }
    #skycons tr:hover {
        color:#800;
    }
    #skycons tr:hover i {
        color:#800;
        font-size:32px;
        overflow: visible;
    }
    #skycons td,
    #skycons th{
        text-align: left;
    }
    #skycons th.icon,
    #skycons td.icon{
        text-align: center;
    }

</style>
<h3 class="wiki-h3">Skycons</h3>
<p class="developer-notes">
    Dont forget <code>http://web-toolkit.global.sky.com/{{ site.version }}/fonts/skycons.css</code>
    Ensure <code>aria-hidden</code> is used on your <code>skycon</code> tags.
</p>
<table id=skycons>
    <thead>
        <tr>
            <th>Icon</th>
            <th>CSS Class</th>
            <th>How it looks</th>
        </tr>
    </thead>
    <tbody>
    
    <tr ><td>sky</td><td> skycon-sky</td><td class="icon"><i class=" skycon-sky" aria-hidden=true></i></td></tr>
    
    <tr ><td>twitter-reply</td><td> skycon-twitter-reply</td><td class="icon"><i class=" skycon-twitter-reply" aria-hidden=true></i></td></tr>
    
    <tr ><td>chevron</td><td> skycon-chevron</td><td class="icon"><i class=" skycon-chevron" aria-hidden=true></i></td></tr>
    
    <tr ><td>warning</td><td> skycon-warning</td><td class="icon"><i class=" skycon-warning" aria-hidden=true></i></td></tr>
    
    <tr ><td>twitter-bird</td><td> skycon-twitter-bird</td><td class="icon"><i class=" skycon-twitter-bird" aria-hidden=true></i></td></tr>
    
    <tr ><td>carousel-play</td><td> skycon-carousel-play</td><td class="icon"><i class=" skycon-carousel-play" aria-hidden=true></i></td></tr>
    
    <tr ><td>user-profile</td><td> skycon-user-profile</td><td class="icon"><i class=" skycon-user-profile" aria-hidden=true></i></td></tr>
    
    <tr ><td>search</td><td> skycon-search</td><td class="icon"><i class=" skycon-search" aria-hidden=true></i></td></tr>
    
    <tr ><td>twitter-retweet</td><td> skycon-twitter-retweet</td><td class="icon"><i class=" skycon-twitter-retweet" aria-hidden=true></i></td></tr>
    
    <tr ><td>twitter-favourite</td><td> skycon-twitter-favourite</td><td class="icon"><i class=" skycon-twitter-favourite" aria-hidden=true></i></td></tr>
    
    <tr ><td>carousel-pause</td><td> skycon-carousel-pause</td><td class="icon"><i class=" skycon-carousel-pause" aria-hidden=true></i></td></tr>
    
    <tr ><td>mail</td><td> skycon-mail</td><td class="icon"><i class=" skycon-mail" aria-hidden=true></i></td></tr>
    
    <tr ><td>twitter-follow</td><td> skycon-twitter-follow</td><td class="icon"><i class=" skycon-twitter-follow" aria-hidden=true></i></td></tr>
    
    <tr ><td>close</td><td> skycon-close</td><td class="icon"><i class=" skycon-close" aria-hidden=true></i></td></tr>
    
    <tr ><td>menu</td><td> skycon-menu</td><td class="icon"><i class=" skycon-menu" aria-hidden=true></i></td></tr>
    
    </tbody>
</table>