


<style>
    .icons-table tr i {
        line-height:1.2em;
        cursor:pointer;
    }
    .icons-table tr:hover{
        background: #eee;
    }
    .icons-table tr:hover i[class*="skycon-"] {
        -moz-transform: scale(5);
        -webkit-transform: scale(5);
        transform: scale(5);
        overflow: visible;
        background: white;
    }
    .icons-table td,
    .icons-table th{
        text-align: left;
    }
    .icons-table th.demo-col{
        text-align: center;
        width: 140px;
    }
    .icons-table th.icon,
    .icons-table td.icon{
        text-align: center;
    }

</style>

<div class="example">
    <h4>Skycons</h4>
    <p class="designer-notes">
        These icons will look good on Retina devices and can be any size or (single) colour.
    </p>
    <p class="developer-notes">
        for ie7 support execute <code>toolkit.skycons.init();</code> after the page has loaded.
    </p>
    <p class="developer-notes">
    Dont forget to include <code>http://web-toolkit.global.sky.com/{{ site.version }}/fonts/skycons.css</code>
    </p>
    <p class="developer-notes">
    Ensure <code>aria-hidden</code> is used on your <code>skycon</code> tags.
    </p>
    <p class="developer-notes">
    To make the icon have a colour, add the class <code>colour</code> to the parent.
    </p>
    <p class="developer-notes">
    To make the icon have a colour on hover, add the class <code>colour-hover</code> to the parent.
    </p>
    <p class="developer-notes">
    To Create Fonts:
    &bull; save font into /static/font-svgs folder
    &bull; Run `<code>grunt fonts</code>`
    &bull; copy the icons JS from the skycons.css over the icons var in skycons.js
    &bull; Run `<code>grunt</code>`
    </p>
    <table id=wiki-skycons class="icons-table">
        <thead>
            <tr>
                <th>CSS Class</th>
                <th class="demo-col">How it looks</th>
                <th class="demo-col">with .colour</th>
                <th class="demo-col">with .hover-colour</th>
                <th class="demo-col">for designers</th>
            </tr>
        </thead>
        <tbody>
        
        <tr ><td> skycon-sky</td><td class="icon"><i class=" skycon-sky" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-sky" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-sky" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/sky.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-chevron-down</td><td class="icon"><i class=" skycon-chevron-down" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-chevron-down" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-chevron-down" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/chevron-down.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-info</td><td class="icon"><i class=" skycon-info" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-info" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-info" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/info.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-arrow-right</td><td class="icon"><i class=" skycon-arrow-right" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-arrow-right" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-arrow-right" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/arrow-right.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-plus-circle</td><td class="icon"><i class=" skycon-plus-circle" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-plus-circle" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-plus-circle" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/plus-circle.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-sky-plus</td><td class="icon"><i class=" skycon-sky-plus" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-sky-plus" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-sky-plus" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/sky-plus.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-tv</td><td class="icon"><i class=" skycon-tv" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-tv" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-tv" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/tv.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-twitter-reply</td><td class="icon"><i class=" skycon-twitter-reply" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-twitter-reply" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-twitter-reply" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/twitter-reply.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-arrow-down-left</td><td class="icon"><i class=" skycon-arrow-down-left" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-arrow-down-left" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-arrow-down-left" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/arrow-down-left.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-chevron-up</td><td class="icon"><i class=" skycon-chevron-up" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-chevron-up" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-chevron-up" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/chevron-up.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-chevron</td><td class="icon"><i class=" skycon-chevron" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-chevron" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-chevron" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/chevron.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-facebook</td><td class="icon"><i class=" skycon-facebook" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-facebook" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-facebook" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/facebook.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-tick</td><td class="icon"><i class=" skycon-tick" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-tick" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-tick" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/tick.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-remote-record</td><td class="icon"><i class=" skycon-remote-record" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-remote-record" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-remote-record" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/remote-record.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-warning</td><td class="icon"><i class=" skycon-warning" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-warning" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-warning" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/warning.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-carousel-play</td><td class="icon"><i class=" skycon-carousel-play" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-carousel-play" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-carousel-play" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/carousel-play.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-arrow-left</td><td class="icon"><i class=" skycon-arrow-left" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-arrow-left" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-arrow-left" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/arrow-left.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-chevron-left</td><td class="icon"><i class=" skycon-chevron-left" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-chevron-left" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-chevron-left" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/chevron-left.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-on-demand</td><td class="icon"><i class=" skycon-on-demand" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-on-demand" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-on-demand" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/on-demand.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-user-profile</td><td class="icon"><i class=" skycon-user-profile" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-user-profile" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-user-profile" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/user-profile.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-search</td><td class="icon"><i class=" skycon-search" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-search" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-search" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/search.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-twitter-retweet</td><td class="icon"><i class=" skycon-twitter-retweet" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-twitter-retweet" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-twitter-retweet" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/twitter-retweet.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-at</td><td class="icon"><i class=" skycon-at" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-at" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-at" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/at.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-volume</td><td class="icon"><i class=" skycon-volume" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-volume" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-volume" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/volume.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-twitter-favourite</td><td class="icon"><i class=" skycon-twitter-favourite" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-twitter-favourite" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-twitter-favourite" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/twitter-favourite.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-expand</td><td class="icon"><i class=" skycon-expand" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-expand" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-expand" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/expand.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-carousel-pause</td><td class="icon"><i class=" skycon-carousel-pause" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-carousel-pause" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-carousel-pause" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/carousel-pause.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-mouse</td><td class="icon"><i class=" skycon-mouse" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-mouse" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-mouse" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/mouse.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-share</td><td class="icon"><i class=" skycon-share" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-share" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-share" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/share.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-never-miss</td><td class="icon"><i class=" skycon-never-miss" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-never-miss" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-never-miss" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/never-miss.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-mail</td><td class="icon"><i class=" skycon-mail" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-mail" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-mail" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/mail.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-sky-go</td><td class="icon"><i class=" skycon-sky-go" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-sky-go" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-sky-go" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/sky-go.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-twitter-follow</td><td class="icon"><i class=" skycon-twitter-follow" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-twitter-follow" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-twitter-follow" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/twitter-follow.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-pending</td><td class="icon"><i class=" skycon-pending" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-pending" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-pending" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/pending.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-minify</td><td class="icon"><i class=" skycon-minify" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-minify" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-minify" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/minify.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-twitter</td><td class="icon"><i class=" skycon-twitter" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-twitter" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-twitter" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/twitter.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-close</td><td class="icon"><i class=" skycon-close" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-close" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-close" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/close.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-menu</td><td class="icon"><i class=" skycon-menu" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-menu" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-menu" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/menu.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-phone</td><td class="icon"><i class=" skycon-phone" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-phone" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-phone" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/phone.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-cloud</td><td class="icon"><i class=" skycon-cloud" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-cloud" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-cloud" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/cloud.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-video-play</td><td class="icon"><i class=" skycon-video-play" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-video-play" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-video-play" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/video-play.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        <tr ><td> skycon-google-plus</td><td class="icon"><i class=" skycon-google-plus" aria-hidden=true></i></td><td class="icon colour"><i class=" skycon-google-plus" aria-hidden=true></i></td><td class="icon hover-colour"><i class=" skycon-google-plus" aria-hidden=true></i></td><td class="icon"><a href="static/font-svgs/google-plus.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
        
        </tbody>
    </table>
</div>