<ul class="notes">
    <li>Add class <code>sky-form</code> to the container.</li>
    <li>For a grey background, add class <code>sky-well</code> to the <code>sky-form</code> container.</li>
    <li>Add <code>required</code> attribute to field and a <code>required</code> class to the relevant label.</li>
    <li>You can also use the attribute <code>pattern</code> for more detailed 'regex' validation.</li>
    <li>You can customise error messages using a <code>span class=feedback</code>. see the date examples.</li>
    <li>Dates only need the class '<code>date-picker</code>' for the calendar to work. Optionally you can call <code>$(selector).datePicker()</code>.</li>
</ul>
