<ul class="notes">
    <li>All these headers work with or without the corresponding <code>xxx-title</code> classes</li>
    <li>You can optionally add a <code>smaller</code> class to the headers too</li></li>
    <li>By default text is <code>font-family: skyTextRegular, helvetica, arial</code>.</li>
    <li>To make something <code>font-family: SkyTextMedium, helvetica, arial</code> we would prefer you use the class <code>medium</code>.</li>
    <li>To use <code>font-family: luna, helvetica, arial</code> we would prefer you use the class <code>instructions</code>.</li>
</ul>