a.btn,
.btn {
  @include border-radius(5px);
  font: 16px/1em $font-family;
  padding: 0 15px;
  height: 32px;
  line-height: 2em;
  position: relative;
  z-index: 2;
  border: none;
  border-top: 1px solid #0073c5;
  background-color: $primary-button;
  color: #fff;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  margin-right: 20px;
  text-decoration: none;

  &:before {
    @include transition(opacity .25s);
    @include border-radius(0 0 20px 20px);
    @include background(rgba(255, 255, 255, 0.3));
    @include background(linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)));
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));

    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 4%;
    width: 93%;
    height: 10px;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    &:before {
      @include opacity(0.3);
    }
  }

  &.secondary {
    border: solid 1px #cfcfcf;
    background: $secondary-button;
    color: #333;

    &:before {
      @include background(rgba(255, 255, 255, 0.4));
      @include background(linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)));
    }
  }

  &.large {
    height: 50px;
    line-height: 1;
    font-size: 30px;

    &:before {
      left: 1%;
      width: 98%;
      height: 20px;
      z-index: -1;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &[disabled] {
    cursor: default;
    @include opacity(0.3);
    &:hover:before {
      @include opacity(1);
    }
  }

}

//IE 7 hacks
.btn {
  *border-top: 0;
}

a.btn {
  *height: 29px;
  *top: -7px;
}

button.btn {
  *padding: 0;
  *line-height: 16px;
}

.lt-ie9 {
  .btn{
    &:before{
      left:1px;
      width:99%;
      background: #56a2d8;
    }
    &.secondary:before{
      background: #fff;
    }
    &:hover:before{
      background: none;
    }
  }
}

.lt-ie8 {
  .btn:hover{
    text-decoration: underline;
  }
}
