$skycons: sky-go, remote-record, never-miss, warning, google-plus, twitter, facebook, tick,
          chevron, chevron-up, chevron-down, at, cloud, on-demand, sky-plus, mouse, tv, phone, edit,
          pending;
$skyconColours: $colour-sky-go, $colour-remote-record, $colour-never-miss, $error, $colour-google-plus,
                $colour-twitter, $colour-facebook, $success-icon, $link, $link, $link, $primary-button,
                $primary-button,$primary-button,$primary-button,$primary-button,$primary-button,$primary-button,
                $primary-button, $success-icon;

body {

  @for $i from 1 through length($skycons) {
    $this-color: nth($skyconColours, $i);

    .hover-colour:hover .skycon-#{nth($skycons, $i)},
    .colour.skycon-#{nth($skycons, $i)} {
      color: $this-color;
    }
  }
  /* font size overrides */
  .skycon-sky,
  .skycon-chevron-down,
  .skycon-chevron-up,
  .skycon-menu{
    font-size:10px;
  }
}
