<div class="notes">
    Add the classes <code>hero-3-1</code> and <code>hero-mobile-16-9</code>. Use the Responsive Images solution to ensure that the images loaded in mobile view (600px breakpoint) have a 16/9 ratio.
</div>

<div>
    For the responsive images, include this file as early as possible in your page, so that the images load faster. (See Responsive Images section below).
    <code class=block >
&lt;script src='//web-toolkit.global.sky.com/{{ site.version }}/scripts/toolkit.responsiveImages.js'&gt;&lt;/script&gt;
    </code>

</div>