<div class="notes">
    For videos you also need:
    <ul class="notes">
        <li><code>&lt;script src="//web-toolkit.global.sky.com/static/lib/require-2.1.9.min.js">&lt;/script></code></li>
        <li><code>&lt;link rel="stylesheet" href="//player.sky.com/css/styles.min.css" /></code></li>
        <li><code>&lt;script src="//player.sky.com/plugin/jquery.sky.htmlplayer.js">&lt;/script></code></li>
    </ul>

    <p>For tracking image clicks there are a possibility of two places you might need to place <code>data-tracking</code> attribute.
        Either on the <code>shade</code> div if you are using the <code>bg-shading</code>. or on the <code>image</code> tag if you have no shading.

    </p>
</div>