<section class="module clearfix skycom-carousel hero-3-1" data-function="carousel" data-tracking-module="empty-hero"
         id="empty-hero">
    <h2 class="speak">Featured News, shows or Products from around Sky</h2>
    <div class="skycom-carousel-container clearfix">
        <div
                class="slide clearfix skycom-12 alpha bg-shading light-scheme"
                data-tracking-other="Sky Sports HD1"
                data-tracking-pod="tile-1"
                data-tracking-label="David Beckham And Sky Team Up"
                data-tracking-theme="tracking-theme"
                data-video-id="clip-00cwoia5"
                >
            <figure>
                <div class="shade"></div>
                <div class="poster">
                    <img src="wiki_images/carousel/beckham.jpg"
                         alt="David Beckham with Sky Sports Living for Sport participants Adam Brown, Eden Anderson, Michele Meola, Maariyah Atta, Conor Greensmith and Nahida Begum">
                </div>
                <figcaption class="skycom-5 skycom-6-mobile alpha cushioned overlay carousel-content">
                    <img src='http://epgstatic.sky.com/epgdata/1.0/newchanlogos/250/34/skychb4002.png'
                         alt='Sky Sports HD1' class='channel-logo'/>
                    <a href="#!beckham" class="clearfix">
                        <h3 class="skycom-focus-el  section-title smaller" id="title-beckham">David Beckham And Sky Team Up</h3>
                        <p class="skycom-ellipsis">Global sports star David Beckham OBE is joining Sky as an ambassador.</p>
                    </a>
                </figcaption>
                <a href="#!" class="play-video">
                    <i class="icon-video-play" aria-hidden="true"></i>
                    <span class="hidden-mobile">Play Trailer</span>
                </a>
            </figure>
            <h4 class="speak">Terms and Conditions</h4>
            <p class="terms speak legal">
                These are some terms and conditions
            </p>
        </div>
    </div>
</section>