<section class="module clearfix skycom-carousel hero-skinny" data-function="carousel" data-tracking-module="hero-skinny"
         id="hero-skinny">
    <h2 class="speak">Featured News, shows or Products from around Sky</h2>

    <div class="skycom-carousel-container clearfix">
        <div
                class="slide clearfix skycom-12 alpha bg-shading light-scheme"
                data-tracking-other="Sky Sports HD1"
                data-tracking-pod="tile-1"
                data-tracking-label="David Beckham And Sky Team Up"
                data-tracking-theme="tracking-theme"
                data-video-id="clip-00cwoia5"
                >
            <figure>
                <div class="shade"></div>
                <div class="poster">
                    <img src="wiki_images/carousel/169-half-price.jpg"
                         alt="David Beckham with Sky Sports Living for Sport participants Adam Brown, Eden Anderson, Michele Meola, Maariyah Atta, Conor Greensmith and Nahida Begum">
                </div>
                <figcaption class="skycom-5 skycom-6-mobile alpha cushioned overlay carousel-content">
                    <img src='http://epgstatic.sky.com/epgdata/1.0/newchanlogos/250/34/skychb1409.png'
                         alt='Sky Movies' class='channel-logo'/>
                    <a href="#!beckham" class="clearfix">
                        <h3 class="skycom-focus-el  section-title smaller" id="title-beckham-169">Half Price</h3>
                        <p class="skycom-ellipsis">for 6 months</p>
                    </a>
                </figcaption>
                <a href="#!" class="play-video">
                    <i class="icon-video-play" aria-hidden="true"></i>
                    <span class="hidden-mobile">Play Trailer</span>
                </a>
            </figure>
        </div>

        <div data-video-id="clip-00ovbt3u"
             class="slide clearfix skycom-12 alpha  light-scheme"
             data-tracking-other="Sky News"
             data-tracking-pod="tile-2"
             data-tracking-label="Introducing Sky Entertainment Extra+"
             data-tracking-theme="tracking-theme"
                >
            <figure>
                <div class="shade"></div>
                <div class="poster">
                    <img src="wiki_images/carousel/169-offers.jpg"
                         alt="Cube showing Sky Entertainment Extra Plus upgrade from £5 extra a month">
                </div>
                <figcaption class="skycom-5 skycom-6-mobile alpha cushioned overlay carousel-content">
                    <a href="#!sky-entertainment-extra-plus" class="clearfix">
                        <h3 class="skycom-focus-el section-title smaller" id="title-sky-entertainment-extra-plus-169">Join Sky</h3>
                        <p class="skycom-ellipsis">Save Money</p>
                    </a>
                </figcaption>
            </figure>
            <h4 class="speak">Terms and Conditions</h4>
            <p class="terms speak legal">
                These are some different terms and conditions
            </p>
        </div>
        <div data-video-id="clip-00ovbt3u"
             class="slide clearfix skycom-12 alpha bg-shading dark-scheme"
             data-tracking-other="Sky Movies Premiere"
             data-tracking-pod="tile-3"
             data-tracking-label="Watch The Avengers now in 9 hours"
             data-tracking-theme="tracking-theme"
                >
            <figure>
                <div class="shade"></div>
                <div class="poster">
                    <img src="wiki_images/carousel/169-box-sets.jpg" alt="Heroes">
                </div>
                <figcaption class="skycom-5 skycom-6-mobile alpha cushioned overlay carousel-content">
                    <img src='http://epgstatic.sky.com/epgdata/1.0/newchanlogos/250/34/skychb1409.png'
                         alt='Sky Movies Premiere' class='channel-logo'/>
                    <a href="#!avengers1" class="clearfix">
                        <h3 class="skycom-focus-el  section-title smaller" id="title-avengers1-169">TV Box Sets</h3>
                        <p class="skycom-ellipsis">A fabulous collection</p>
                    </a>
                </figcaption>
                <a href="#!" class="play-video" >
                    <i class="icon-video-play" aria-hidden="true"></i>
                    <span class="hidden-mobile">Play Trailer</span>
                </a>
            </figure>
            <h4 class="speak">Terms and Conditions</h4>
            <p class="terms speak legal">
                These are some terms and conditions
            </p>
        </div>
    </div>
</section>