<h3 class="demo-h3 section-title smaller">
    Buttons
    <a href="#!lightbox/code-buttons" class="code-download">Code</a>
</h3>

<div class="example">
    <h4 class="demo-h4 pod-title smaller">Primary </h4>

    <div class="demo clearfix">

        {% include baseStyles/buttons/primary.html %}

    </div>
</div>

<div class="example">
    <h4 class="demo-h4 pod-title smaller">Secondary</h4>
    <div class="demo clearfix">

        {% include baseStyles/buttons/secondary.html %}

    </div>
</div>