<h3 class="demo-h3 section-title smaller">
    12 Column Grid
    <a href="#!lightbox/code-grid" class="code-download">Code</a>
</h3>
<p class="designer-notes skycom-7 alpha">
    Your starting point is a universal grid, divided into equal parts.
    It should be applied across all devices.
    This grid show is fluid and proportionally scales to fit any screen size.
</p>
<div class="example clear">
    <h4 class="demo-h4 pod-title smaller">Grid 974px</h4>
    <p class="designer-notes skycom-7 alpha">
        Use this grid if your website is not ready to move onto the new 1140px width,
        that is if most sites in your vertical are not using the this 'toolkit' version of the grid.
    </p>
    <div class="demo grid-example clearfix">

        {% include baseStyles/grid/974.html %}

    </div>
</div>

<div class="example">
    <h4 class="demo-h4 pod-title smaller">Wide Grid 1140px</h4>
    <div class="demo clearfix">

        {% include baseStyles/grid/1140.html %}

    </div>
</div>

<div class="example">
    <h4 class="demo-h4 pod-title smaller">lightbox Grid</h4>
    <div class="grid-example demo clearfix">

        {% include baseStyles/grid/lightbox.html %}

    </div>
</div>
<div class="example">
    <h4 class="demo-h4 pod-title smaller">Grid on a Portrait Tablet 696px</h4>
    <div class="grid-example demo clearfix">

        {% include baseStyles/grid/tabletPortrait.html %}

    </div>
</div>