<h3 class="wiki-h3">
    <a href="#!lightbox/code-hashManager" class="dev-button code-download">code</a>
    <a href="#test/hashManagerSpec" class="run-test"><i class="skycon-carousel-play" title="run tests"></i></a>
    Hash Manager
</h3>

<p class="design-notes">
</p>
<p class="developer-notes">
    The Hash Manager util to bind function calls to a specific URL hash without having to bind any events.
</p>

<div class="example">
    <p class="developer-notes">
    </p>
    <div class="demo">
        {% include utils/hashManager/default.html %}
    </div>
    <script>
        {% include utils/hashManager/default.js %}
    </script>
</div>
