<h3 class="wiki-h3">
    <a href="#!lightbox/code-toggle" class="dev-button code-download">code</a>
    <a href="#test/toggleSpec" class="run-test"><i class="skycon-carousel-play" title="run tests"></i></a>
    Toggle
</h3>


<div class="example">
    <h4 class="medium">By Element</h4>
    <div class="demo" >
        {% include utils/toggle/element.html %}
    </div>
    <script>
        if (window.require){
            {% include components/toggle/element.require.js %}
        } else {
            {% include components/toggle/element.js %}
        }
    </script>
</div>

<div class="example">
    <h4 class="medium">By Container</h4>
    <div class="demo" >
        {% include utils/toggle/container.html %}
    </div>
    <script>
        if (window.require){
            {% include components/toggle/container.require.js %}
        } else {
            {% include components/toggle/container.js %}
        }
    </script>
</div>

<div class="example">
    <h4 class="medium">Complete</h4>
    <div class="demo" >
        {% include utils/toggle/complete.html %}
    </div>
    <script>
        if (window.require){
            {% include components/toggle/complete.require.js %}
        } else {
            {% include components/toggle/complete.js %}
        }
    </script>
</div>