<h3 class="wiki-h3">
    <a href="#test/toggleSpec" class="run-test"><i class="skycon-carousel-play" title="run tests"></i></a>
    Toggle
</h3>

<p class="design-notes">
</p>
<p class="developer-notes">
    Make sure the containers height is correct. i.e. elements with margin don't count towards the height!!
</p>

<div class="example">
    <h4 class="medium">By Element</h4>
    <p class="developer-notes">
    </p>
    <div class="demo" >

        {% include utils/toggle/element.html %}

    </div>
    <script>
        saveHTMLForDemo('#toggle-by-element');
        {% include utils/toggle/element.js %}
    </script>
</div>

<div class="example">
    <h4 class="medium">By Container</h4>
    <p class="developer-notes">
    </p>
    <div class="demo" >

        {% include utils/toggle/container.html %}

    </div>
    <script>
        saveHTMLForDemo('#toggle-by-container');
        {% include utils/toggle/container.js %}
    </script>
</div>

<div class="example">
    <h4 class="medium">Complete</h4>
    <p class="developer-notes">
    </p>
    <div class="demo" >

        {% include utils/toggle/complete.html %}

    </div>
    <script>
        saveHTMLForDemo('#toggle-already-done');
        {% include utils/toggle/complete.js %}
    </script>
</div>