<h3 class="wiki-h3">Accessibility</h3>
<p class="designer-notes">
    'Tabbing 'will make the elements background blue and text and icons white.
</p>
<p class="developer-notes">
    For page text that is needed only for screen readers, add the class '<code>speak</code>'.
</p>
<p class="developer-notes">
    Don't forget to add about half a day to each client-side card to give you time to use VoiceOVer on your page, check colour contrast and 'tabbing'!
</p>
<p >
   Please go to the <a target="_accessibility" href="http://assets.nb.sky.com/accessibility/index.html">Nomensa Accessibility Page &hellip;</a>
</p>
