<p>
   As a rule we try to follow the following practices:
</p>
<dl class="clearfix wiki-dl">
    <dt>CSS</dt><dd>Use hyphens '<code>-</code>' within all class, ID and name attribute. Never camelCase or underscore.</dd>
    <dt>JS</dt><dd>Where possible, use '<code>camelCase</code>' for function/variable names.</dd>
    <dt>Files / Directories</dt><dd>Where possible, use '<code>camelCase</code>'.</dd>
    <dt>jQuery</dt><dd>Where possible, please don't rely on jQuery. To be lean, Toolkit is working towards freeing itself of jQuery dependency.</dd>
    <dt>Events</dt><dd>We suggest using Toolkit's own events module: <code>toolkit.event</code></dd>
    <dt>Variable Names</dt><dd>If name refers to a jQuery object/element always prefix the name with <code>$</code> i.e. <code>$container</code></dd>
    <dt>Animations</dt><dd>Use CSS3 animations/transitions where possible over jQuery and JavaScript. This will improve performance, especially for mobile devices.</dd>
</dl>
