<h3 class="wiki-h3">Contributing</h3>
<p class="developer-notes">
    The source code is available in a private repository on Github, along with instructions for building/running the project locally.
https://github.com/skyglobal/web-toolkit/
</p>
<p class="developer-notes">
    When adding comments to be seen by developers only you can use the following classes:
    <code>developer-notes</code> for hints and tips
    <code>dependencies</code> for external files required
    <code>init</code> for javascript
</p>
<dl class="clearfix wiki-dl">
    <dt>Feature Requests</dt>
    <dd>Please check <a href="https://github.com/skyglobal/web-toolkit/issues">here</a> to see if there is already a similar request. If not, create a New
       Issue and flag it as an '<code>enhancement</code>'</dd>
    <dt>Bug Reporting</dt>
    <dd>Please check <a href="https://github.com/skyglobal/web-toolkit/issues">here</a> to see if there is already a similar request. If not, create a New
    Issue and flag it as a '<code>bug</code>'</dd>
</dl>