<div>
    <h4 class="intro">Node Problems</h4>
    <p>If your node is out of date, try the following:</p>
            <ul class="grey-bullets">
                <li><code>sudo npm cache clean -f</code></li>
                <li><code>sudo npm install -g n</code></li>
                <li><code>sudo n stable</code></li>
            </ul>
    <h4 class="intro">Grunt Problems</h4>
        <p>If Grunt or the project not running as expected, try:</p>
            <ul class="grey-bullets">
                <li><code>npm install</code></li>
                <li><code>bundle</code></li>
            </ul>
</div>