<div>
    <ul>
        <li>If your node is out of date, try the following:
            <ul class="grey-bullets">
                <li><code>sudo npm cache clean -f</code></li>
                <li><code>sudo npm install -g n</code></li>
                <li><code>sudo n stable</code></li>
            </ul>
        </li>
        <li>If Grunt or the project not running as expected, try:
            <ul class="grey-bullets">
                <li><code>npm install</code></li>
                <li><code>bundle</code></li>
            </ul>
        <li>If you're upgrading from version 1.* run <code>rake emptyGitCache</code></li>
    </ul>
</div>