body {
	font-family: helvetica, arial, sans-serif;	
}

h1, h2, h3, h4, h5, h6 {
	font-family: SkyTextRegular;
	font-weight: normal;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

.skycom-button {
	background-color: #0072c5;
}
