body {
	font-family: helvetica, arial, sans-serif;	
}

h1, h2, h3, h4, h5, h6 {
	font-family: SkyTextRegular;
	font-weight: normal;
}

h1 {
	font-size: 3em;
	color: red;
}

h2 {
	font-size: 2em;
}


.btn,
.btn input{
  border-radius: 5px;
  line-height: 1.7em;
  height: 1.75em;
  padding:0 20px;
  display: inline-block;
  font-size: 1em;
  font-family: SkyTextRegular, helvetica;
  cursor: pointer;
  position:relative;
  box-sizing: border-box;
}
.btn.btn-input{
  padding: 0;
}
.btn input{
  width: 100%;
  height: 100%;
  background: none;
  -webkit-appearance: none;
  border: 0;
}
.btn:before{
  content:"";
  background: linear-gradient(to bottom,rgba(255,255,255,0.4) 0,rgba(255,255,255,0.05) 100%);
  position: absolute;
  top: 0;
  left: 1.5%;
  width: 97%;
  height: 14px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.btn:hover{
  text-decoration: none;
}
.btn:hover:before{
  display:none;
}

/* button themes */
.primary-cta,
.primary-cta input{
  color: #fff;
}
.primary-cta{
  border: solid 1px #0073c5;
  background: #0073c5;
}




/* tabs layout */

.tabs {
  font-family: SkyTextRegular,Helvetica,Arial;
  margin: 20px 0;
  border-bottom: solid 1px #d7d5d5;
}
.tab  {
  font-size: 1.25em;
  float:left;
  margin-right:0.5%;
  width: 14.5%;
  position: relative;
}
.tab a{  
  display: block;
  border: solid 1px #d7d5d5;
  border-bottom:0;
  background: #eee;
  text-align: center;
  padding:0 10px;
  line-height:40px;
  height:40px;
  border-radius:5px 5px 0 0;
  transition: background-color .3s;
  position:relative;
}
.tab.selected a{
  text-decoration: none;
  cursor: default;
}
.tab.selected a:before {
content:"";
}
.tabpanel {
  display: none
}
.tabpanel.selected {
  display: block
}
@media screen and (max-width: 767px) { 
    .tabcontents {
      width: 1140px;
      overflow-y: hidden;
    }
    .tabpanel {
      width:100%;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
    }
}

/* tabs theme */
.tab.selected a {
	margin-bottom: -1px;
  background: #0073c5;
  border: solid 1px #0073c5;
  color: #fff;
}

.tab.selected a:before{
  background: linear-gradient(to bottom,rgba(255,255,255,0.4) 0,rgba(255,255,255,0.05) 100%);
  position: absolute;
  top: 0;
  left: 1.5%;
  width: 97%;
  height: 14px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}


/* modular configs*/
.tab.selected.withNipple:after {
  content: "";position:absolute;top:100%;left:50%;margin-left:-10px;width:0;height:0;border:10px solid transparent;z-index:1
}
.tab.selected.withNipple:after {
  border-top-color: #0073c5;
}

