<h3 class="wiki-h3">
    <a href="#!lightbox/code-accordion" class="dev-button code-download">code</a>
    <a href="#test/accordionSpec" class="run-test"><i class="skycon-carousel-play" title="run tests"></i></a>
    Accordion
</h3>
<p class="design-notes">
    The accordion is fully responsive.
</p>
<div class="example">
    <div class="demo" >

        {% include components/accordion/default.html %}

    </div>
    <script>
        saveHTMLForDemo('.accordion');
        {% include components/accordion/default.js %}
    </script>
</div>