<h3 class="wiki-h3">
    <a href="#test/accordionSpec" class="run-test"><i class="skycon-carousel-play" title="run tests"></i></a>
    Accordion
</h3>
<p class="design-notes">
    The accordion is fully responsive.
</p>
<div class="example">
    <div class="demo" >

        {% include components/accordion/default.html %}

    </div>
    <script>
        saveHTMLForDemo('.accordion');
        if (window.require){
            require(['toolkit'], function(){
                $('.accordion').accordion();
            });
        } else {
            $('.accordion').accordion();
        }
    </script>
</div>