<h3 class="wiki-h3">
    <a href="#test/carouselSpec" class="run-test"><i class="skycon-carousel-play" title="run tests"></i></a>
    Carousel
</h3>
<p class="design-notes">
    The carousel is fully responsive, incorporates the video player and works on touch devices (not microsoft).
</p>

<div class="dependencies">
    for videos: you also need RequireJS.
    <link rel="stylesheet" href="//player.sky.com/css/styles.min.css" />
    <script src="//player.sky.com/plugin/jquery.sky.htmlplayer.js"></script>
</div>

<div class="example">
    <h4 class="medium">Default</h4>
    <div class="design-notes">
        Use a maximum of 4 lines of text in total (or 3 lines plus channel logo).
    </div>
    <p class="developer-notes">
        Add the class <code>hero-3-1</code>.
    </p>
    <div class="demo" >

        {% include components/carousel/default.html %}

    </div>

    <script>
        saveHTMLForDemo('#hero');
        {% include components/carousel/default.js %}
    </script>

</div>

<div class="example">
    <h4 class="medium">Skinny</h4>
    <div class="design-notes">
        Use a maximum of 2 lines of text in total (or 1 line plus channel logo).
    </div>
    <p class="developer-notes">
        Add the class <code>hero-skinny</code>.
    </p>
    <div class="demo" >

        {% include components/carousel/skinny.html %}

    </div>

    <script>
        saveHTMLForDemo('#hero-skinny');
        {% include components/carousel/skinny.js %}
    </script>



</div>

<div class="example">
    <h4 class="medium">Single Slide</h4>
    <div class="design-notes">
        This will behave like it isn't a carousel as there is only one slide.
    </div>
    <div class="demo">

        {% include components/carousel/singleSlide.html %}

    </div>

    <script>
        saveHTMLForDemo('#empty-hero');
        {% include components/carousel/singleSlide.js %}
    </script>

</div>