<h3 class="wiki-h3">Lightbox</h3>
<p>
    Dont forget to think about things like stopping carousels when people open lightboxes.
</p>
<a id="lightbox-demo-link" href="#">Show Lightbox</a>
<a id="lightbox-demo-tabbable-link" tabindex="101" href="#">Show Lightbox</a>

<p class="developer-notes">
	To automatically bind lightboxes use the attribute <code>data-lightbox="#my-lightbox-id"</code>.
</p>
<div class="example">
    <div class="demo" data-selector="#lightbox-demo">

        {% include components/lightbox/default.html %}

    </div>
    <script>
        saveHTMLForDemo('#lightbox-demo');
        if (window.require){
            require(['toolkit'], function(toolkit){
                $('#lightbox-demo-link').on('click', function(e) {
                    e.preventDefault();
                    $('[data-function=carousel]').trigger("pause");
                    toolkit.lightbox.show('#lightbox-demo', '#lightbox-demo-link');
                });
            });
        } else {
            $('#lightbox-demo-link').on('click', function(e) {
                e.preventDefault();
                $('[data-function=carousel]').trigger("pause");
                toolkit.lightbox.show('#lightbox-demo', '#lightbox-demo-link');
            });
        }
    </script>
</div>
