<h3 class="wiki-h3">
    <a href="#!lightbox/code-lightbox" class="dev-button code-download">code</a>
    <a href="#test/lightboxSpec" class="run-test"><i class="skycon-carousel-play" title="run tests"></i></a>
    Lightbox</h3>
<a id="lightbox-demo-link" href="#!lightbox/lightbox-demo" >Show Lightbox</a> |
<a id="lightbox-demo-tabbable-link" tabindex="101" href="#!">link that cant be tabbed to if lightbox is open</a>

<p class="developer-notes">
	Bind lightboxes to links using the <code>href=#!lightbox/</code> then the ID of the element to be shown.
</p>
<div class="example">
    <div class="demo" >

        {% include components/lightbox/default.html %}

    </div>
    <script>
        saveHTMLForDemo('#lightbox-demo');
        {% include components/lightbox/default.js %}
    </script>
</div>
