<h3 class="wiki-h3">Tooltip</h3>
<div class="design-notes">
    A tooltip component.
</div>
<div class="example">
    <h4 class="medium">Popup</h4>
    <div class="developer-notes">
        Ensure that href for all the social links match the 'share' urls as per the example e.g. <code>https://twitter.com/intent/tweet?url=</code>
    </div>
    <div class="demo" style="position: relative" data-selector="*">
        <div data-tooltip-content-id="content1234">Hover me for the score.</div>
        <div id="content1234" class="tltp">Computer 0 - You 1</div>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="demo" style="position: relative" data-selector="*">
        <div title="Computer 0 - You 2">Hover me for the score.</div>
    </div>
</div>