<a name="video"></a>
<h3 class="wiki-h3">Video</h3>

<div class="design-notes">
    A wrapper for the Sky video player, The video will expand to fit the ratio of the video.
</div>
<div class="dependencies">
    include: Require.js
    <link rel="stylesheet" href="//player.sky.com/css/styles.min.css"/>
    <script src="//player.sky.com/plugin/jquery.sky.htmlplayer.js"></script>
</div>
<div class="example">
    <div class="demo" data-selector=".video-container" id="demo-video">

        {% include components/video/default.html %}

    </div>
    <script>
        saveHTMLForDemo('.video-container');
        componentConfig = {
            token:"8D5B12D4-E1E6-48E8-AF24-F7B13050EE85", //this token should be unique to your team
            displayAdverts:false ,
            onPlay: function() { //optional
                //stuff to do before video plays
            },
            closeCallback: function() { //optional
                //stuff to do after video closes
            }
        };
        if (window.require){
            require(['toolkit'], function(){
                $('#demo-video .video-container').video(componentConfig);
            });
        } else {
            $('#demo-video .video-container').video(componentConfig);
        }
    </script>
</div>