<a name="video"></a>
<h3 class="wiki-h3">Video</h3>

<div class="design-notes">
    A wrapper for the Sky video player, The video will expand to fit the ratio of the video.
</div>
<div class="dependencies">
    include: Require.js
    <link rel="stylesheet" href="//player.sky.com/css/styles.min.css"/>
    <script src="//player.sky.com/plugin/jquery.sky.htmlplayer.js"></script>
</div>
<div class="example">
    <div class="demo" data-selector=".video-container" >
        <div id="demo-video" class="video-container" data-video-id="clip-00i9rvth">
            <img src="wiki_images/bling-ring.jpg"
                 alt="David Beckham with Sky Sports Living for Sport participants Adam Brown, Eden Anderson, Michele Meola, Maariyah Atta, Conor Greensmith and Nahida Begum">

            <a href="#!" class="play-video internal-link"
               data-tracking-context="David Beckham And Sky Team Up">
                <i class="icon-video-play"></i>
                <span class="speak">Play Trailer</span>
            </a>
        </div>
    </div>
    <script>
        $('#demo-video').video({
            token:"8D5B12D4-E1E6-48E8-AF24-F7B13050EE85", //this token should be unique to your team
            displayAdverts:false ,
            onPlay: function() { //optional
                //stuff to do before video plays
            },
            closeCallback: function() { //optional
                //stuff to do after video closes
            }
        });
    </script>
</div>