/**
 * Solarized Dark theme
 *
 * Adaptation of Solarized Dark from ethanschoonover.com/solarized
 *
 * @author Ethan Schoonover
 * @author David Litmark
 * @version 1.0.0
 */
code {
    background: #002b36; /* base03 */
    margin: 0px;
    padding: 10px;
    color: #839496; /* base0 */
    font-size: 14px;
    margin-bottom: 20px;
    overflow-x: scroll;
}

code {
    font-family: 'Monaco', courier, monospace;
}

code .comment {
    color: #586e75; /* base01 */
}

code .constant {
    color: #839496; /* base0 */
}

code .constant.language {
    color: #268bd2; /* blue */
}

code .constant.regexp {
    color: #2aa198; /* cyan */
}

code .storage {
    color: #268bd2; /* blue */
}

code .string, code .comment.docstring {
    color: #2aa198; /* cyan */
}

code .support.tag.script, code .support.tag.style {
    color: #2aa198; /* cyan */
}

code .string.regexp {
    color: #2aa198; /* cyan */
}

code .string.regexp.open, code .string.regexp.close {
    color: #2aa198; /* cyan */
}

code .keyword, code .selector {
    color: #859900; /* green */
}

code .inherited-class {
    font-style: italic;
}

code .entity {
    color: #b58900; /* yellow */
}

code .support, *[data-language="c"] .function.call {
    color: #859900; /* green */
}

code .support.method {
    color: #839496; /* base0 */
}

code .support.property {
    color: #839496; /* base0 */
}

code .variable.global, code .variable.class, code .variable.instance {
    color: #839496; /* base0 */
}
