<section class="module clearfix tabs-container classic" data-function="tabs" id='demo-classic-tabs'>

    <h2 class="speak">This is a screenreader header for tabs</h2>

    <ul class="tabs clearfix" role="tablist">
        <li id="first-classic-tab" aria-controls="first-classic" aria-label="first" role="tab" class="tab selected">
            <a href="#!first-classic" class="skycom-ellipsis internal-link"><span>First</span></a>
        </li>
        <li id="second-classic-tab" aria-controls="second-classic" aria-label="second" role="tab" class="tab" >
            <a href="#!second-classic" class="skycom-ellipsis internal-link"><span>SecondSecond</span></a>
        </li>
        <li id="third-classic-tab" aria-controls="third-classic" aria-label="third" role="tab" class="tab" >
            <a href="#!third-classic" class="skycom-ellipsis internal-link"><span>ThirdThirdThird</span></a>
        </li>
        <li id="fourth-classic-tab" aria-controls="fourth-classic" aria-label="fourth" role="tab" class="tab" >
            <a href="#!fourth-classic" class="skycom-ellipsis internal-link"><span>FourthFourth</span></a>
        </li>
        <li id="fifth-classic-tab" aria-controls="fifth-classic" aria-label="fifth" role="tab" class="tab">
            <a href="#!fifth-classic" class="skycom-ellipsis internal-link"><span>FifthFifthFifthFifth</span></a>
        </li>
        <li id="sixth-classic-tab" aria-controls="sixth-classic" aria-label="sixth" role="tab" class="tab" >
            <a href="#!sixth-classic" class="skycom-ellipsis internal-link"><span>Sixth</span></a>
        </li>
        <li id="seventh-classic-tab" aria-controls="seventh-classic" aria-label="seventh" role="tab" class="tab">
            <a href="#!seventh-classic" class="skycom-ellipsis internal-link"><span>Seventh</span></a>
        </li>
        <div class="dropdown-tab-select">
            <a href="#!" aria-controls="dropdown" aria-label="more tabs" class="medium">&hellip;</a>
            <ul class="more-tabs">

            </ul>
        </div>
    </ul>

    <div id="first-classic" class="tabpanel selected" aria-labeledby="first-classic-tab" role="tabpanel">
        <section class="tabcontents clearfix">
            <h2 class="speak">Screen reader header for First tab contents</h2>
            <div class="skycom-12 alpha">
                <img src="wiki_images/beckham.jpg" alt="beckham looking for help">
            </div>
        </section>
    </div>

    <div id="second-classic" class="tabpanel" aria-labeledby="second-classic-tab" role="tabpanel">
        <section class="tabcontents clearfix">
            <h2 class="speak">Screen reader header for Second tab contents</h2>
            <div class="skycom-12 alpha">
                <img src="wiki_images/smash.jpg" alt="something else">
            </div>
        </section>
    </div>

    <div id="third-classic" class="tabpanel" aria-labeledby="third-classic-tab" role="tabpanel">
        <section class="tabcontents clearfix">
            <h2 class="speak">Screen reader header for Third tab contents</h2>
            <div class="skycom-12 alpha">
                <img src="wiki_images/beckham.jpg" alt="something else">
            </div>
        </section>
    </div>

    <div id="fourth-classic" class="tabpanel" aria-labeledby="fourth-classic-tab" role="tabpanel">
        <section class="tabcontents clearfix">
            <h2 class="speak">Screen reader header for Fourth tab contents</h2>
            <div class="skycom-12 alpha">
                <img src="wiki_images/smash.jpg" alt="something else">
            </div>
        </section>
    </div>

    <div id="fifth-classic" class="tabpanel" aria-labeledby="fifth-classic-tab" role="tabpanel">
        <section class="tabcontents clearfix">
            <h2 class="speak">Screen reader header for Fifth tab contents</h2>
            <div class="skycom-12 alpha">
                <img src="wiki_images/beckham.jpg" alt="something else">
            </div>
        </section>
    </div>

    <div id="sixth-classic" class="tabpanel" aria-labeledby="sixth-classic-tab" role="tabpanel">
        <section class="tabcontents clearfix">
            <h2 class="speak">Screen reader header for Sixth tab contents</h2>
            <div class="skycom-12 alpha">
                <img src="wiki_images/smash.jpg" alt="something else">
            </div>
        </section>
    </div>

    <div id="seventh-classic" class="tabpanel" aria-labeledby="seventh-classic-tab" role="tabpanel">
        <section class="tabcontents clearfix">
            <h2 class="speak">Screen reader header for Seventh tab contents</h2>
            <div class="skycom-12 alpha">
                <img src="wiki_images/beckham.jpg" alt="something else">
            </div>
        </section>
    </div>

</section>