<section class="module clearfix tabs-container page-nav" data-function="tabs" id='demo-inpage-nav-tabs'>

    <h2 class="speak">This is a screenreader header for tabs</h2>

    <ul class="tabs clearfix" role="tablist">
        <li id="first-tab" aria-controls="first" aria-label="first" role="tab" class="tab selected">
            <a href="#!first" class="skycom-ellipsis internal-link"><span>First</span></a>
        </li>
        <li id="second-tab" aria-controls="second" aria-label="second" role="tab" class="tab" >
            <a href="#!second" class="skycom-ellipsis internal-link"><span>SecondSecond</span></a>
        </li>
        <li id="third-tab" aria-controls="third" aria-label="third" role="tab" class="tab" >
            <a href="#!third" class="skycom-ellipsis internal-link"><span>ThirdThirdThird</span></a>
        </li>
        <li id="fourth-tab" aria-controls="fourth" aria-label="fourth" role="tab" class="tab" >
            <a href="#!fourth" class="skycom-ellipsis internal-link"><span>FourthFourth</span></a>
        </li>
        <li id="fifth-tab" aria-controls="fifth" aria-label="fifth" role="tab" class="tab">
            <a href="#!fifth" class="skycom-ellipsis internal-link"><span>FifthFifthFifthFifth</span></a>
        </li>
        <li id="sixth-tab" aria-controls="sixth" aria-label="sixth" role="tab" class="tab" >
            <a href="#!sixth" class="skycom-ellipsis internal-link"><span>Sixth</span></a>
        </li>
        <li id="seventh-tab" aria-controls="seventh" aria-label="seventh" role="tab" class="tab">
            <a href="#!seventh" class="skycom-ellipsis internal-link"><span>Seventh</span></a>
        </li>
        <div class="dropdown-tab-select">
            <a href="#!" aria-controls="dropdown" aria-label="more tabs" class="medium">&hellip;</a>
            <ul class="more-tabs">

            </ul>
        </div>
    </ul>

    <div id="first" class="tabpanel selected" aria-labeledby="first-tab" role="tabpanel">
        <section class="tabcontents clearfix">
            <h2 class="speak">Screen reader header for First tab contents</h2>
            <div class="skycom-12 alpha">
                <img src="wiki_images/beckham.jpg" alt="beckham looking for help">
            </div>
        </section>
    </div>

    <div id="second" class="tabpanel" aria-labeledby="second-tab" role="tabpanel">
        <section class="tabcontents clearfix">
            <h2 class="speak">Screen reader header for Second tab contents</h2>
            <div class="skycom-12 alpha">
                <img src="wiki_images/smash.jpg" alt="something else">
            </div>
        </section>
    </div>

    <div id="third" class="tabpanel" aria-labeledby="third-tab" role="tabpanel">
        <section class="tabcontents clearfix">
            <h2 class="speak">Screen reader header for Third tab contents</h2>
            <div class="skycom-12 alpha">
                <img src="wiki_images/beckham.jpg" alt="something else">
            </div>
        </section>
    </div>

    <div id="fourth" class="tabpanel" aria-labeledby="fourth-tab" role="tabpanel">
        <section class="tabcontents clearfix">
            <h2 class="speak">Screen reader header for Fourth tab contents</h2>
            <div class="skycom-12 alpha">
                <img src="wiki_images/smash.jpg" alt="something else">
            </div>
        </section>
    </div>

    <div id="fifth" class="tabpanel" aria-labeledby="fifth-tab" role="tabpanel">
        <section class="tabcontents clearfix">
            <h2 class="speak">Screen reader header for Fifth tab contents</h2>
            <div class="skycom-12 alpha">
                <img src="wiki_images/beckham.jpg" alt="something else">
            </div>
        </section>
    </div>

    <div id="sixth" class="tabpanel" aria-labeledby="sixth-tab" role="tabpanel">
        <section class="tabcontents clearfix">
            <h2 class="speak">Screen reader header for Sixth tab contents</h2>
            <div class="skycom-12 alpha">
                <img src="wiki_images/smash.jpg" alt="something else">
            </div>
        </section>
    </div>

    <div id="seventh" class="tabpanel" aria-labeledby="seventh-tab" role="tabpanel">
        <section class="tabcontents clearfix">
            <h2 class="speak">Screen reader header for Seventh tab contents</h2>
            <div class="skycom-12 alpha">
                <img src="wiki_images/beckham.jpg" alt="something else">
            </div>
        </section>
    </div>

</section>