<% fontBaseName="Skycons" %>
<% classPrefix='skycon-'%>
<% baseClass=''%>
<style>
    #wiki-skycons tr i {
        line-height:1.2em;
        cursor:pointer;
    }
    #wiki-skycons tr:hover{
        background: #eee;
    }
    #wiki-skycons tr:hover i {
        -moz-transform: scale(5);
        -webkit-transform: scale(5);
        transform: scale(5);
        overflow: visible;
        background: white;
    }
    #wiki-skycons td,
    #wiki-skycons th{
        text-align: left;
    }
    #wiki-skycons th.demo-col{
        text-align: center;
        width: 140px;
    }
    #wiki-skycons th.icon,
    #wiki-skycons td.icon{
        text-align: center;
    }

</style>

<div class="example">
    <h4>Skycons</h4>
    <p class="designer-notes">
        These icons will look good on Retina devices and can be any size or (single) colour.
    </p>
    <p class="developer-notes">
        for ie7 support execute <code>toolkit.skycons.init();</code> after the page has loaded.
    </p>
    <p class="developer-notes">
    Dont forget to include <code>http://web-toolkit.global.sky.com/{{ site.version }}/fonts/skycons.css</code>
    </p>
    <p class="developer-notes">
    Ensure <code>aria-hidden</code> is used on your <code>skycon</code> tags.
    </p>
    <p class="developer-notes">
    To make the icon have a colour, add the class <code>colour</code> to the parent.
    </p>
    <p class="developer-notes">
    To make the icon have a colour on hover, add the class <code>colour-hover</code> to the parent.
    </p>
    <p class="developer-notes">
    To Create Fonts:
    &bull; Open svg in inkscape, press ctrl+a to select all.
    &bull; press ctrl+g to group the objects
    &bull; choose Path - simplify
    &bull; choose Path - union
    &bull; save font into /grunt/fonts/ folder
    &bull; Run `<code>grunt fonts</code>`
    &bull; copy the icons JS from the skycons.css over the icons var in skycons.js
    &bull; Run `<code>grunt</code>`
    </p>
    <table id=wiki-skycons>
        <thead>
            <tr>
                <th>CSS Class</th>
                <th class="demo-col">How it looks</th>
                <th class="demo-col">with .colour</th>
                <th class="demo-col">with .hover-colour</th>
                <th class="demo-col"> (for designers) </th>
            </tr>
        </thead>
        <tbody>
        <% for (var glyphIdx = 0; glyphIdx < glyphs.length; glyphIdx++) { var glyph = glyphs[glyphIdx] %>
        <tr ><td><%= baseClass %> <%= classPrefix %><%= glyph %></td><td class="icon"><i class="<%= baseClass %> <%= classPrefix %><%= glyph %>" aria-hidden=true></i></td><td class="icon colour"><i class="<%= baseClass %> <%= classPrefix %><%= glyph %>" aria-hidden=true></i></td><td class="icon hover-colour"><i class="<%= baseClass %> <%= classPrefix %><%= glyph %>" aria-hidden=true></i></td><td class="icon"><a href="dist/fonts/svgs/<%= glyph %>.svg" target="_new">download</a> </td></tr>
        <% } %>
        </tbody>
    </table>
</div>