@import "compass";

$skycon-sprite-dimensions: true;
$skycon-spacing: 2px;

@import 'skycon/*.png';
@include all-skycon-sprites;

i,
[class^="skycon-"],
[class*=" skycon-"] {
  @include inline-block;
  overflow: hidden;
  vertical-align: middle;
}