<%
fontBaseName="Skycons"
classPrefix='skycon-'
baseClass=''
%><table id=wiki-skycons class="icons-table">
    <thead>
        <tr>
            <th>CSS Class</th>
            <th class="demo-col">How it looks</th>
            <th class="demo-col">with .colour</th>
            <th class="demo-col">with .hover-colour</th>
            <th class="demo-col">for designers</th>
        </tr>
    </thead>
    <tbody>
    <% for (var glyphIdx = 0; glyphIdx < glyphs.length; glyphIdx++) { var glyph = glyphs[glyphIdx] %>
    <tr ><td><%= baseClass %> <%= classPrefix %><%= glyph %></td><td class="icon"><i class="<%= baseClass %> <%= classPrefix %><%= glyph %>" aria-hidden=true></i></td><td class="icon"><i class="<%= baseClass %> <%= classPrefix %><%= glyph %> colour" aria-hidden=true></i></td><td class="icon hover-colour"><i class="<%= baseClass %> <%= classPrefix %><%= glyph %>" aria-hidden=true></i></td><td class="icon"><a href="lib/font-svgs/<%= glyph %>.svg" target="_new" title="Right click and 'Save as...'">view</a> </td></tr>
    <% } %>
    </tbody>
</table>