<div class="skycom-2 alpha demo-colour-block">
    <div class="cushioned">
        Primary
        <small>Main page text</small>
    </div>
    <div class="demo-hex secondary">#333333</div>
</div>
<div class="skycom-2  demo-colour-block">
    <div class="secondary cushioned">
        Secondary
        <small>Supporting text i.e. legal</small>
    </div>
    <div class="demo-hex secondary">#666666</div>
</div>
<div class="skycom-2 demo-colour-block ">
    <div class="inactive cushioned">
        Inactive
    </div>
    <div class="demo-hex secondary">#999999</div>
</div>
<div class="skycom-2 demo-colour-block ">
    <div class="error cushioned">
        Error
        <small>i.e. Warnings or form errors</small>
    </div>
    <div class="demo-hex secondary">#D21717</div>
</div>
<div class="skycom-2  demo-colour-block">
    <a href="#!" class="cushioned">Links</a>
    <div class="demo-hex secondary">#0070a5</div>
</div>