<div class="skycom-2 alpha demo-colour-block">
    <div class="white demo-primary-button cushioned">Primary
        <small>Buttons or icons</small>
    </div>
    <div class="demo-hex secondary">#0073c5</div>
</div>
<div class="skycom-2 demo-colour-block ">
    <div class=" demo-secondary-button cushioned">Secondary
        <small>Buttons only</small></div>
    <div class="demo-hex secondary">#eaeaea</div>
</div>
<div class="skycom-2 demo-colour-block ">
    <div class="white demo-success-icon cushioned">Success
        <small>Icons only</small></div>
    <div class="demo-hex secondary">#6dbb00</div>
</div>
<div class="skycom-2 demo-colour-block ">
    <div class="white demo-sky-go cushioned">Sky Go
        <small>Icons only</small></div>
    <div class="demo-hex secondary">#44ad3a</div>
</div>
<div class="skycom-2 demo-colour-block ">
    <div class="white demo-remote-record cushioned">Remote Record
        <small>Icons only</small></div>
    <div class="demo-hex secondary">#ed1c24</div>
</div>
<div class="skycom-2  demo-colour-block ">
    <div class="white demo-never-miss cushioned">Never Miss
        <small>Icons only</small></div>
    <div class="demo-hex secondary">#0077ae</div>
</div>