<div class="skycom-2 alpha demo-colour-block">
    <div class="white  demo-v3-red cushioned">Red</div>
    <div class="demo-hex secondary">#ed1c24</div>
</div>
<div class="skycom-2 demo-colour-block ">
    <div class="white  demo-v3-pink cushioned">Pink</div>
    <div class="demo-hex secondary">#ed0677</div>
</div>
<div class="skycom-2 demo-colour-block ">
    <div class=" demo-v3-yellow cushioned">Yellow
        <small>Use primary text colour</small>
    </div>
    <div class="demo-hex secondary">#fdb913</div>
</div>
<div class="skycom-2 demo-colour-block ">
    <div class=" demo-v3-green cushioned">Green
        <small>Use primary text colour</small></div>
    <div class="demo-hex secondary">#a6ce39</div>
</div>
<div class="skycom-2 demo-colour-block ">
    <div class="white  demo-v3-blue cushioned">Blue
        <small>Do not put text on top (it's not Accessible)</small></div>
    <div class="demo-hex secondary">#00aeef</div>
</div>