<ul class="accordion">
    <li>
        <a class="accordion-heading" data-toggle-state="hidden"  data-toggle="#first-accordion-content" href="#first-accordion-content">
            <span>First Accordion Item</span> <i class="skycon-chevron-down colour"></i>
        </a>
        <div id="first-accordion-content" class="view-container toggle-hidden">
            <div class=accordion-content>
                <p style="margin: 0;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget commodo nulla. Sed nec magna pellentesque, aliquam orci eu, cursus augue. Morbi eget hendrerit nunc. Aliquam interdum non sem a scelerisque. In convallis est augue, eget dictum tortor posuere et. Vivamus neque dolor, elementum sed porttitor ac, aliquet sit amet lectus. Nullam libero arcu, auctor ut neque id, varius tempus arcu. Mauris rhoncus eros egestas facilisis convallis. Phasellus elementum elit eget ligula posuere malesuada</p>
            </div>
        </div>
    </li>
    <li>
        <a class="accordion-heading" data-toggle-state="hidden"  data-toggle="#second-accordion-content" href="#second-accordion-content">
            <span>Second Accordion Item</span> <i class="skycon-chevron-down colour"></i></span>
        </a>
        <div id="second-accordion-content" class="view-container toggle-hidden">
            <div class=accordion-content>
                <p style="margin: 0; height: 400px; background-color: #f00;">Second Accordion content</p>
            </div>
        </div>
    </li>
    <li>
        <a class="accordion-heading" data-toggle-state="hidden"  data-toggle="#third-accordion-content" href="#third-accordion-content">
            <span>Third Accordion Item</span> <i class="skycon-chevron-down colour"></i>
        </a>
        <div id="third-accordion-content" class="view-container toggle-hidden">
            <div class=accordion-content>
                <p style="margin: 0;">Third Accordion content</p>
            </div>
        </div>
    </li>
</ul>