<div class="notes">
    <p>
        Bind lightboxes to there content using a hash that translates to the elements ID. i.e. clicking a lightbox link with the href <code>#!weather/editor</code> would display the div with the id <code>weather-editor</code>.
    </p>
    <p>
        For AJAX lightboxes, the href should be the link to the page to be displayed, followed by a hash ID as above. i.e. clicking a lightbox link with the href <code>http://skyglobal.github.io/webtoolkit#!toolkit/show</code> would AJAX in the page <code>http://skyglobal.github.io/webtoolkit</code> and give the lightbox the ID <code>toolkit-show</code>.
    </p>
    <p>Please try to use <code>RESTful</code> hashes where possible and ensure the lightbox link has an ID (for accessibility; this helps us label the lightbox for screen-readers)</p>
</div>