a.btn,
.btn {
  @include border-radius(5px);
  font: 16px/1em $font-family;
  padding: 0 15px;
  height: 31px;
  line-height: 2em;
  position: relative;
  z-index: 2;
  border: none;
  border-top: 1px solid #0073c5;
  background-color: $primary-button;
  color: #fff;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  margin-right: 20px;

  &:before {
    @include transition(opacity .25s);
    @include border-radius(0 0 20px 20px);
    @include background(linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)));
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));

    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 4%;
    width: 93%;
    height: 10px;
  }

  &:hover, &:focus {
    text-decoration: none;
    &:before {
      opacity: 0;
    }
  }

  &.secondary {
    // not done!;
    border: solid 1px #cfcfcf;
    background: $secondary-button;
    color: #333;

    &:before {
      @include background(linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)));
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &[disabled] {
    cursor: default;
    @include opacity(0.3);
    &:hover:before {
      @include opacity(1);
    }
  }

}

//IE 7 hacks
.btn {
  *border-top: 0;
}

a.btn {
  *height: 29px;
  *top: -7px;
}

button.btn {
  *padding: 0;
  *line-height: 16px;
}

