body {
  .hover-colour:hover,
  .colour{
    .skycon-sky-go{
      color: $colour-sky-go;
    }
    .skycon-remote-record{
      color: $colour-remote-record;
    }
    .skycon-never-miss{
      color: $colour-never-miss;
    }
    .skycon-warning{
      color: $error;
    }
    .skycon-google-plus{
      color: $colour-google-plus;
    }
    .skycon-twitter{
      color: $colour-twitter;
    }
    .skycon-facebook{
      color: $colour-facebook;
    }
    .skycon-chevron,
    .skycon-chevron-up,
    .skycon-chevron-down{
      color: $link;
    }

    .skycon-at,
    .skycon-cloud,
    .skycon-on-demand,
    .skycon-sky-plus,
    .skycon-mouse,
    .skycon-tv,
    .skycon-phone {
      color: $primary-button;
    }
  }
}
