body {
  font: 16px/1em $font-family;
  color: $primary;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1.large,
.page-title.large {
  font-size: 3.25em;
  line-height: 1.076em;
}

h1,
.page-title {
  font-size: 2.375em;
  line-height: 1.053em;
}

h2,
.module-title {
  font-size: 1.875em;
  line-height: 1.067em
}

h3,
.pod-title {
  font-size: 1.375em;
  line-height: 1.091em;
}

p {
  font-size: 1em;
  line-height: 1.5em;
}

p.intro {
  font-size: 1.25em;
  line-height: 1.2em;
}

p.handwriting {
  font-family: Luna,SkyTextRegular;
  font-size: 1.875em;
  line-height: 1.6em;
}

small {
  font-size: 0.75em;
  line-height: 1.33em;
}



blockquote {
  margin: 10px;
  font-family: Helvetica;
}

.error {
  color: $error;
}

.secondary{
  color: $secondary;
}

.legal {
  font-size: 0.6875em;
  line-height: 1em;
  color: $secondary;
}

.inactive{
  color: $inactive;
}

.white {
  color: $white !important;
}

.black {
  color: $primary !important;
}

b,
strong,
.medium{
  font-family: SkyTextMedium, $font-family;
  font-weight: normal;
}

body a {
  color: $link;
  &.chevron:before,
  .skycon-chevron {
    color: inherit;
    font-size: 0.75em;
    margin-right:6px;
    line-height:1.35em;
    text-decoration: none;
  }
}

a:hover {
  text-decoration: underline;
}


@media (min-width: $mobile-width) {
  h1,
  .page-title {
    font-size: 2em;
    line-height: 1.25em;
  }

  h2,
  .module-title {
    font-size: 1.5em;
    line-height: 1.167em;
  }

  h3,
  .pod-title {
    font-size: 1.25em;
    line-height: 1.2em;
  }

  p.intro {
    font-size: 1.125em;
    line-height: 1.333em;
  }

  p {
    line-height: 1.25em;
  }
}