body {
  font: 16px/20px $font-family;
  color: $primary;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1,
.page-title {
  font-size: 52px;
  line-height: 56px;
}

h2,
.section-title {
  font-size: 44px;
  line-height: 48px;
}

h2.smaller,
.section-title.smaller {
  font-size: 36px;
  line-height: 40px;
}

h3,
.pod-title {
  font-size: 32px;
  line-height: 36px;
}
h3.smaller,
.pod-title.smaller {
  font-size: 28px;
  line-height: 32px;
}

p.intro {
  font-size: 24px;
  line-height: 28px;
}

p.intro.smaller {
  font-size: 20px;
  line-height: 24px;
}

p {
  font-size: 16px;
  line-height: 20px;
}

small,
small.supportive {
  font-size: 0.75em;
  line-height: 1.33em;
}

.legal {
  font-size: 0.6875em;
  line-height: 1em;
  color: $secondary;
}


.instructions {
  font-family: Luna,SkyTextRegular;
  font-size: 24px;
  line-height: 40px;
}




blockquote {
  margin: 10px;
  font-family: Helvetica;
}

.error {
  color: $error;
}

.secondary{
  color: $secondary;
}


.inactive{
  color: $inactive;
}

.white {
  color: $white !important;
}

.black {
  color: $primary !important;
}

b,
strong,
.medium{
  font-family: SkyTextMedium, $font-family;
  font-weight: normal;
}

body a {
  color: $link;
  &.chevron:before,
  .skycon-chevron {
    color: inherit;
    font-size: 0.75em;
    margin-right:6px;
    line-height:1.35em;
    text-decoration: none;
  }
}

a:hover {
  text-decoration: underline;
}


//@media (max-width: $mobile-width) {
//  h1,
//  .page-title {
//    font-size: 2em;
//    line-height: 1.25em;
//  }
//
//  h2,
//  .module-title {
//    font-size: 1.5em;
//    line-height: 1.167em;
//  }
//
//  h3,
//  .pod-title {
//    font-size: 1.25em;
//    line-height: 1.2em;
//  }
//
//  p.intro {
//    font-size: 1.125em;
//    line-height: 1.333em;
//  }
//
//  p {
//    line-height: 1.25em;
//  }
//}