<table id=wiki-skycons class="icons-table">
    <thead>
        <tr>
            <th>CSS Class</th>
            <th class="demo-col">How it looks</th>
            <th class="demo-col">with .colour</th>
            <th class="demo-col">with .hover-colour</th>
        </tr>
    </thead>
    <tbody>

        <tr ><td> skycon-facebook</td>
            <td class="icon"><i class=" skycon-facebook" aria-hidden=true></i></td>
            <td class="icon"><i class=" skycon-facebook colour" aria-hidden=true></i></td>
            <td class="icon hover-colour"><i class=" skycon-facebook" aria-hidden=true></i></td></tr>
    
        <tr ><td> skycon-gallery</td>
            <td class="icon"><i class=" skycon-gallery" aria-hidden=true></i></td>
            <td class="icon"><i class=" skycon-gallery colour" aria-hidden=true></i></td>
            <td class="icon hover-colour"><i class=" skycon-gallery" aria-hidden=true></i></td></tr>
    
        <tr ><td> skycon-google-plus</td>
            <td class="icon"><i class=" skycon-google-plus" aria-hidden=true></i></td>
            <td class="icon"><i class=" skycon-google-plus colour" aria-hidden=true></i></td>
            <td class="icon hover-colour"><i class=" skycon-google-plus" aria-hidden=true></i></td></tr>
    
        <tr ><td> skycon-home</td>
            <td class="icon"><i class=" skycon-home" aria-hidden=true></i></td>
            <td class="icon"><i class=" skycon-home colour" aria-hidden=true></i></td>
            <td class="icon hover-colour"><i class=" skycon-home" aria-hidden=true></i></td></tr>

    </tbody>
</table>

<p class="skycom-12 alpha">
    <a href="http://skyglobal.github.io/skycons/">A full list of available Skycons</a>.
</p>