.accordion {
  margin-top: 24px;

  .accordion-heading {
    cursor: pointer;
    display: block;
    padding: 8px;
    position: relative;
    margin-top: 8px;
    font-size: 20px;
    line-height: 20px;
    color: $primary;
    line-height: 32px;
    color: inherit;
    background-color: #f1f1f1;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  .view-container {
    border-left: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
  }
  .skycon-chevron-down {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -5px;
    height: 10px;
    margin-bottom: 3px;

    @include transition(all 0.5s ease-in-out);
    &.rotate {
      @include transform(rotate(180deg));
      //todo: make this work cross browser!
    }
  }
}

.accordion-content {
  overflow: hidden;
  padding: 16px;
}


