@function em($target, $context: 16) {
    @return ($target / $context) * 1em;
}

.skycom-carousel {
  @include transform(translate3d(0, 0, 0));
  overflow: hidden;
  position:relative;

  &:hover .actions {
    .over {
      @include opacity(0.3);
    }
    .next .over {
      left: 5px;
    }
    .previous .over {
      right: 5px;
    }
    a:hover .over{
      @include opacity(1);
    }
  }

  &.paused .actions .play,
  &.playing .actions .pause {
    display: block;
    @media all and (max-width: 768px) {
        display: none;
    }
  }

  a:hover {
    text-decoration: underline;
  }

  .skycom-carousel-container {
    @include transform(translate3d(0, 0, 0));
    @include backface-visibility(hidden);
    position: relative;
    height:100%;
    width: 200%;
    z-index: 1;
    > div {
      display:none;
      height:100%;
      width:50%;
      &:first-child{
        display:block;
      }
    }

    &.animate {
      @include single-transition(all, .3s, linear);
    }
    > * {
      @include transform(translate3d(0%, 0, 0));
      @include transform-style(preserve-3d);
      position: relative;
      float: left;
    }
  }

  .dark-scheme {
    color: #fff;
    a {
      color: #fff;
    }
    &.bg-shading .shade {
      display: block;
      background-image: -ms-linear-gradient(right, rgba(0,0,0,0) 60%, rgba(0,0,0,0.6) 80%, rgba(0,0,0,0.7) 100%);
      @include background-image(linear-gradient(right, rgba(0,0,0,0) 60%, rgba(0,0,0,0.6) 80%, rgba(0,0,0,0.7) 100%));
      filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#b3000000', endColorstr='#00000000',GradientType=1);
    }
  }

  .light-scheme {
    color: #333;
    a {
      color: #333;
    }
    &.bg-shading .shade {
      display: block;
      background-image: -ms-linear-gradient(right, rgba(255,255,255,0) 60%, rgba(255,255,255,0.6) 80%, rgba(255,255,255,0.7) 100%);
      @include background-image(linear-gradient(right, rgba(255,255,255,0) 60%, rgba(255,255,255,0.6) 80%, rgba(255,255,255,0.7) 100%));
      filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#b3ffffff', endColorstr='#00ffffff',GradientType=1);
    }
  }

  .shade{
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity:0;
    @include transition(opacity 5s);

    .window-loaded & {
      opacity: 1;
    }
  }

  .poster,
  .poster img{
    width:100%;
    max-height: 100%;
    display: block;
    z-index: -1;
  }

  .actions {
    z-index: 3;
    a{
      position: absolute;
      color: #333;
    }
    .play,
    .pause {
      bottom: 10px;
      display: none;
      font-size: 0.9em;
      right: 50px;
      z-index: 2;
      span {
        margin-top: -2px;
        margin-right: 5px;
      }
    }
    .previous,
    .next {
      @include hide-text(left);
      height: 100%;
      top: 0;
      width: 50px;
      z-index: 3;
      span {
        position: absolute;
        top: 50%;
        margin: -30px 5px 0;
      }
    }
    .next {
      right: 0;
      span {
        left: 5px;
      }
    }
    .previous {
      left: 0;
      span {
        left: auto;
        right: 5px;
      }
    }
    .over{
      @include opacity(0);
      @include single-transition(opacity, .2s, linear);
      left: -9999px;
    }
  }
  .indicators {
    position: relative;
    line-height: 2.5em;
    height: 2.5em;
    top:auto;
    margin-bottom: 0;
    float:left;
    left: 50%;
    z-index: 3;

    .container{
      cursor: default;
      position: relative;
      margin-left:-50%;
    }
    .container > span {
      @include border-radius(5px);
      @include inline-block;
      background:#bbb;
      cursor:pointer;
      height:10px;
      width:10px;
      margin:5px;
      &:hover {
        background: #777;
      }
      &.active {
        background:#0073c5;
      }
    }
  }

  .content {
    position: absolute;
    top:0;
    left: 0;
    bottom:auto;
  }

  h3 {
    margin: 0 0 1px 0;
    font-size: em(36);
    line-height: em(40,36);
  }

  p {
    margin: 0 0 10px 0;
    font-size: em(16);
    line-height: em(20,16);
    font-family: skytextmedium;
  }

  figure{
    position: relative;
    margin: 0;
    * {
      cursor: pointer;
    }
  }
  figcaption {
    display: block;
    max-width: 100%;
    box-sizing: border-box;
    z-index: 2;
    @include transform(translateZ(0)); /*to stop the text flashing on hover on safari*/

    a.hover {
      text-decoration: underline;
    }

    h3 {
      white-space: pre-line;
    }
  }

  .channel-logo {
    @include inline-block;
    position: relative;
    z-index: 0;
    margin-bottom: 6px;
  }

  .play-video {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 50px;
    white-space: nowrap;
    padding: 5px 10px 0 5px;
    border-radius: 25px;
    z-index: 1;
    @include transition(background .3s, box-shadow .3s);

    &:hover,
    &:focus {
      background-color: rgba(255, 255, 255, 0.2);
      @include box-shadow(0 0 5px rgba(0, 0, 0, 0.25));
    }

    i {
      margin: 0 5px 5px 0;
    }
  }
  @media all and (max-width: 900px) {
    .channel-logo{
      margin-bottom: 4px;
    }
    h3{
      font-size: em(24);
    }
  }

  @media all and (max-width: 768px) {
    .play-video {
      padding-right: 0;
      span {
        display:none;
      }
    }
    .channel-logo{
      max-height: 26px;
      max-width: 140px;
    }
    .indicators{
      background: none;
      .active {
        border-width: 0px;
        width: 10px;
        height: 10px;
      }
    }
    .actions{
      a{
        color: #333;
      }
    }
    .poster{
      min-height: 110px;
    }
  }

  @media all and (max-width: 630px) {
    h3 {
      font-size: em(16);
    }
  }

  @media all and (max-width: 600px) {
    h3 {
      font-family: SkyTextMedium;
    }
    .shade{
      display: none!important;
    }
    .content{
      position: relative;
    }
    .skycom-carousel-container > *,
    .skycom-carousel-container a,
    .actions a{
      color: #333!important;
    }
    .skycom-5{
      width: 100%;
    }
    .skycom-ellipsis{
      white-space: normal;
    }
    .actions{
      width:100%;
      a{
        position: relative;
        display: block;
      }
      .next,
      .previous{
        position: absolute;
        height: 75px;
        top:-37px;
        margin-top:16%;
        margin-top:16vw;
      }
      .previous{
        float: left;
      }
      .next{
        float: right;
      }
    }
    .skycom-carousel-container > *{
      margin-bottom:1.5em;
    }
    figcaption.content{
      padding-bottom:0;
    }
    .indicators{
      background: none;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      height:1.5em;
      line-height:1.5em;
      .container{
        width:100%;
      }
      z-index: 1;
    }
  }
  @media all and (max-width: 319px) {
    .actions .next,
    .actions .previous {
      margin-top: 50px;
    }
  }
}

.skycom-notouch .skycom-carousel a{
  cursor: pointer;
  &:hover {
    h3, p {
      text-decoration: underline;
    }
  }
}

.video-overlay {
  background:#000;
  display:none;
  height:100%;
  width:100%;
  left:0;
  top:0;
  position:absolute;
  z-index: 11;
}

.video-wrapper {
  display:none;
  background:#000;
  height:100%;
  width:100%;
  //top:0;

  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  //display: inline-block;

  video {
    background:#000;
  }
  &:hover .close.active {
    @include opacity(1);
  }

  &.playing-video{
    width:100%;
    height:100%;
  }

  .close {
    @include transition(opacity 0.5s);
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 4;
    @include opacity(0);
    display: none;
    &.active {
      display: block;
    }
  }

  .posterFrame {
    display:none;
  }

  @media all and (max-width: 600px) {
    width: inherit;
    margin-top: 32%;
    margin-top: 32vw;
    top: -58px;
    &.playing-video{
      margin-top: 0%;
      top: 0;
      .play {
        display:none;
      }
    }

    .play {
      left: 0;
      padding-right: 0;
      span {
        display: none;
      }
    }
  }
  @media all and (max-width: 319px) {
      margin-top: 100px;
  }
}

.skycom-notouch {
  .play-video{
    left:50px;
  }
  .skycom-carousel .content{
    padding-left:50px;
  }

  @media all and (max-width: 600px) {
    .skycom-carousel .content{
      padding-left:3.15789%;
    }
  }
}

.skycom-touch {
  .play-video{
    left:5px;
  }
}
.lt-ie10{
  .skycom-carousel .shade {
    width: 66%; /* filter goes across whole slide, so stop it a little bit before */
  }
}
.lt-ie9{
  .skycom-carousel .content{
      padding-left:50px;
  }
  .play-video{
      display: block; float:right; padding-left:5px; line-height:3em;
      span {
        padding: 15px 15px 15px 0;
      }
  }
}
.lt-ie8{
  .play-video span{
    position:relative; top:-20px; padding: 15px; left:-5px;
  }
  .skycom-carousel {
    .actions .play,
    .actions .pause{
      bottom:12px;
    }
    .indicators{
      width:100%;
      text-align: center;
      left:0;
      .container{
        margin-left: 0;
        span{
          margin-top:12px;
        }
      }
    }
  }
}

/* Hero ratio 3:1 */
.skycom-carousel.hero-3-1 {
  .poster{
    min-height: 380px;
    max-height: 380px;
    @media all and (max-width: 1212px) {
      min-height: 31vw;
      max-height: 32vw;
    }
  }

  .channel-logo {
    max-height: 34px;
    max-width: 180px;
  }


  @media all and (max-width: 767px) {
    .poster{
      min-height: 110px;
    }
  }
}
