$form-offset: 34%;

.sky-form {

  .row {
    margin: 0 0 24px 0;
  }

  label.required:after {
    content: "*";
    color: $error;
    position: absolute;
    margin-left: 4px;
  }

  select {
    @include box-sizing(border-box);
    width: 221px;
  }

  select {
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    color: #3c3c3c;
    height: 2em;
    font: 16px/1em $font-family;
  }

  .row> .field_with_errors label,
  .row > label,
  legend {
    @include box-sizing(border-box);
    float: left;
    text-align: right;
    width: $form-offset;
    padding-right: 20px;
  }

  .no-label {
    margin-left: $form-offset;
    label {
      float: none !important;
    }
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  input[type="url"],
  textarea {
    @include box-sizing(border-box);
    @include box-shadow(1px 1px 3px 0px rgba(0, 0, 0, 0.06) inset);
    height: 2em;
    font-family: SkyTextRegular;
    font-size: 16px;
    width: 221px;
    margin: 0;
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid #dcdcdc;
    outline: none;
    margin-right: 20px;

    &:focus {
      border: 1px solid #0094ff;
    }
  }
  .datepicker {
    #day, #month, #year {
      width: 57px;
      margin-right: 9px;
    }
    #year {
      width: 83px;
    }

    .datepicker-container {
      float: left;
      position: relative;

      &:after {
        clear: both;
      }
    }

  }

  .calendar {
    position: absolute;
    display: none;
    top: 28px;
    left: 0;
    z-index: 10;
    // left: 346px;
    // top: 7222.140625px;
    background-color: #fff;
    padding: 16px 9px 20px 9px;
    width: 201px;
    border: 1px solid #dcdcdc;
    font-size: 20px;
    color: #666;
    text-align: center;

    i {
      color: #0073c5;
    }

    .monthyear {
      margin-bottom: 16px;

      span.monthleft, span.monthright {
        color: #0073c5;
        font-weight: bold;
        cursor: pointer;
      }
      .monthleft {
        float: left;
      }
      .monthright {
        float: right;
      }
    }

    .days {
      padding-bottom: 8px;
      margin-bottom: 24px;
      border-bottom: solid 1px #dcdcdc;
      font-size: 16px;

      span {
        display: inline-block;
        width: 28px;
      }
    }

    .daycontainer {
      font-family: "Helvetica", Arial, sans-serif;
      font-size: 14px;
      color: #333;
      text-align: left;

      span {
        margin: 3px;
        display: inline-block;
        width: 18px;
        text-align: center;
        padding: 2px;
      }
      span.day:hover {
        background-color: #0073c5;
        color: #fff;
      cursor: pointer;
      }

      .past {
        color: #a5a5a5;
      }

      .selected {
        font-weight: bold;
        color: #0073c5;
      }
    }
  }

  textarea {
    height: 5em;
    padding: 5px 10px;
  }

  .date-picker input[type="text"] {
    background-color: red;
  }

  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

  .radiocheck {
    float: left;

    label {
      display: inline-block;
      margin-bottom: 5px;
    }
  }

  .error {
    margin-left: $form-offset;
  }


  .form-error {
    color: $error;
  }

  input.form-error {
    border-color: $error;
    color: #000;
  }


  label.feedback.hidden {
    display: none;
  }

  label.feedback {
    margin-left: $form-offset;
    margin-top: 8px;
    text-align: left;
    width: auto;
    float: none;
    display: block;
  }

  .skycon-warning {
    margin-right: 8px;
    font-size: 20px;
    margin-bottom: 4px;
    .lt-ie9 & {
      margin-bottom: -4px;
    }
  }

  .feedback-list .form-error {
    margin-left: 24px;
  }
}

//ie7
.sky-form {
  .radiocheck {
    *margin-top: -1em;
    *margin-left: $form-offset;
    *padding-left: 20px;
  }
}

@media (max-width: 600px) {
  .sky-form {
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"],
    input[type="url"],
    textarea {
      width: 100%;
    }
    label.feedback {
      margin-left: 0;
    }
  }

  .sky-form .row {
    margin: 0 0 16px 0;
    & > label {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
    }
  }

  button {
    margin: 16px 0 0 0;
  }
  .no-label label {
     display: inline;
  }
}