.tabs-container {
  position: relative;
}

.tabs {
  margin: 20px 0;
  border-bottom: solid 1px #dcdcdc;
  border-top: solid 1px #dcdcdc;
}

.tab {
  float: left;
  padding: 0 30px 0 0;
  a {
    line-height: 44px;
    text-decoration: none;
  }
  &.selected {
    margin-bottom:-1px;
    a{
      font-family: $font-family-medium;
      border-bottom: 2px solid #0073c5;
    }
  }
}

.tabpanel {
  display: none;
  width: 100%;
  &.selected {
    display: block;
  }
}

.tabcontents {
  img {
    max-width: 100%;
  }
}

/* tab dropdown */
.dropdown-tab-select {
  display: none;
  float: right;
  a {
    color: $primary;
    display: block;
    padding: 0 10px;
    text-decoration: none;
  }
  > a {
    border:1px solid transparent;
    border-top:0;
    padding: 0; text-align: center;
    height:44px; width:44px;
    margin-bottom: -1px;
    line-height: 31px;
    z-index:10; position:relative;
    color:$secondary;
    font-family: $font-family-medium;
    font-size:32px;
    &.dropdown-tab-selected{
      visibility: visible;
      border-color:#dcdcdc;
      border-bottom-color: #fff;
      color: #0073c5;
    }
  }
}

.more-tabs {
  visibility: hidden;
  background: $white;
  border: 1px solid #dcdcdc;
  position: absolute;
  right: 0;
  top: 45px;
  width: 320px;

  &.dropdown-tab-selected{
    visibility: visible;
  }
  li {
    padding: 8px 10px;
    float: none;
    &:hover, &:hover a {
      background: #0073c5;
      color: $white;
      cursor: pointer;
    }
  }
}


.tabs-container.classic {

}