.share-popup {
  position: relative;
  margin-top: 10px;
  z-index: 2;

  a {
    color: #666;
  }
  .share-word {
    margin-right: 8px;
  }

  &.active,
  .summary:hover {
    & .skycon-share {
      color: #0073c5;
    }

    & .share-word {
      text-decoration: underline;
    }
  }

  .summary {
    text-decoration: none;
    float: left;
    cursor: pointer;
    height: 1em;
    line-height: 1em;
    padding-right: 10px;
    z-index: 2;
    position: relative;

    &.has-focus span {
      color: #fff;
    }
  }

  & .skycon-share {
    position: relative;
    padding-right: 2px;
  }

  .share-count {
    font-family: Helvetica, Arial;
    font-size: 0.75em;
    bottom: 0.1em;
    color: $link;
  }

  .popover {
    @include pointer-bordered(top, #FFF, #CCC);
    position: absolute;
    display: none;
    height: 44px;
    top: 1.8em;
    left: -7px;
    padding-left: 16px;
    background-color: #FFF;
    border: 1px solid #dcdcdc;
    min-width: 235px;
    z-index: 2;
    &:before,
    &:after {
      left: 20px;
    }

    &.top {
      @include box-shadow(-2px -1px 3px rgba(0, 0, 0, 0.15));
      @include pointer-bordered(bottom, #FFF, #CCC);
      position: absolute;
      top: auto;
      bottom: 1.8em;
      left: 15px;
      &:before,
      &:after {
        left: 20px;
      }
    }

    .share-count {
      font-family: Helvetica, Arial;
      font-size: 12px;
      display: inline-block;
      color: #666;
      width: 14px;
    }
    .skycon-facebook {
      font-size: 15px;
      margin-top: -1px;
    }
    li {
      display: inline-block;
      margin: 6px 16px 0 0;
      padding-top: 7px;
      .lt-ie8 & {
        display: inline;
      }
      a {
        cursor: pointer;
        padding: 8px;
      }
    }

    @media all and (max-width: 767px) {
      @include pointer-bordered(bottom, #FFF, #CCC);
      position: absolute;
      top: auto;
      bottom: 1.8em;
      left: 15px;

      &:before,
      &:after {
        left: 20px;
      }
    }
  }

  &.active .popover {
    display: block;
    @include box-shadow(2px 1px 3px rgba(0, 0, 0, 0.15));
    z-index: 1;
    @media all and (max-width: 767px) {
      @include box-shadow(-2px -1px 3px rgba(0, 0, 0, 0.15));
    }
  }
}

.share-popup .has-focus .share-count {
  color: $white;
}

.share-bar {
  border-top: 1px solid #C0C0C0;
  margin: 16px 0;
  padding-top: 16px;
  h3 {
    display: inline;
  }
  a {
    color: #333;
    span {
      display: inline;
      position: static !important;
      clip: auto;
      height: auto;
      width: auto;
      padding-left: 10px;
    }
  }

  ul {
    display: inline;
    margin-left: 30px;

    li {
      display: inline-block;
      margin: 0 10px;
      .lt-ie8 & {
        display: inline;
      }
    }
  }

  @media screen and (max-width: 767px) {
    margin: 0; padding: 0;
    h3 {
      font-size: 1.1em;
    }

    ul {
      margin-left: 15px;
      li {
        margin: 1%;
        padding: 10px 0;
        width: 33px;
        text-align: center;
        a {
          width: 100%;
          display: inline-block;
        }
        .display-name {
          display: none;
        }
      }
    }
  }
}

.share-bar, .share-popup {
  .skycon-mail {
    font-size: 19px;
    margin-top: -2px;
  }

  .email-link {

    &.hover-colour:hover i {
      color: #0073c5;
    }
  }
}

.skycon-twitter {
  font-size: 17px;
}