.share-popup {
  position: relative;
  margin-top: 10px;
  z-index: 2;

  .share-word {
    color: #666;
    margin-right: 8px;
  }

  &.active,
  .summary:hover {
    & .skycon-share {
      color: #0073c5;
    }

    & .share-word {
      text-decoration: underline;
    }
  }

  .summary {
    text-decoration: none;
    float: left;
    cursor: pointer;
    height: 1em;
    line-height: 1em;
    padding-right: 10px;

    &.skycom-focus span {
      color: #fff;
    }
  }

  & .skycon-share {
    position: relative;
    padding-right: 2px;
    top: -2px;
  }

  .share-count {
    font-family: Helvetica, Arial;
    font-size: 0.75em;
    bottom: 0.1em;
    color: $link;
  }

  .popover {
    @include pointer-bordered(top, #FFF, #CCC);
    position: absolute;
    display: none;
    height: 40px;
    top: 1.8em;
    left: -7px;
    padding-left: 16px;
    background-color: #FFF;
    border: 1px solid #dcdcdc;
    min-width: 235px;

    &:before,
    &:after {
      left: 20px;
    }
    .share-count {
      font-family: Helvetica, Arial;
      font-size: 12px;
      display: inline-block;
      color: #666;
      width: 14px;
    }
    .skycon-mail {
      font-size: 14px;
    }

    li {
      .lt-ie8 & {
        display: inline;
      }

      display: inline-block;
      margin: 6px 16px 0 0;
      padding-top: 3px;
      a {
        cursor: pointer;
        padding: 8px;
      }
    }

    @media all and (max-width: 767px) {
      @include pointer-bordered(bottom, #FFF, #CCC);
      position: absolute;
      top: auto;
      bottom: 1.8em;
      left: 15px;

      &:before,
      &:after {
        left: 20px;
      }
    }
  }

  &.active .popover {
    display: block;
    @include box-shadow(2px 1px 3px rgba(0, 0, 0, 0.15));
    z-index: 1;
    @media all and (max-width: 767px) {
      @include box-shadow(-2px -1px 3px rgba(0, 0, 0, 0.15));
    }
  }
}


.share-bar {
  border-top: 1px solid #C0C0C0;
  margin: 10px 0;
  padding-top: 10px;
  h3 {
    display: inline;
  }
  .display-name {
    color: #333;
    display: inline;
    position: static !important;
    clip: auto;
    height: auto;
    width: auto;
    padding-left: 10px;
    vertical-align: bottom;
  }
  .skycon-mail {
    margin-top: 4px;
  }
  ul {
    display: inline;
    margin-left: 30px;

    li {
      display: inline-block;
      margin: 0 10px;
      .lt-ie8 & {
        display: inline;
      }
    }
  }

  @media screen and (max-width: 767px) {
    margin: 0; padding: 0;
    h3 {
      font-size: 1.1em;
    }
    ul {
      margin-left: 10%;
      li {
        margin: 1%;
        padding: 10px 0;
        width: 10%;
        text-align: center;
        a {
          width: 100%;
          display: inline-block;
        }
        .display-name {
          display: none;
        }
      }
    }
  }
}

.share-bar, .share-popup {

  .skycon-google-plus,
  .skycon-twitter {
    font-size: 17px;
  }

  .email-link {

    &.hover-colour:hover i {
      color: #0073c5;
    }
  }
}
