/* tabs layout */

.tabs {
  position: relative;
  font-family: $font-family;
  font-size: 1.25em;
  margin: 20px 0;
  border-bottom: solid 1px #dcdcdc;
  border-top: solid 1px #dcdcdc;
}

.tab  {
   float: left;
    padding: 0 30px 0 0;

}

.tab a {  
    padding: 11px 0;
    text-decoration: none;
    font-family: $font-family;
    font-size: 0.8em;
    color: $primary;
}

.tabpanel {
  display: none;

  &.selected {
    display: block;
  }

    width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.tabcontents {
  @media (min-width: $mobile-width) {
    overflow-y: hidden;
    div {
      img {
        width: 100%;
      }
    }
  }

  @media (max-width: $container-width) {
    div {
      overflow-y: hidden;
      img {
        width: 100%;
      }
    }
  }
}

/* tabs theme */
.tab.selected {

    a {
      font-family: $font-family-medium;
      border-bottom: 2px solid #0073c5;
      margin-bottom: -1px;
    }
}

/* tab dropdown */
.dropdown-tab-select {
  display:none;
  position: absolute;
  top: -1px;
  right: 0;
  height: 41px;
  border-top: 1px solid #dcdcdc;
  border-right: 1px solid $white;

  a {
    color: $primary;
    cursor: pointer;
    height: 35px;
    padding: 5px 10px 0;
    font-size: 1.25em;
    letter-spacing: 2px;
    display: block;
    text-decoration: none;
  }

  a.dropdown-tab-selected {
    height: 41px;
    margin: -1px;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
  }

  .dropdown-tab-selected {
    color: #0073c5;
    visibility: visible;


    a {
      height: 26px;
      border: 0;
      color: $primary;
    }

  }
}

.dropdown-tab-info {
  visibility: hidden;
  background: $white;
  border: 1px solid #dcdcdc;
  position:absolute;
  right:-1px;
  top:39px;
  width: 320px;

  a {
    height: 20px;
    font-size: 1em;
    letter-spacing: 0px;
  }

  li {
    font-size: 0.8em;
    padding: 8px 10px;
    float: none;
    
    &:hover, &:hover a {
      background: #0073c5;
      color: $white;
      cursor: pointer;
    }

  }

}