.tooltip-content {
  @include pointer-bordered(top, #FFF, #CCC);
  position: absolute;
  display: none;
  top: auto;
  z-index: 1;
  min-width: 210px;
  max-width: 450px;
  opacity: 0;
  @include transition(opacity 0.25s ease-in-out);
  bottom: auto;
  padding: 6px 16px;
  background-color: #FFF;
  border: 1px solid #dcdcdc;
  margin-top: 13px;
  @include box-shadow(2px 1px 3px rgba(0, 0, 0, 0.15));
  cursor: default;

  &.fade {
    opacity: 1;
  }
  &.show {
    display: block;
  }

  &.top {
    @include box-shadow(-2px -1px 3px rgba(0, 0, 0, 0.15));
    @include pointer-bordered(bottom, #FFF, #CCC);
    position: absolute;
    bottom: 1.8em;
    &:before,
    &:after {
      left: 40px;
    }
  }

  &:before,
  &:after {
    left: 40px;
  }
}
