.tltp {
  @include pointer-bordered(top, #FFF, #CCC);
  position: absolute;
  display: none;
  top: auto;
  z-index: 1;
  min-width: 200px;
  max-width: 450px;
  bottom: auto;
  padding: 6px 16px;
  background-color: #FFF;
  border: 1px solid #dcdcdc;
  margin-top: 13px;
  @include box-shadow(2px 1px 3px rgba(0, 0, 0, 0.15));

  @media all and (max-width: 767px) {
    @include box-shadow(-2px -1px 3px rgba(0, 0, 0, 0.15));
  }

  &.top {
    @include box-shadow(-2px -1px 3px rgba(0, 0, 0, 0.15));
    @include pointer-bordered(bottom, #FFF, #CCC);
    position: absolute;
    top: auto;
    bottom: 1.8em;
    left: 15px;
    &:before,
    &:after {
      left: 40px;
    }
  }

  &:before,
  &:after {
    left: 40px;
  }
}