.tltp {
  @include pointer-bordered(top, #FFF, #CCC);
  position: absolute;
  display: none;
  top: 2em;
  left: -50px;
  z-index: 1;
  min-width: 200px;
  max-width: 450px;
  padding: 6px 16px;
  background-color: #FFF;
  border: 1px solid #dcdcdc;
  @include box-shadow(2px 1px 3px rgba(0, 0, 0, 0.15));
  @media all and (max-width: 767px) {
    @include box-shadow(-2px -1px 3px rgba(0, 0, 0, 0.15));
  }
}