.demo-colour-block{
  .cushioned {
    display: block;
    height: 100px;
    box-sizing: border-box;
    border-radius:5px;
    margin-bottom:10px;
  }

  .demo-sky-1{
    background-color: $colour-sky-1;
  }
  .demo-sky-atlantic{
    background-color: $colour-sky-atlantic;
  }
  .demo-sky-arts{
    background-color: $colour-sky-arts;
  }
  .demo-sky-living{
    background-color: $colour-sky-living;
  }
  .demo-sky-movies{
    background-color: $colour-sky-movies;
  }

  .demo-v3-red{
    background-color: $colour-v3-red;
  }
  .demo-v3-pink{
    background-color: $colour-v3-pink;
  }
  .demo-v3-yellow{
    background-color: $colour-v3-yellow;
  }
  .demo-v3-green{
    background-color: $colour-v3-green;
  }
  .demo-v3-blue{
    background-color: $colour-v3-blue;
  }

  .demo-sports{
    background-color: $colour-sports;
  }
  .demo-original{
    background-color: $colour-original;
  }
  .demo-family{
    background-color: $colour-family;
  }
  .demo-complete{
    background-color: $colour-complete;
  }
  .demo-movies{
    background-color: $colour-movies;
  }

  .demo-primary{
    color: $primary;
  }
  .demo-secondary{
    color: $secondary;
  }
  .demo-inactive{
    color: $inactive;
  }
  .demo-error{
    color: $error;
  }
  .demo-link{
    color: $link;
  }

  .demo-primary-button{
    background-color: $primary-button;
  }
  .demo-secondary-button{
    background-color: $secondary-button;
  }
  .demo-success-icon{
    background-color: $success-icon;
  }
  .demo-sky-go{
    background-color: $colour-sky-go;
  }
  .demo-remote-record{
    background-color: $colour-remote-record;
  }
  .demo-never-miss{
    background-color: $colour-never-miss;
  }

  .demo-background-dark{
    background-color: $background-dark;
  }
  .demo-background-light{
    background-color: $background-light;
  }
  .demo-key-line{
    background-color: $key-line;
  }

  small{
    display:block;
  }
}

.demo-hex{
  text-align: left;
  margin-bottom:10px;
}
.mobile-size{
  color: #5cacb6;
}
.inactive .mobile-size{
  color: #A9C7CA;
}
.demo-pink{
  color: $colour-v3-pink;
}