.main-menu.tabs-container.main-menu .primary [role=tablist]{
  margin-bottom: 0;

  > li.selected a,
  > li:hover a{
    border:0;
  }
}

.main-menu.tabs-container.main-menu {
  &,
  .tabs-container,
  .tabpanel {
    margin: 0;
  }

  .tabs {
    border: 0;
  }
}

.main-menu .tabpanel{
  border-bottom: 1px solid #ccc;
}

.secondary-menu,
#toolkit-menu-tabs.stick{
  position: fixed;
  background: white;
  width: 100%;
  z-index: 5;
}

#toolkit-menu-tabs.stick{
  top:0;
}





.secondary-menu{
  bottom: 0;
  ul{
    border-top: 1px solid #ccc;
  }
  li{
    display: inline;
    line-height: 2.5em;
    padding-right:32px;

    a {
      white-space: nowrap;
      color: #666666;
    }
  }
  .meta-data{
    padding-right: 0;
    line-height: 1em;
    padding-top: 8px;
    padding-bottom: 8px;
  }

}

body {

  @media (max-width:768px){
    .tabs-container.main-menu .tabs > .tab a{
      font-size: 20px;
      line-height:36px;
    }
    .tabs-container.main-menu .tabcontents .tabs > .tab a{
      font-size: 14px;
      line-height:30px;
    }
  }
}

//#toolkit-menu-tabs .tabpanel {
//  @include transition(max-height 0.5s);
//  display: block;
//  max-height: 0px;
//  position: absolute;
//  overflow: hidden;
//  background-color: #fff;
//  &.selected {
//    max-height: 200px;
//  }
//}
//
//#toolkit-menu-tabs > *, #toolkit-menu-tabs > * > * {
//  position: relative;
//}
