<!doctype html>
<html>
  <head>
    <script src="js/lib/jquery.2.0.0.min.js" ></script>
    {% include sky_header.html %}
    <link rel="stylesheet" href="stylesheets/styles.css">
    <style type="text/css">
      .example-code { float: right; }
      pre { font-size: 0.8em; }
    </style>
  </head>
  <body>
    <div class="skycom_container">
      {{ content }}	
    </div>
    <!--<script src="js/utils/hash-manager.js" ></script>-->
    <!--<script src="js/modules/tabs.js" ></script>-->
  <script src="js/lib/require.js" data-main="js/wiki.js" ></script>
  </body>
</html>

