<!doctype html>
<!--[if IE 7]>         <html class="lt-ie10 lt-ie9 lt-ie8" > <![endif]-->
<!--[if IE 8]>         <html class="lt-ie10 lt-ie9" > <![endif]-->
<!--[if IE 9]>         <html class="lt-ie10" > <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" > <!--<![endif]-->
	<head>
        <!--[if lt IE 9]> <script src="lib/jquery-1.10.2.js" ></script> <![endif]-->
        <!--[if gte IE 9]><!--> <script src="lib/jquery-2.0.3.js" ></script> <!--<![endif]-->
        <script src="lib/jquery.scrollspy.js" ></script>

		{% include skycom_resources.html %}

        <link rel="stylesheet" href="dist/stylesheets/wiki.css">
        <link rel="stylesheet" href="dist/stylesheets/toolkit.css">
        <link rel="stylesheet" href="dist/fonts/skycons.css">

        <!--[if lt IE 10]><script type="text/javascript">
            document.createElement('header');
            document.createElement('section');
            document.createElement('footer');
            document.createElement('article');
            document.createElement('aside');
            document.createElement('hgroup');
            document.createElement('nav');
            document.createElement('figure');
            document.createElement('figcaption');
        </script><![endif]-->

	</head>
	<body class="grid-1140" data-spy="scroll" data-target=".nav-container">
        <div class="nav-container">
            <div class="skycom-container nav">
                <ul class="alpha skycom-12 primary-menu">
                    <li class="dropdown">
                        <a href="index.html#using-the-toolkit">Using the Toolkit</a>
                        <ul class=dropdown-menu>
                            <li><a href="index.html#getting-started" data-diff="using-the-toolkit/getting-started">Getting Started</a></li>
                            <li><a href="index.html#contributing" data-diff="using-the-toolkit/contributing">Contributing</a></li>
                            <li><a href="index.html#accessibility" data-diff="using-the-toolkit/accessibility">Accessibility</a></li>
                            <li><a href="index.html#coding-practices" data-diff="using-the-toolkit/coding-practices">Coding Practices</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="index.html#base-styles">Base Styles</a>
                        <ul class=dropdown-menu>
                            <li><a href="index.html#grid" data-diff="base-styles/grid">Grid</a></li>
                            <li><a href="index.html#colours" data-diff="base-styles/colours">Colours</a></li>
                            <li><a href="index.html#typography" data-diff="base-styles/typography">Typography</a></li>
                            <li><a href="index.html#icons" data-diff="base-styles/icons">Icons</a></li>
                            <li><a href="index.html#skycons" data-diff="base-styles/skycons">Skycons</a></li>
                            <li><a href="index.html#buttons" data-diff="base-styles/buttons">Buttons</a></li>
                            <li><a href="index.html#spinner" data-diff="base-styles/spinner">Spinner</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="index.html#components">Components</a>
                        <ul class=dropdown-menu>
                            <li><a href="index.html#breadcrumbs" data-diff="components/breadcrumbs">Breadcrumbs</a></li>
                            <li><a href="index.html#form" data-diff="components/form">Form</a></li>
                            <li><a href="index.html#tabs" data-diff="components/tabs">Tabs</a></li>
                            <li><a href="index.html#accordion" data-diff="components/accordion">Accordion</a></li>
                            <li><a href="index.html#carousel" data-diff="components/carousel">Carousel</a></li>
                            <li><a href="index.html#share" data-diff="components/share">Share</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="index.html#examples">Examples</a>
                        <ul class=dropdown-menu>
                            <li><a href="index.html#error-page" data-diff="examples/error-page">Error Page</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="changes.html">Changes</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="skycom-container clearfix">
			<div class="alpha skycom-12">
				{{ content }}	
			</div>
		</div>
	    <script src="lib/require.js" data-main='dist/scripts/wiki'></script>
        <div></div>
	</body>
</html>