<!doctype html>
<!--To put correct ie classes on document root to essentially enable css conditionals-->
<!--[if IE 7]>         <html class="lt-ie10 lt-ie9 lt-ie8" > <![endif]-->
<!--[if IE 8]>         <html class="lt-ie10 lt-ie9" > <![endif]-->
<!--[if IE 9]>         <html class="lt-ie10" > <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" > <!--<![endif]-->
<!--end css conditionals-->
<head>
    <title>Single Mocha Test - with code coverage</title>

    {% include head.html %}

    <script src="test/libraries/mocha.js"></script>
    <script src="test/libraries/chai.js"></script>
    <script src="test/libraries/require.js"></script>

    <script src="test/libraries/blanket.js" data-cover-never="specs" data-cover-flags="branchTracking"></script>
    <script src="test/config.js"></script>

    <script>
        requirejs.config({
            baseUrl: "./src/js/",
            paths: {
                specs: '../../test/specs'
            }
        });

    </script>
</head>
<body class="grid-1140" >
    <div class="skycom-container clearfix">
        <div class="alpha skycom-12">
            {{ content }}
        </div>
    </div>
</body>
</html>
