<!doctype html>
<!--To put correct ie classes on document root to essentially enable css conditionals-->
<!--[if IE 7]>         <html class="lt-ie10 lt-ie9 lt-ie8" > <![endif]-->
<!--[if IE 8]>         <html class="lt-ie10 lt-ie9" > <![endif]-->
<!--[if IE 9]>         <html class="lt-ie10" > <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" > <!--<![endif]-->
<!--end css conditionals-->
<head>
    <title>Mocha Tests - with code coverage</title>

    {% include head.html %}

    <script src="test/libraries/mocha.js"></script>
    <!--<script src="test/libraries/mocha-browserstack.js"></script>-->
    <script src="test/libraries/chai.js"></script>
    <script src="test/libraries/require.js"></script>

    <script src="test/config.js"></script>

</head>
<body class="grid-1140" >
    <div id="mocha"></div>
    <div class="skycom-container clearfix">
        <div class="alpha skycom-12">
            {{ content }}
        </div>
    </div>
    <script>
        require(
            {   baseUrl:'dist/scripts',
                paths: {suite: '../../test/suite',
                        specs: '../../test/specs'}
            },
            ["toolkit"],
            function(main) {
                require(["suite"], function(TestLoader) {
                    setTimeout(function(){
                        mocha.run();
                    },2000); //wait for blanket
                });
            }
        );
    </script>
</body>
</html>