<!doctype html>
<!--To put correct ie classes on document root to essentially enable css conditionals-->
<!--[if IE 7]>         <html class="lt-ie10 lt-ie9 lt-ie8" > <![endif]-->
<!--[if IE 8]>         <html class="lt-ie10 lt-ie9" > <![endif]-->
<!--[if IE 9]>         <html class="lt-ie10" > <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" > <!--<![endif]-->
<!--end css conditionals-->
	<head>

        {% include head.html %}

        <script src="test/libraries/mocha.js"></script>
        <script src="http://web-toolkit.global.sky.com/static/lib/require-2.1.9.min.js" data-main='dist/scripts/toolkit'></script>
        <script src="test/config.js" ></script>

	</head>
	<body class="grid-1140" >

        <div class="skycom-container clearfix">
			<div class="alpha skycom-12">
				{{ content }}	
			</div>
		</div>
	</body>
</html>
