.has-toggle{
  position: relative;
  .toggler{
    position: absolute;
    left: -20px;
    cursor: pointer;
    font-size: 0.5em;
    &:before{
      content: '[+]';
    }
    &.open:before{
      content: '[-]';
    }
    &:hover,
    &:hover:before{
      color: red;
    }
  }
}
.togglee{
  height: 0;
  overflow: hidden;
  &.open{
    height: auto;
    overflow: auto;
  }
}

.tab-list li{
  margin: 12px 0;
  float: left;
  padding: 4px 8px;
  cursor: pointer;
  color: $link;
  &:first-child{
    padding-left: 0;
  }
  &:hover{
    text-decoration: underline;
  }
}

.code-container{
  &.lightbox-content{
    padding: 12px;
    .lightbox-close{
      color: $primary;
    }
  }
  h3.add:after,
  h3.del:after{
    font-size: 0.5em;
    content: ' [changes]';
    padding-left: 8px;
    color: $inactive;
  }

  table {
    border-collapse: collapse;
    margin-top: 10px;
    width:99%;
    font-family: 'Bitstream Vera Sans Mono', Courier, monospace;
    border: 1px solid #CCC;
    display: block;
    clear: left;
    font-size:0.75em;
    line-height: 1.33em;
  }

  thead {
    display: block;
  }
  thead tr {
    font-weight: normal;
    text-align: left;
    height: 2em;
    border-bottom: 1px solid #DDD;
    background-color: #ECECEC;
    background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#ECECEC));
    background: -moz-linear-gradient(top,  #FAFAFA,  #ECECEC);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#ECECEC');
    display: block;
    line-height: 2em;
    td{
      display: block;
    }
  }
  tbody {
    max-width: 100%;
    display: block;
    overflow: auto;
    max-height: 400px;
  }

  td {
    padding: 1px 2px;
    white-space: pre;
  }

  td.bredecode {
    width: 100%;
    padding-left: 4px;
  }

  td.codekolom {
    text-align: right;
    min-width: 3em;
    background-color: #ECECEC;
    border-right: 1px solid #DDD;
    color: #AAA;
  }

  tr.add {
    background: #DFD;
  }

  tr.del {
    background: #FDD;
  }
  .styled {
    padding: 8px;
    border: 1px solid #CCC;

    &.js {
      display: none;
    }
  }

}