html{
  padding-bottom: 5em;
}

.demo-header{
  margin-bottom: 0;
  img{
    margin-right: 20px;
    float: left;
  }
  span{
    float: left;
    line-height: 1.25em;
  }
}
.demo-section {
  margin-bottom:25px;
}

.demo{
  margin-bottom: 40px;
}
.demo-section > h2{
  margin-top: 40px;
  margin-bottom: 0px;
}
.demo-h3{
  margin-bottom: 0;
}

.demo-h4{
  margin:0 0 16px;
}
.sub-section {
  margin-top: 52px;
}
.designer-notes{
  margin-top: 0;
}
.code-h3{
  margin: 0;
}
code {
  font-family: 'Monaco', courier, monospace;
  background: #fdf6e3; /* base3 */
  word-wrap: break-word;
  margin: 0px;
  padding: 2px;
  color: #657b83; /* base00 */
  font-size: 14px;
  margin-bottom: 5px;
}

code.block{
  white-space: pre;
}
.run-test{
  margin-left: 6px;
  float: right;
  position: relative;
  top: -2px;
  i{
    font-size: 20px;
  }
  &.failed{
    color:$error;
  }
  &.success{
    color:$success-icon;
  }
  &:hover i{
    color:$link;
  }
}
.result-summary{
  border: 1px solid $success-icon;
  color: $success-icon;
}
.dev-button {
  cursor: pointer;
  font-size: 12px;
  background: #eee;
  border-radius: 3px;
  line-height: 20px;
  display: inline-block;
  padding: 0 4px;
  position: relative;
  top: -5px;
  margin: 0 6px;

  &.error {
    color: $error;
    border: 1px solid $error;
  }

  i{
    font-size: 14px;
  }
}
.code-download{
  font-family: SkyTextRegular;
  font-size: 24px;
  margin-left: 16px;
  line-height: 3em;
  white-space: nowrap;
}

.block {
  display: block;
}

a[name]:not([href]){
  top: -5em;
  display: block;
  position: relative;
  z-index: -1;
}
body a[name=base-styles]{
  padding-top: 6px!important;
}

.demo-dl dt{
  font-family:SkyTextMedium;
  float: left;
  min-width: 150px;
}

ul.notes{
  list-style: initial;
  padding-left: 20px;
  margin-left: 20px;
  ul.notes{
    list-style-type: circle;
    font-size: 0.9em;
  }
}

#demo-tooltip {
  display: inline-block;
  &:hover {
    cursor: pointer;
  }
  span {
    padding-left: 8px;
  }
}
