.wiki-header{
  margin-bottom: 0;
}
.wiki-section {
	border-top: 2px solid #333;
    margin-bottom:25px;
}
.wiki-h3{
  border-bottom: 1px solid $key-line;
}
.run-test{
  float: right;
  i{
    font-size: 20px;
  }
  &.failed{
    color:$error;
  }
  &.success{
    color:$success-icon;
  }
  &:hover i{
    color:$link;
  }
}

#mocha {
  margin:0!important;
  h1, h2{
    line-height: 1em;
  }
}
.sub-section  #mocha-stats {
  position: inherit;
}

.block {
	display: block;
}

a[name]:not([href]){
  padding-top: 1em;
  display: block;
}

.wiki-header {
  small {
    color: #999;
  }
}

.wiki-dl dt{
  font-family:SkyTextMedium;
}

.init-notes,
.dependencies,
.developer-notes{
  display: none;
}

