.main-menu.tabs-container.page-nav [role=tablist]{
  margin-bottom: 0;
  > li.selected a,
  > li:hover a{
    border:0;
  }
}
.main-menu.tabs-container.page-nav .tabs{
  margin-top: 0;
  margin-bottom: 0;
  border:0;
}

.secondary-menu,
#toolkit-menu-tabs.stick{
  position: fixed;
  background: white;
  width: 100%;
  z-index: 5;
}

#toolkit-menu-tabs.stick{
  top:0;
}
.secondary-menu{
  bottom: 0;
  li{
    display: inline;
    line-height: 2em;
    padding: 0 8px;
    &:first-child{
      padding-left: 0;
    }
  }
}