body{
  padding-top: 2em!important;
}

.nav-container {
  z-index: 10;
  min-height: 2em;
  line-height: 2em;
  position: fixed;
  top: 0; left:0;
  width:100%;
  background-color: $background-dark;
}

.nav-container .main-menu{
  li{
    float: left;
    padding: 0 12px;
    margin: 0;
    background-color: $background-dark;
    a{
      padding:0 8px;
    }
    &.active > a{
      font-family: SkyTextMedium;
    }
    &:first-child{
      margin-left:-20px;
    }
  }
  .dropdown:hover,
  .active {
    background-color:$background-light;
    .dropdown-menu{
      opacity:1;
      padding: 0 2em;
      margin-top:2em;
      margin-left: -2em;
      background-color:$background-light;
      li{
        background-color:$background-light;
      }
    }
  }
  &:hover li .dropdown-menu,
  .dropdown-menu{
    overflow:hidden;
    transition:all 0.35s;
    position:absolute;
    opacity:0;
    top:0;
    margin-top:0em;
    z-index:-1;
  }
  &.primary-menu > li > a {
    font-size:1.15em;
  }
}

.nav-container.secondary-menu{
  top:auto;
  bottom:0;
}