.smash-img {
  background-image: url("../../wiki_images/smash.jpg");
  padding: 80px 50px;
  margin-bottom: 10px;
}

.beckham-img {
  background-image: url("../../wiki_images/beckham.jpg");
  padding: 80px 50px;
  margin-bottom: 10px;
}