<h3 class="wiki-h3">Getting Started</h3>
<p >
    Please look in the console for full developer notes
</p>
<p class="developer-notes">
    Please add the following classes to the <code>html</code> tag:
    <code>lt-ie10</code>, <code>lt-ie9</code> and <code>lt-ie8</code>
</p>
<p class="developer-notes">
    Please add the following into you <code>head</code> tag:
    <!--[if lt IE 10]><script type="text/javascript">
    document.createElement('header');
    document.createElement('section');
    document.createElement('footer');
    document.createElement('article');
    document.createElement('aside');
    document.createElement('hgroup');
    document.createElement('nav');
    document.createElement('figure');
    document.createElement('figcaption');
</script><![endif]-->
</p>
<div class="init">
    Javascript for the toolkit can be initialized for everything, or individual modules can be turned off.
e.g.    everything: <code>toolkit.init();</code>
e.g.    everything except share <code>toolkit.init({share: false});</code>
</div>