<h3 class="wiki-h3">Getting Started</h3>
<p >
    Please look in the console for full developer notes
</p>
<p>
    Please take a look here for anything that is not documented below. <a href="http://storage.sky.com/other/GlobalGuides.pdf">Global Guidelines</a>
</p>
<div class="init">
    Components that need javascript initialised can be initialized for everything, or individual modules can be turned off.
    e.g.    everything: <code>toolkit.modules.init();</code>
    e.g.    only Skycons <code>toolkit.modules.init({skycons: true});</code>
</div>

<p class="developer-notes">
    Please add the following classes to the <code>html</code> tag:
    <code>lt-ie10</code>, <code>lt-ie9</code> and <code>lt-ie8</code>
</p>
<p class="developer-notes">
    Please add the following into you <code>head</code> tag:
    <!--[if lt IE 10]><script type="text/javascript">
    document.createElement('header');
    document.createElement('section');
    document.createElement('footer');
    document.createElement('article');
    document.createElement('aside');
    document.createElement('hgroup');
    document.createElement('nav');
    document.createElement('figure');
    document.createElement('figcaption');
</script><![endif]-->
</p>
