summary { cursor: pointer; }
summary span {float: right;}

/* You can only use this: */
summary:focus, details>div:focus { outline: 0;}
/* When you include this: */
summary:focus { background: #ddd; }
/* Needed for browsers which don't understand details/summary */ 
details, summary { display: block; }
.no-details summary:hover, 
.no-details summary:focus { background: #ddd; }
.no-details details > * { display: none; }
.no-details details summary { display: block; }

/* in case the JS doesn't work in time */
.close { 
   display: none;
}