/* ============================================
                                Top level

=============================================*/

/* @todo improve styles for good/bad examples. */

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


html {
  height: 101%;
}

@font-face {
  font-family: 'SkyTextRegular';
  src: url('sky_regular.ttf') format('truetype'), 
       url('sky_regular.svg') format('svg');
}
@font-face {
  font-family: 'SkyTextMedium';
  src: url('sky_medium.ttf') format('truetype'), 
       url('sky_medium.svg') format('svg');
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  font-family: "SkyTextRegular", helvetica, arial;
}

main {
  display: block;
  padding: 0 5% 2rem;
  min-height: 300px;
}
main:after {
  content: "";
  display: table;
  clear: both;
}
/* ============================================
                                General stuff 

=============================================*/

.hidden {
	position: absolute;
	left: -9999px;
}

a.show-on:focus {
  left: 0;
  top: 90px;
  background: #036;
  color: #fff;
  padding: 3px;
  font-size: inherit;
  width: 100%;
  display: block;
  text-align: center;
}

h1, h2, h3, h4, p, aside {
  margin: 1.3rem 0 0;
}

h1 {
  color: #002469;
  line-height: 1.5;
  font-size: 1.6rem;
  margin: 1.5rem 0 0.5rem 0;
  text-transform: capitalize;
  letter-spacing: 1pt;
  word-spacing: 2pt;
  font-family: 'SkyTextMedium', helvetica, arial;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1.0rem;
  font-family: 'SkyTextMedium', helvetica, arial;
}

p {
  font-family: helvetica, arial;
  font-size: 0.9rem;
  margin: 1rem 0 0;
}
h1+p, h2+p, h3+p {
  margin-top: 0.1rem;
}

ol, ul {
  margin: 1rem 0 0 2rem;
}

li {
  margin: 0;
  padding: 0 0 0.2rem 0;
  font-family: helvetica, arial;
  font-size: 0.9rem;
}
li h3 {
  font-size: 1.1rem;
}

ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
ol ol, ul ul {
  margin: 0 0 0.6rem 1.5rem;
}

ul.informal {
  list-style: none;
}

ul.informal li {
  display: inline-block;
}

ul.col2 li {
  float: left;
  width: 49%;
}
ul.col2:after {
  content: "";
  display: table;
  clear: both;
}

strong {
  font-weight: 700;
}

img {
  max-width: 100%;
}

figure {
  margin: 1rem 0 0 0;
}
figcaption {
  margin: 0 0 0 1rem;
}
dl {
  margin: 1rem 0 0;
  font-family: helvetica, arial;
  font-size: 0.9rem;
}
dt{
  font-weight: bold;
  margin: 1rem 0 0;
}

h2, h3 {
  clear:both;
}

aside img {
  width: 45%;
  float: left;
  margin: 0 10px 20px 0;
}

table {
  border-collapse: collapse;
  margin: 1rem 0 0;
}

td, th {
  border: 1px #ccc solid;
  padding: 0.3rem;
}
th {
  text-align: left;
  font-weight: bold;
}

blockquote {
  background: #f3f3f3;
  background: -moz-linear-gradient(top,#e9e9e9 0,#fbfbfb 2%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e9e9e9),color-stop(2%,#fbfbfb));
  background: -webkit-linear-gradient(top,#e9e9e9 0,#fbfbfb 2%);
  background: -o-linear-gradient(top,#e9e9e9 0,#fbfbfb 2%);
  background: -ms-linear-gradient(top,#e9e9e9 0,#fbfbfb 2%);
  background: linear-gradient(to bottom,#e9e9e9 0,#fbfbfb 2%);
}
blockquote p {
  padding: 0.5rem 0;
  }

q {
  font-style: italic;
}

pre {
  margin: 1.3rem 0 0;
  padding: 4px;
  border: 1px solid #e2e2e2;
  background: #f3f3f3;
  background: -moz-linear-gradient(top,#e9e9e9 0,#fbfbfb 2%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e9e9e9),color-stop(2%,#fbfbfb));
  background: -webkit-linear-gradient(top,#e9e9e9 0,#fbfbfb 2%);
  background: -o-linear-gradient(top,#e9e9e9 0,#fbfbfb 2%);
  background: -ms-linear-gradient(top,#e9e9e9 0,#fbfbfb 2%);
  background: linear-gradient(to bottom,#e9e9e9 0,#fbfbfb 2%);
  overflow-x: auto
}

code {
  font-family: "Courier New", sans-serif; 
  font-size: 0.85rem;
}

ol.dialogue {
  list-style-type: none;
  margin: 1rem 0 0 0;
}

ol.dialogue span {font-weight: bold;}

q { quotes: '"' '"' "'" "'" }
q:before { content: open-quote }
q:after  { content: close-quote }

.player {
  margin: 1rem 0 0;
}
hr {margin-left: 0;}

kbd {
  border: 1px #999 solid; 
  padding: 0.1rem 0.2rem; 
  background: #eee;
}

details {
  margin: 0.5rem 0 0 0.5rem;
}
details:first-child {
  margin-top: 1rem;
}
details p {
  margin-left: 1rem;
}
summary { 
  cursor: pointer; 
  font-weight: bold;
}

/* Needed for non-webkit browsers which don't understand details/summary */ 
details, summary { display: block; }
.no-details summary:hover, .no-details summary:focus { background: #ddd; }
.no-details details > * { display: none; }
.no-details details summary { display: block; }



/* ============================================
                                Header area 

=============================================*/

header[role=banner] p {
  margin: 10px 20px;
}

.logo1 img, .logo2 img {
  max-width: 150px;
}

.logo1 {
  margin: 15px 0 0 10px;
}


.logo2 {
  float: right;
  margin: 20px 0 10px;
}

a .logo2:hover, a .logo2:hover {
  outline: 1px blue solid;
}


/* ============================================
                                Main Nav 

=============================================*/ 

nav.main-menu {  
  clear: both;
  border: 1px solid #cdcdcd;
  background: #ddd;
  background: -moz-linear-gradient(top,white 0,#e5e5e5 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,white),color-stop(100%,#e5e5e5));
  background: -webkit-linear-gradient(top,white 0,#e5e5e5 100%);
  background: -o-linear-gradient(top,white 0,#e5e5e5 100%);
  background: -ms-linear-gradient(top,white 0,#e5e5e5 100%);
  background: linear-gradient(to bottom,white 0,#e5e5e5 100%);
}

nav.main-menu ul { 
  text-align: center;
  margin: 0;
} 

nav.main-menu li { 
	display: inline; 
  font-family: "SkyTextRegular", helvetica, arial;
  padding: 0;
}

nav.main-menu a { 
  font-size: 1.2rem;
  color: #333;
  display: inline-block;
  padding: 7px 9px 7px 9px;
  text-decoration: none;
}

nav.main-menu a:focus, nav.main-menu a:hover { 
  color: #fff;
  background: #18bdff;
  background: -moz-linear-gradient(top,#08b3f5 0,#234b86 100%);
  background: -webkit-linear-gradient(top,#08b3f5 0,#234b86 100%);
  background: -o-linear-gradient(top,#08b3f5 0,#234b86 100%);
  background: -ms-linear-gradient(top,#08b3f5 0,#234b86 100%);
  background: linear-gradient(top bottom,#08b3f5 0,#234b86 100%);       
}

/* ============================================
                                Secondary Nav 

=============================================*/ 

.secondary-nav h2 {
  margin-left: 1rem;
}

.secondary-nav ul {
  list-style-type: none;
  margin: 1rem 0 0 0.5rem;
}

.secondary-nav li {
  border-bottom: 1px solid #e2e2e2;
}

.secondary-nav a {
  color: #333;
  display: block;
  padding: 6px 10px 6px 11px;
  text-decoration: none;
}
.secondary-nav .toc-h1 a {
  font-size: 1.1rem;
}
.secondary-nav a:hover, .secondary-nav a:focus {
  text-decoration: underline;
}
.secondary-nav a:focus {
  color: #fff;
  background: #333;
}

/* ============================================
                                Content only

=============================================*/ 

/* max line-widths for content area */
main h1, main h2, main h3, main p, main li, main figure, main blockquote, main pre, main>div, main hr, main details {
  max-width: 35rem;
} 
main ol, main ul, main dd {
  max-width: 33rem;
}

/* ensure you don't get an outline by clicking in the content area, related to the skip-link fix. */
main:focus, #top:focus {outline: 0;}

/* Used for images and figure elements */
.right {
  float: right;
  width: 40%;
  margin: 1.3rem 0 20px 10px;
}

img.bordered {
  border: 1px #ccc solid;
}
img.smaller {
  width: 50%;
}

.badexample, .goodexample {
  background-color: #ecc;
  padding: 0 5px 5px;
}
.goodexample {
  background-color: #cec;
}

blockquote.levelA p:first-child, blockquote.levelAA p:first-child {
  background: url("../images/levelA.png") 5px 10px no-repeat;
  padding-left: 40px;
  min-height: 40px
}
blockquote.levelAA p:first-child {
  background-image: url("../images/levelAA.png");
}


.cheatsheet dl {
  border-bottom: 1px #ccc solid;
  display: inline-block;
  margin-bottom: 1.5rem;
}

.cheatsheet dt {
  font-weight: bold;
  margin: 0.7rem 0 0.2rem 0;
  border-top: 1px #ccc solid;
  padding: 0.2rem 0.6rem;
}

.cheatsheet dd {
  margin: 0 0 0.5rem 1.9rem;
}



/* ============================================
                                Footer

=============================================*/ 

footer {
  text-align: center;
  border-top: 1px solid #e2e2e2;
  clear: both;
  background: #f3f3f3;
  background: -moz-linear-gradient(top,#e9e9e9 0,#fbfbfb 2%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e9e9e9),color-stop(2%,#fbfbfb));
  background: -webkit-linear-gradient(top,#e9e9e9 0,#fbfbfb 2%);
  background: -o-linear-gradient(top,#e9e9e9 0,#fbfbfb 2%);
  background: -ms-linear-gradient(top,#e9e9e9 0,#fbfbfb 2%);
  background: linear-gradient(to bottom,#e9e9e9 0,#fbfbfb 2%);
}

footer ul {
  list-style-type: none;
}

/* ============================================
                                Media Queries

=============================================*/ 

body:after {
    content: '0';
    display: none;
  }

@media only screen and (min-width: 480px) {
  
  body:after {
    content: '480';
    display: none;
  }

  .logo1, .logo2 img {
     max-width: none;
  }

}

@media screen and (min-width: 768px) {

  body:after {
    content: '768';
    display: none;
  }


  main {
    width: 58%;
    padding: 0 0 2rem 5%;
  }
  main.wide {
    width:auto;
  }
  .secondary-nav {
    float: right;
    position: absolute;
    top: 165px;
    right: 0;
    width: 35%;
  }
  .col2 {
    width: 44%;
    margin-right: 4%;
    float: left;
  }
  .col2>h2:first-child {
    margin-top: 0.6rem;
  }

}

@media print {
  nav {display: none;}
}
