<aside class="skycom-container breadcrumb">
    <h2 class="speak">Navigational Trail</h2>
    <ul class="breadcrumb__list">
        <li><a href="#">Help &amp; Support</a></li>
        <li><i class="skycon skycon--chevron skycon--active" aria-hidden="true"></i><a href="#">Profile &amp; Setting</a></li>
        <li><i class="skycon skycon--chevron skycon--active" aria-hidden="true"></i><a href="#">Change your subscription</a></li>
    </ul>
</aside>

<p>
    <a href="http://skyglobal.github.io/breadcrumb/"><i class="skycon-chevron"></i>
        Detailed usage and examples of the <code>breadcrumb</code> component
    </a>.</p>