<p class="designer-notes skycom-7 alpha">
    Colours must be accessible, i.e. foreground and background must have high contrast
</p>

<div class="skycom-2 alpha demo-colour-block">
    <div class="white demo-sky-1 cushioned">Sky 1</div>
    <div class="demo-hex secondary">#0076be</div>
</div>
<div class="skycom-2 demo-colour-block ">
    <div class="white  demo-sky-atlantic cushioned">Sky Atlantic</div>
    <div class="demo-hex secondary">#003663</div>
</div>
<div class="skycom-2 demo-colour-block ">
    <div class="white  demo-sky-arts cushioned">Sky Arts</div>
    <div class="demo-hex secondary">#734993</div>
</div>
<div class="skycom-2 demo-colour-block ">
    <div class="white  demo-sky-living cushioned">Sky Living</div>
    <div class="demo-hex secondary">#87a0af</div>
</div>
<div class="skycom-2 demo-colour-block ">
    <div class="white  demo-sky-movies cushioned">Sky Movies</div>
    <div class="demo-hex secondary">#a51d4d</div>
</div>

<p class="skycom-12 alpha">
    <a href="http://skyglobal.github.io/colours/"><i class="skycon-chevron"></i>A full list of available colours</a>.
</p>