<table id=wiki-icons class="icons-table">
    <thead>
    <tr>
        <th>Icon</th>
        <th>CSS Class</th>
        <th>How it looks</th>
    </tr>
    </thead>
    <tbody>
    <tr ><td>watch-now</td><td> icon-watch-now</td><td class="icon"><i class=" icon-watch-now"></i></td></tr>

    <tr ><td>curved-arrow-bottom-left</td><td> icon-curved-arrow-bottom-left</td><td class="icon"><i class=" icon-curved-arrow-bottom-left"></i></td></tr>
    <tr ><td>curved-arrow-down</td><td> icon-curved-arrow-down</td><td class="icon"><i class=" icon-curved-arrow-down"></i></td></tr>
    <tr ><td>curved-arrow-right</td><td> icon-curved-arrow-right</td><td class="icon"><i class=" icon-curved-arrow-right"></i></td></tr>
    <tr ><td>curved-arrow-top-right</td><td> icon-curved-arrow-top-right</td><td class="icon"><i class=" icon-curved-arrow-top-right"></i></td></tr>
    <tr ><td>video-play</td><td> icon-video-play</td><td class="icon"><i class=" icon-video-play"></i></td></tr>

    </tbody>
</table>