<div class="share-popup clearfix">
    <a class="summary" href="#!" data-tracking-context="Shared article title" aria-label="Shared 146 times. Click to show share options">
        <i class="skycon-share"></i>
        <span class="share-word" aria-hidden="true">Share</span>
        <span class="share-count" aria-hidden="true">146</span>
    </a>
    <ul class="popover">
        <li class="tweet-button">
            <a class='tweet-link hover-colour' data-popup="{'width': '550','height':'420','title':'twitter-share-dialog'}"  href='https://twitter.com/intent/tweet?url=http%3A%2F%2Fnews.sky.com%2Fstory%2F1066004%2Fcyprus-bailout-savings-shift-amid-russia-offer&text=Cyprus Bailout: Savings Shift Amid Russia Offer' target='_blank'><i aria-hidden=true class='skycon-twitter'></i><span class='speak display-name'>Twitter</span></a><span class='share-count'>137</span>
        </li>
        <li class="facebook-button">
            <a class='fb-link hover-colour' data-popup="{'width': '626','height':'436','title':'facebook-share-dialog'}" target='_blank' href='https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fapps.facebook.com%2Fskynewsfb%2Farticle.php%3Fid%3D1066004'><i aria-hidden=true class='skycon-facebook'></i><span class='speak display-name'>Facebook</span></a><span class='share-count'>5</span>
        </li>
        <li class="gplus-button">
            <a class='gplus-link hover-colour' data-popup="{'width': '550','height':'420','title':'gplus-share-dialog'}"  target='_blank' href='https://plus.google.com/share?url=http%3A%2F%2Fnews.sky.com%2Fstory%2F1066004%2Fcyprus-bailout-savings-shift-amid-russia-offer'><i aria-hidden=true class='skycon-google-plus'></i><span class='speak display-name'>Google+</span></a><span class='share-count'>4</span>
        </li>
        <li class="email-button">
            <a class='email-link hover-colour' target='_blank' href='mailto:?subject=Sharing - Cyprus Bailout: Savings Shift Amid Russia Offer&body=http%3A%2F%2Fnews.sky.com%2Fstory%2F1066004%2Fcyprus-bailout-savings-shift-amid-russia-offer'><i aria-hidden=true class='skycon-mail'></i><span class='speak display-name'>Mail</span></a>
        </li>
    </ul>
</div>